.request_quotation_inner
    DashboardController(v-bind:savedbtn='true',v-bind:discardbtn='true', v-bind:links="btnlinks",v-bind:num1='true', v-bind:num2='true', v-bind:heading="head")
    .o_content.samocontent#tax1(style='margin-left:-15px; margin-right:-15px;')
        .o_view_manager_content
            .o_form_view.o_form_readonly
                header
                    button.btn.btn-sm.oe_highlight(type='button')
                        span Confirm
                    button.btn.btn-sm.oe_highlight.o_form_invisible(type='button')
                        span Capture Transaction
                    button.btn.btn-sm.o_form_invisible(type='button')
                        span Void Transaction
                    ul.oe_form_field_status.oe_form_status_clickable.o_form_field.o_form_required
                        li.oe_active(data-id='draft')
                            span.label Draft
                            span.arrow
                                span
                        li(data-id='pending')
                            span.label Posted
                            span.arrow(style='color: transparent;')
                                span
                        li(data-id='authorized')
                            span.label Reconciled
                            span.arrow
                                span

                .o_form_sheet_bg
                    .o_form_sheet
                        .row

                            table.o_group.o_inner_group
                                tbody(style='line-height: 2.5;')

                                    tr
                                        td.o_td_label.one(colspan='1')
                                            label.o_form_label(style='font-size: 0.9rem; padding-left: 13px;')
                                                | Payment Type
                                        td.two(colspan='1', style='width: 50%;')
                                            div
                                                .o_form_field_radio.o_vertical.o_form_field
                                                    .o_radio_item
                                                        input#radio41_0.o_form_radio(type='radio', name='radio41', value='0')
                                                        label.o_form_label(for='radio41_0')
                                                            | Send Money
                                                    .o_radio_item
                                                        input#radio41_1.o_form_radio(type='radio', name='radio41', value='1')
                                                        label.o_form_label(for='radio41_1') Recieve Money
                                                    .o_radio_item
                                                        input#radio41_1.o_form_radio(type='radio', name='radio41', value='1')
                                                        label.o_form_label(for='radio41_1') Internal Transfer


                                        td.o_td_label.one(colspan='1')
                                            label.o_form_label
                                                | Payment Date
                                        td.two(colspan='1', style='width: 50%;')
                                            form#dateRangeForm.form-horizontal(method='post')
                                                .form-group
                                                    #dateRangePicker.input-group.input-append.date
                                                        input.input-group-addon.form-control(value='03/08/2017', type='text', name='date', style=' font-size:0.8rem;background-color: #D2D2FF; height: 25px; width: 250px;  text-align: left;  margin-right: 10px;')





                                    tr
                                        td.o_td_label.one(colspan='1')
                                            .o_form_field_many2one.o_with_button.o_form_field.o_form_required
                                                .o_form_input_dropdown(style='')
                                                    select#o_field_input_176.o_form_input.o_form_field(style='width:172px;')(name='format')
                                                        option(value='true') Customer
                                                        option(value='') Vendor
                                        td.two(colspan='1', style='width: 50%;')
                                            .o_form_field_many2one.o_with_button.o_form_field.o_form_required
                                                .o_form_input_dropdown(style='')
                                                    select#o_field_input_176.o_form_input.o_form_field(style='width:137px;')(name='format')
                                                        option(value='true') Administrators, Pieter Parter's Farm
                                                        option(value='') My Company;wojjfp;ofo, Chicago

                                                    button.fa.fa-external-link.btn.btn-default.o_external_button(style='background-color: transparent; !important')(draggable='false', tabindex='-1', type='button')

                                        td.o_td_label.one(colspan='1')
                                            label.o_form_label(style='font-size: 0.8rem;')
                                                | Memo
                                        td.two(colspan='1', style='width: 50%;')
                                            input#o_field_input_87.o_form_input.o_form_field(style=' height: 24px; ')(value='asdas' ,type='text')

                                    tr
                                        td.o_td_label.one(colspan='1')
                                            label.o_form_label(style='padding-left: 13px;')
                                                | Payment Journal
                                        td.two(colspan='1', style='width: 50%;')
                                            .o_form_field_many2one.o_with_button.o_form_field.o_form_required
                                                .o_form_input_dropdown(style='')
                                                    select#o_field_input_176.o_form_input.o_form_field(style='width: 89%;')(name='format')
                                                        option(value='true') Bank (EUR)
                                                        option(value='') Cash(EUR)

                                        td.o_td_label.one(colspan='1')

                                        td.two(colspan='1', style='width: 50%;')

                                    tr
                                        td.o_td_label.one(colspan='1')
                                            label.o_form_label(style='padding-left: 13px;')
                                                | Payment Amount
                                        td.two(colspan='1', style='width: 50%;')
                                            input#o_field_input_87.o_form_input.o_form_field(style='width: 37%; height: 24px; background-color: #D2D2FF;')(value='0.00', type='text')
                                            select#o_field_input_176.o_form_input.o_form_field(style='width: 51%; background-color: #D2D2FF;')(name='format')
                                                option(value='true') EUR
                                                option(value='') AED


                                        td.o_td_label.one(colspan='1')

                                        td.two(colspan='1', style='width: 50%;')

                                    tr
                                        td.o_td_label.one(colspan='1')
                                            label.o_form_label(style='padding-left: 13px;')
                                                | Payment Transaction
                                        td.two(colspan='1', style='width: 50%;')
                                            .o_form_field_many2one.o_with_button.o_form_field.o_form_required
                                                .o_form_input_dropdown(style='')
                                                    select#o_field_input_176.o_form_input.o_form_field(style='width:86%; background-color:transparent;')(name='format')
                                                        option(value='true') gg
                                                        option(value='') Create & Edit

                                                    button.fa.fa-external-link.btn.btn-default.o_external_button(style='background-color: transparent; !important')(draggable='false', tabindex='-1', type='button')


                                        td.o_td_label.one(colspan='1')

                                        td.two(colspan='1', style='width: 50%;')

