.ReportLeaves
    DashboardController(v-bind:save='false',v-bind:validatebtn='false',v-bind:importbtn='false',v-bind:measurebtn='true',v-bind:searchbar='true',v-bind:heading="activityimport",v-bind:editbtn='false',v-bind:printbtn='false',v-bind:Attachmentbtn='false',v-bind:actionbtn='false',v-bind:createbtn='false',v-bind:links="btnlinks")
    Pivot