.row
    table.table.table-striped.samotable
        thead.samotablehead
            tr
                th.o_list_record_selector.samotableheadborder(width='1')
                    .o_checkbox
                        input(type='checkbox')
                        span

                th.samotableheadborder Name
                th.samotableheadborder Login
                th.samotableheadborder Language
                th.samotableheadborder Latest Connection


        tfoot
            tr
                td
                td
                td
                td


        tbody.samotbody
            tr
                th.o_list_record_selector.samotablepadd(width='1')
                    .o_checkbox
                        input(type='checkbox')
                        span
                td.samotablepadd
                    router-link.links(to='Tabs') PO00007
                td.samotablepadd Otto
                td.samotablepadd @mdo
                td.samotablepadd Mark

            tr
                th.o_list_record_selector.samotablepadd(width='1')
                    .o_checkbox
                        input(type='checkbox')
                        span
                td.samotablepadd Mark
                td.samotablepadd Otto
                td.samotablepadd @mdo
                td.samotablepadd Mark


            tr
                th.o_list_record_selector(width='1')
                    .o_checkbox
                        input(type='checkbox')
                        span
                td.samotablepadd Mark
                td.samotablepadd Otto
                td.samotablepadd @mdo
                td.samotablepadd Mark


            tr
                th.o_list_record_selector.samotablepadd(width='1')
                    .o_checkbox
                        input(type='checkbox')
                        span
                td.samotablepadd Mark
                td.samotablepadd Otto
                td.samotablepadd @mdo
                td.samotablepadd Mark


