.sales
        DashboardController(v-bind:heading="activities",v-bind:savedbtn='true',v-bind:importbtn='true', v-bind:links="btnlinks",v-bind:searchbar='true',v-bind:num1='true',v-bind:num2='true',v-bind:firstbtn='true',v-bind:secondbtn='true',v-bind:thirdbtn='true',v-bind:fourthbtn='true',v-bind:fifthbtn='true')
        TableMain(v-bind:tableheader='tableheader', v-bind:tabledata="tabledata", v-bind:tablefoot="tablefoot")