.outgoingemailserver
    DashboardController(v-bind:createbtn='true',v-bind:actionbtn='true',v-bind:exportbtn='true',v-bind:deletebtn='true', v-bind:importbtn='true',v-bind:heading="head",v-bind:links="btnlinks",v-bind:searchbar='true',v-bind:dropdownbtn1='true',v-bind:dropdownbtn2='true',v-bind:dropdownbtn3='true')
        .col-sm-6(style='padding:0px;' ,slot='heading')
            h4.samodashheading(style="font-size: 18px;") General Settings / Outgoing Mail Servers
    Tablemain(v-bind:tableheader='tableheader', v-bind:tabledata="tabledata",v-bind:tablefoot="tablefoot")