div
    com-header
    h3.mb-4 {{ title }}
    div.row
        div.col-md-4.mb-3
            div.card.shadwo-2
                h3.card-header Users
                div.card-block
                    h2.card-title.text-center.m-0 50
                div.card-footer
                    div.text-right
                        a(href="#/users") See all Users
        div.col-md-4.mb-3
            div.card.shadwo-2
                h3.card-header Departments
                div.card-block
                    h2.card-title.text-center.m-0 50
                div.card-footer
                    div.text-right
                        a(href="#/departments") See all Departments