.row
    .col-md-12.pull-left.samotopcontroller
        .col-md-5.pull-left
            .col-xs-3.pull-left
                button.btn.btn-primary.samobutton1(type='button') Re-Send RFQ by Email
            .col-xs-3.pull-left
                button.btn.btn-primary.samobutton1(type='button') Print RFQ
            .col-xs-3.pull-left
                button.btn.btn-primary.samobutton2(type='button') Confirm Order
            .col-xs-3.pull-left
                button.btn.btn-primary.samobutton2(type='button') Apply
            .col-xs-3.pull-left
                button.btn.btn-primary.samobutton1(type='button') Cancel
        .col-md-1.pull-left
        .col-md-3.pull-left
        .col-md-3.pull-right
            .btn-group.btn-breadcrumb.samobreadcrum1
                a.btn.btn-primary.samobreadbutt(href='#') RFQ
                a.btn.btn-primary.samobreadbutt1(href='#') RFQ Sent
                a.btn.btn-primary.samobreadbutt(href='#') Purchase Order




