/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.samosidebar {
    position: fixed;
    width: auto;
    max-width: 283px;
    min-width: 100px;
    top: 51px;
    bottom: 0;
    font-size: 13px;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    border-right: 1px solid #afafb6;
}

/*.topcontroller{*/
    /*width: 100%;*/
/*}*/

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.samoulside{

    list-style-type: none;
    padding: 0px;
    color:#7c7bad;
    font-weight: bold;
    line-height: 2.1em;
}

.samoimgside{
    padding-bottom: 16px;
}
.samoliside{
    padding-left: 13px;
    color:#4c4c4c !important;
    font-weight: 100 !important;
}

.samdashul{
    line-height: 0px;

}

.samoworkpanel{
    background-color: #f5f5f5;
    padding-left: 239px;

}

.samotopcontroller{
    border-bottom: 1px solid rgba(128, 128, 128, 0.18);
    border-top: 1px solid #afafb6;
    background-color: #ededed;
    height: 36px;
    padding: 0px;
}

.samobuttopcontroller{

    margin-left: 6px;
    background-color: #7c7bad;
    border-color:#7c7bad;
    border-radius: 3px;;
}
.samobuttopcontroller1{
    background-color: #7c7bad;
    border-color:#7c7bad;
    border-radius: 3px;
}

.samobuttopcontroller:hover{

    background-color: #5f5e97;
    border-color:#7c7bad ;
}
.samobuttopcontroller1:hover{
    background-color: #5f5e97;
    border-color:#7c7bad ;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
    border-left: 10px solid #807fa9;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
    border-left: 10px solid darkgrey;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
    border-left: 10px solid darkgrey;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
    border-left: 10px solid darkgrey;
}
.btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}
.samobreadcrums{

    float: right;
}

.samobutton1{

    color: #4c4c4c;
    background-color: white;
    border-color: #cccccc;
    font-size: 13px;
}
.samobutton2{

    color: white;
    background-color: #7c7bad;
    border-color: #7c7bad;
    font-size: 13px;
}
.samobutton2:hover{

    color: white;
    background-color: #5f5e97;
    border-color: #5b5a91;
    font-size: 13px;
}

.samobutton1:hover{

    color: #4c4c4c;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.samobreadbutt{
    color:#4c4c4c;
    background-color:#ededed;
    border-color:#ededed;
    font-size: 13px;

}

.samobreadbutt1{
    color:white;
    background-color:#807fa9;
    border-color:#ededed;
    font-size: 13px;

}

.samobreadcrum{
    border-color: #ededed;
    color:#4c4c4c ;
    background-color:#ededed;

}
.samobreadcrum1{
    height: 34px;
    float: right;
}

.samobreadcrum:hover{
    border-color: #ededed;
    color:#4c4c4c ;
    background-color:#ededed;
}
.samobreadcrum:focus{
    border-color: #ededed;
    color:#4c4c4c ;
    background-color:#ededed;
}
.samobreadcrum:visited{
    border-color: #ededed;
    color:#4c4c4c ;
    background-color:#ededed;
}
.samobreadcrum:active{
    border-color: #ededed;
    color:white ;
    background-color:#7c7bad ;
}
.samobreadbutt:hover{
    color:#4c4c4c;
    background-color:#ededed;
    border-color:#ededed;

}
.samobreadbutt:active{
    color:white;
    background-color:#7c7bad ;
    border-color:#ededed;

}
.samobreadbutt:focus{
    color:#4c4c4c;
    background-color:#ededed;
    border-color:#ededed;

}
.samobreadbutt:visited{
    color:#4c4c4c;
    background-color:#ededed;
    border-color:#ededed;

}

.samodashcont{

    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    background-color: #f0eeee;
    border-bottom: 1px solid #a8a8a8;
}



.samodashheading{

    color: #777777;
    font-size: 20px;

}

.samodashbuttcorner{
    float:right;
    padding-left: 7px;

}

.dashcontrollerbutton{
    padding: 0px;
    display: inline-block;
}


.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.samodashheadingmain{

    display: inline-block;
}

.samodashsearch{
    display: inline-block;
}

.samodashcorner{
    display:inline-block;

}
.samodashnull{
    display:inline-block;

}

.samosearchicon{
    background-color: white;
}
.row{
    width: 1586px;
}