.container
    .col-xs-12
        h4.samohead Sale
        .row
            .col-xs-3(style='font-weight: bold;')
                .one.samoone
                    label(style='font-size:15px;padding-right:25px;')
                        | Scheduled Date
                    br
                    br
                    label(style='font-size:15px;')
                        | Incoterm
                    br


            .col-xs-4.osahass(style='')
                .two
                    input.form-check-input.samocheckbox(type='checkbox')










