.o_content(style='margin-left:-15px;margin-right:-15px;')
    .o_view_manager_content
        .o_form_view.o_form_readonly
            header
                button.btn.btn-sm.oe_highlight.o_expense_submit(type='button')
                    span Submit to Manager
                ul.oe_form_field_status.oe_form_status.o_form_field(data-original-title='', title='')
                    li.oe_active(data-id='draft')
                        span.label To Submit
                        span.arrow
                            span
                    li(data-id='reported')
                        span.label Reported
                        span.arrow
                            span
                    li(data-id='done')
                        span.label Posted
                        span.arrow
                            span
                button.btn.btn-sm.oe_highlight.o_form_invisible(type='button')
                    span View Report
            .o_form_sheet_bg
                .o_form_sheet
                    .oe_button_box
                        button.btn.btn-sm.oe_stat_button(type='button')
                            .fa.fa-fw.fa-book.o_button_icon
                            .o_form_field.o_stat_info
                                span.o_stat_value 0
                                span.o_stat_text Documents
                    .oe_title
                        label.o_form_label(for='o_field_input_15')
                            | Expense Description
                        h1
                            span.o_form_field.o_form_required Travel by Air
                    .o_group
                        table.o_group.o_inner_group.o_group_col_6
                            tbody
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label(for='o_field_input_16')
                                            | Product
                                    td(colspan='1', style='width: 100%;')
                                        a.o_form_uri.o_form_field.o_form_required(href='#') [AT] Air Flight
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label(for='o_field_input_17')
                                            | Unit Price
                                    td(colspan='1', style='width: 100%;')
                                        span.o_form_field.o_form_required.o_form_field_number
                                            | 700.00
                                            span Rs.
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label(for='o_field_input_18')
                                            | Quantity
                                    td(colspan='1', style='width: 100%;')
                                        div
                                            span.oe_inline.o_form_field.o_form_required.o_form_field_number 1.000
                                            span.oe_inline.o_form_field.o_form_required.o_form_invisible Unit(s)
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label.o_form_invisible.o_form_label_empty(for='o_field_input_19')
                                            | Taxes
                                    td(colspan='1', style='width: 100%;')
                                        .o_form_field_many2manytags.o_form_field.o_form_invisible.o_form_field_empty
                        table.o_group.o_inner_group.o_group_col_6
                            tbody
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label.o_form_label_empty.o_form_label_false(for='o_field_input_20')
                                            | Bill Reference
                                    td(colspan='1', style='width: 100%;')
                                        span.o_form_field.o_form_field_empty
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label(for='o_field_input_21')
                                            | Date
                                    td(colspan='1', style='width: 100%;')
                                        span.o_form_field_date.o_form_field 02/18/2017
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label(for='o_field_input_22')
                                            | Account
                                    td(colspan='1', style='width: 100%;')
                                        a.o_form_uri.o_form_field(href='#') 220000 Expenses
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label(for='o_field_input_23')
                                            | Employee
                                    td(colspan='1', style='width: 100%;')
                                        a.o_form_uri.o_form_field.o_form_required(href='#') Administrators
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label.o_form_invisible.o_form_label_empty.o_form_label_false(for='o_field_input_24')
                                            | Expense Report
                                    td(colspan='1', style='width: 100%;')
                                        a.o_form_uri.o_form_field.o_form_invisible.o_form_field_empty(href='#')
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label(for='o_field_input_25')
                                            | Currency
                                    td(colspan='1', style='width: 100%;')
                                        a.o_form_uri.o_form_field(href='#') pas
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label.o_form_invisible(for='o_field_input_26')
                                            | Analytic Account
                                    td(colspan='1', style='width: 100%;')
                                        a.o_form_uri.o_form_field.o_form_invisible(href='#') Our Super Product - Agrolait
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label(for='o_field_input_27')
                                            | Company
                                    td(colspan='1', style='width: 100%;')
                                        a.o_form_uri.o_form_field(href='#') Alupak Industriess
                        table.o_group.o_inner_group.o_group_col_6
                            tbody
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label(for='o_field_input_28')
                                            | Total
                                    td(colspan='1', style='width: 100%;')
                                        span.o_form_field.o_form_field_number
                                            | 700.00
                                            span Rs.
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label(for='o_field_input_29')
                                            | Payment By
                                    td(colspan='1', style='width: 100%;')
                                        div
                                            span.o_form_field Employee (to reimburse)
                    div
                        span.o_form_textarea.o_form_field.o_form_field_empty
                        textarea.o_form_textarea.o_form_field(disabled='', style='position: absolute; opacity: 0; height: 10px; top: -10000px; left: -10000px; width: 10px;')
                        textarea.o_form_textarea.o_form_field(disabled='', style='position: absolute; opacity: 0; height: 10px; top: -10000px; left: -10000px; width: 10px;')
                        textarea.o_form_textarea.o_form_field(disabled='', style='position: absolute; opacity: 0; height: 10px; top: -10000px; left: -10000px; width: 10px;')
                        textarea.o_form_textarea.o_form_field(disabled='', style='position: absolute; opacity: 0; height: 10px; top: -10000px; left: -10000px; width: 10px;')
