doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title= title
        link(rel="shortcut icon" href="/images/icon.ico" type="image/x-icon")
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        if(!error)
            link(rel='stylesheet' href='/stylesheets/bootstrap-datepicker.min.css')
            link(rel='stylesheet' href='/stylesheets/fullcalendar.min.css')
            link(rel='stylesheet' href='/stylesheets/calendarT.css')
            link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
            link(rel='stylesheet', href='/stylesheets/style.css')
            link(rel='stylesheet', href='/plugins/emoji-picker/lib/css/jquery.mCustomScrollbar.min.css')
            link(rel='stylesheet', href='/plugins/emoji-picker/dist/css/jquery.emoji.css')
            link(rel='stylesheet', href='/plugins/emoji-picker/src/css/jquery.emoji.css')
            link(rel='stylesheet', href='/plugins/emoji-picker/lib/css/railscasts.css')
            link(rel='stylesheet', href='/plugins/emoji-picker/dist/css/index.css')
            link(rel='stylesheet', href='/Modules/Setting/build.css')





    body
        div.container-fluid#main
            router-view
        if(!error)
            //script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/prism.min.js')



            //FOR electron DO not remove.
            <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
            <script>window.$ = window.jQuery = require('jquery')</script>
            <script>if (window.module) module = window.module;</script>



            script(src='/javascripts/jquery.min.js')
            script(src='/javascripts/jqueryui.js')
            script(src='/plugins/ckeditor/ckeditor.js')
            //script(src='http://cdn.bootcss.com/jquery/1.11.3/jquery.js')

            script(src='/plugins/emoji-picker/lib/script/jquery.mousewheel-3.0.6.min.js')
            script(src='/plugins/emoji-picker/lib/script/jquery.mCustomScrollbar.min.js')
            script(src='/plugins/emoji-picker/src/js/jquery.emoji.js')



            //script(src='/javascripts/vue-sortable.js')
            script(src='/javascripts/tether.min.js')
            script(src='/javascripts/bootstrap.min.js')
            script(src='/javascripts/bootstrap-datepicker.min.js')

            //script(src='//cdn.ckeditor.com/4.6.2/standard/ckeditor.js')

            script(src='/javascripts/moment.min.js')
            script(src='/javascripts/fullcalendar.min.js')
            script(src='/javascripts/calendarT.js')
            script(src='/Modules/Setting/build.js')
            script(src='/javascripts/app-script.js')

