doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title
    link(rel="shortcut icon" href="/images/icon.ico" type="image/x-icon")
  body
    h1 Kay baat krtay hain app.
    - for (var i = 0; i < 10; ++i) {
      a(href='setting') link text
    - }