.salesofinvoices
    DashboardController(v-bind:save='true',v-bind:heading="salesofinvoices",v-bind:createbtn='true',v-bind:importbtn='true', v-bind:links="btnlinks")
    TableMain(v-bind:tableheader='tableheader', v-bind:tabledata="tabledata", v-bind:tablefoot="tablefoot")



