.incomingmailserver
    DashboardController(v-bind:createbtn='true', v-bind:importbtn='true',v-bind:heading="head",v-bind:links="btnlinks")
    Tablemain(v-bind:tableheader='tableheader', v-bind:tabledata="tabledata",v-bind:tablefoot="tablefoot")