.maintenanceequipments
    DashboardController(v-bind:heading="nextactivity",v-bind:links="btnlinks",v-bind:createbtn='true',v-bind:searchbar='true',
    v-bind:dropdownbtn1='true',v-bind:dropdownbtn2='true',v-bind:dropdownbtn3='true',v-bind:num1='true',v-bind:num2='true',
    v-bind:firstbtn='true',v-bind:secondbtn='true',)
    Maintenanceequipmentsgrid