.salesactivityview
    DashboardController( v-bind:save='false',v-bind:heading="customers",v-bind:createbtn='true',v-bind:importbtn='true', v-bind:links="btnlinks",v-bind:num1='true',v-bind:num2='true',v-bind:paginbtn1='true',v-bind:paginbtn2='true',v-bind:firstbtn='true',v-bind:secondbtn='true',v-bind:fifthbtn='false',v-bind:thirdbtn='false',v-bind:fourthbtn='false',v-bind:searchbar='true')
    Tabledrag(v-bind:tableheader='tableheader', v-bind:tabledata="tabledata")

 