.salenestactivityimport
    DashboardController(v-bind:save='true',v-bind:validatebtn='true',v-bind:importbtn='true',v-bind:cancelbtn='true',v-bind:heading="activityimport",v-bind:editbtn='false',v-bind:printbtn='false',v-bind:Attachmentbtn='false',v-bind:actionbtn='false',v-bind:createbtn='false',v-bind:links="btnlinks")
    Imported