.row
    .col-sm-5
        .t
            table.table.table-striped.samotable
                thead.samotablehead
                    tr


                        th.samotableheadborder Tax Description
                        th.samotableheadborder Tax Account
                        th.samotableheadborder Amount

                tfoot.samotfoot
                    tr
                        td
                        td
                        td



                tbody.samotbody
                    tr

                        td.samotablepadd PO00007
                        td.samotablepadd Otto
                        td.samotablepadd @mdo


    .col-sm-2
        .testing
            label(style='font-size:15px;padding-right:25px;')
                | Untaxed Amount :
            label(style='font-size:15px;float:right;')
                | $63473 :
        .testing
            label(style='font-size:15px;padding-right:25px;')
                | Tax :
            label(style='font-size:15px;float:right;')
                | $63473 :
        .testing
            label(style='font-size:15px;padding-right:25px;')
                | Address :
            label(style='font-size:15px;float:right;')
                | $63473 :
        .total
            label(style='font-size:15px;padding-right:25px;')
                | Total :
            label(style='font-size:15px;padding-right:25px;float:right;')
                |  $232424
        .testing
            label(style='font-size:15px;padding-right:25px;')
                | Amount Due :
            label(style='font-size:15px;float:right;')
                | $63473 :









