.notess
    DashboardController(v-bind:savedbtn='true',v-bind:heading="pipeline",v-bind:discardbtn='true',v-bind:importbtn='false', v-bind:links="btnlinks")
    .row
        .col-md-12.pull-left.samotopcontroller
            .col-md-5.pull-left


            .col-md-1.pull-left
            .col-md-3.pull-left
            .col-md-3.pull-right
                .btn-group.btn-breadcrumb.samobreadcrum1
                    a.btn.btn-primary.samobreadbutt(href='#') In Progress
                    a.btn.btn-primary.samobreadbutt1(href='#') Confirmed
                    a.btn.btn-primary.samobreadbutt(href='#') Done

    .o_content
        .o_view_manager_content
            .o_form_view.o_form_readonly
                .o_form_sheet_bg
                    .o_form_sheet
                        select.sel
                            option(value='volvo') Tags
                            option(value='saab') Abc

                        textarea(name='editor1')
    Message

