.o_content.samocontent(style='margin-left: -15px;margin-right: -15px;')
    .o_view_manager_content
        .o_form_view.o_form_readonly
            .o_form_sheet_bg
                .o_form_sheet
                    .container
                        .oe_button_box(name='button_box')
                            button.btn.btn-sm.oe_stat_button(type='button')
                                .fa.fa-fw.fa-archive.o_button_icon
                                .o_stat_info.o_form_field(data-original-title='', title='')
                                    span.o_stat_text.o_not_hover.text-success Active
                                    span.o_stat_text.o_hover.text-danger Archive
                            button.btn.btn-sm.oe_stat_button.o_form_invisible(type='button')
                                .fa.fa-fw.fa-sitemap.o_button_icon
                                .o_form_field.o_stat_info
                                    span.o_stat_value 1
                                    span.o_stat_text Variants
                            button.btn.btn-sm.oe_stat_button(type='button')
                                .fa.fa-fw.fa-flask.o_button_icon
                                .o_form_field.o_stat_info
                                    span.o_stat_value 0
                                    span.o_stat_text Bill of Materials
                            button.btn.btn-sm.oe_stat_button(type='button')
                                .fa.fa-fw.fa-list-alt.o_button_icon
                                .o_form_field.o_stat_info
                                    span.o_stat_value 0
                                    span.o_stat_text Manufacturing
                            button.btn.btn-sm.oe_stat_button.o_form_invisible(type='button')
                                .fa.fa-fw.fa-truck.o_button_icon
                                span Procurements
                            button.btn.btn-sm.oe_stat_button(type='button')
                                .fa.fa-fw.fa-shopping-cart.o_button_icon
                                .o_form_field.o_stat_info
                                    span.o_stat_value 0
                                    span.o_stat_text Purchases
                            button.btn.btn-sm.oe_stat_button(type='button')
                                .fa.fa-fw.fa-usd.o_button_icon
                                .o_form_field.o_stat_info
                                    span.o_stat_value 0
                                    span.o_stat_text Sales
                            button.btn.btn-sm.oe_stat_button(type='button')
                                .fa.fa-fw.fa-building-o.o_button_icon
                                .o_form_field.o_stat_info
                                    span.o_stat_value 18
                                    span.o_stat_text On Hand
                            button.btn.btn-sm.oe_stat_button(type='button')
                                .fa.fa-fw.fa-building-o.o_button_icon
                                .o_form_field.o_stat_info
                                    span.o_stat_value
                                        span.o_form_field.o_form_field_number 18
                                        span.o_form_invisible(invisible='1')
                                            | (-
                                            span.o_form_field.o_form_field_number 0
                                            | +
                                            span.o_form_field.o_form_field_number 0
                                            | )
                                    span.o_stat_text Forecasted
                            button.btn.btn-sm.oe_stat_button(type='button')
                                .fa.fa-fw.fa-arrows-v.o_button_icon
                                span Traceability
                            button.btn.btn-sm.oe_stat_button(type='button')
                                .fa.fa-fw.fa-refresh.o_button_icon
                                .o_form_field.o_stat_info
                                    span.o_stat_value 0
                                    span.o_stat_text Reordering Rules
                            button.btn.btn-sm.oe_stat_button.o_form_invisible(type='button')
                                .fa.fa-fw.fa-refresh.o_button_icon
                                .o_form_field.o_stat_info.mr4
                                    span.o_stat_text Min:
                                    span.o_stat_text Max:
                                .o_form_field.o_stat_info
                                    span.o_stat_value
                                        span.o_form_field.o_form_field_number 0.00
                                    span.o_stat_value
                                        span.o_form_field.o_form_field_number 0.00
                            button.btn.btn-sm.oe_stat_button.o_form_invisible(type='button')
                                .fa.fa-fw.fa-cogs.o_button_icon
                                span Routes

                        .o_form_field_image.oe_avatar.o_form_field(data-original-title='', title='')
                            img(border='1', name='image_medium', src='http://192.168.25.104:8069/web/image?model=product.template&id=14&field=image_medium&unique=20170207115622',style='width: 90px;')
                        .oe_title(style='padding-left: 95px;margin-top: -112px;width: 256px;')
                            label.o_form_label.oe_edit_only
                                | Product Name
                            h1
                                span.o_form_field.o_form_required(style='font-size: 26px;') Apple In-Ear Headphones
                                button.o_field_translate.fa.fa-globe.btn.btn-link(type='button')
                            div(name='options')
                                div
                                    .o_checkbox.o_form_field_boolean.o_form_field
                                        input#o_field_input_5(type='checkbox', name='sale_ok', disabled='')
                                        span
                                    label.o_form_label.o_form_label_help(for='o_field_input_5', data-original-title='', title='')
                                        | Can be Sold
                                div
                                    .o_checkbox.o_form_field_boolean.o_form_field
                                        input#o_field_input_6(type='checkbox', name='purchase_ok', disabled='')
                                        span
                                    label.o_form_label(for='o_field_input_6')
                                        | Can be Purchased
                                div
                                    .o_checkbox.o_form_field_boolean.o_form_field
                                        input#o_field_input_7(type='checkbox', name='can_be_expensed', disabled='')
                                        span
                                    label.o_form_label.o_form_label_help.o_form_label_false(for='o_field_input_7', data-original-title='', title='')
                                        | Can be Expensed

                        .row
                            .col-md-12.kachraytabs
                                .o_notebook(style='margin-top:0px;')
                                    ul.nav.nav-tabs(role='tablist')
                                        li.nav-item
                                            a.nav-link.active(href='#profile', role='tab', data-toggle='tab') General Information
                                        li.nav-item
                                            a.nav-link(href='#buzz', role='tab', data-toggle='tab') Inventory
                                        li.nav-item
                                            a.nav-link(href='#buzz1', role='tab', data-toggle='tab') Sales
                                        li.nav-item
                                            a.nav-link(href='#buzz2', role='tab', data-toggle='tab') Invoicing
                                        li.nav-item
                                            a.nav-link(href='#buzz3', role='tab', data-toggle='tab') Notes
                                    // Tab panes
                                .tab-content
                                    #profile.tab-pane.fade.in.active(role='tabpanel')
                                        .o_group
                                            table.o_group.o_inner_group.o_group_col_6
                                                tbody
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help
                                                                | Product Type
                                                        td(colspan='1', style='width: 100%;')
                                                            span.o_form_field.o_form_required Stockable Product
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label
                                                                | Internal Reference
                                                        td(colspan='1', style='width: 100%;')
                                                            span.o_form_field E-COM08
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help.o_form_label_empty.o_form_label_false
                                                                | Barcode
                                                        td(colspan='1', style='width: 100%;')
                                                            span.o_form_field.o_form_field_empty
                                            table.o_group.o_inner_group.o_group_col_6
                                                tbody
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help
                                                                | Sale Price
                                                        td(colspan='1', style='width: 100%;')
                                                            span.o_form_field.o_form_field_number
                                                                | 79.00
                                                                span €
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_invisible
                                                                | Valuation
                                                        td(colspan='1', style='width: 100%;')
                                                            span.o_form_field.o_form_invisible manual_periodic
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_invisible
                                                                | Cost method
                                                        td(colspan='1', style='width: 100%;')
                                                            span.o_form_field.o_form_invisible standard
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help.o_form_invisible.o_form_label_empty.o_form_label_false
                                                                | Costing Method
                                                        td(colspan='1', style='width: 100%;')
                                                            span.o_form_field.o_form_invisible.o_form_field_empty
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help
                                                                | Cost
                                                        td(colspan='1', style='width: 100%;')
                                                            div(name='standard_price_uom')
                                                                span.oe_inline.o_form_field.o_form_field_number
                                                                    | 70.00
                                                                    span €
                                                    tr
                                                        td(colspan='2', style='width: 100%;')
                                                            button.btn.btn-sm.oe_link.oe_read_only.o_form_invisible(type='button')
                                                                span Compute from average price
                                                    tr
                                                        td(colspan='2', style='width: 100%;')
                                                            button.btn.btn-sm.oe_link.oe_read_only.o_form_invisible(type='button')
                                                                span Set standard price
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label
                                                                | Company
                                                        td(colspan='1', style='width: 100%;')
                                                            a.o_form_uri.o_form_field(href='#') Alupak Industriess
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help.o_form_invisible
                                                                | Unit of Measure
                                                        td(colspan='1', style='width: 100%;')
                                                            a.o_form_uri.o_form_field.o_form_required.o_form_invisible(href='#') Unit(s)
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help.o_form_invisible
                                                                | Purchase Unit of Measure
                                                        td(colspan='1', style='width: 100%;')
                                                            a.o_form_uri.o_form_field.o_form_required.o_form_invisible(href='#') Unit(s)
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help
                                                                | Control Purchase Bills
                                                        td(colspan='1', style='width: 100%;')
                                                            span.o_form_field On received quantities
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_invisible
                                                                | Currency
                                                        td(colspan='1', style='width: 100%;')
                                                            a.o_form_uri.o_form_field.o_form_invisible(href='#') EUR





                                    #buzz.tab-pane.fade.in(role='tabpanel')
                                        .o_group
                                            table.o_group.o_inner_group.o_group_col_6
                                                tbody
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help
                                                                | Routes
                                                        td(colspan='1', style='width: 100%;')
                                                            .oe_form_many2many_checkboxes.o_form_field
                                                                div
                                                                    .o_checkbox
                                                                        input(type='checkbox', data-record-id='11', disabled='disabled')
                                                                        span
                                                                    label.o_form_label Manufacture
                                                                div
                                                                    .o_checkbox
                                                                        input(type='checkbox', data-record-id='12', disabled='disabled')
                                                                        span
                                                                    label.o_form_label Buy
                                                                div
                                                                    .o_checkbox
                                                                        input(type='checkbox', data-record-id='1', disabled='disabled')
                                                                        span
                                                                    label.o_form_label Make To Order
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_invisible.o_form_label_empty
                                                                | Category Routes
                                                        td(colspan='1', style='width: 100%;')
                                                            .o_form_field_many2manytags.o_form_field.o_form_invisible.o_form_field_empty
                                            table.o_group.o_inner_group.o_group_col_6
                                                tbody
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help
                                                                | Weight
                                                        td(colspan='1', style='width: 100%;')
                                                            .o_row(name='weight', attrs="{'invisible':['|', ('type', 'not in', ['product', 'consu']), ('product_variant_count', '>', 1)]}")
                                                                span.o_form_field.o_form_field_number 0.00
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_invisible
                                                                | Tracking
                                                        td(colspan='1', style='width: 100%;')
                                                            span.o_form_field.o_form_required.o_form_invisible No Tracking
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help
                                                                | Volume
                                                        td(colspan='1', style='width: 100%;')
                                                            .o_row(name='volume', attrs="{'invisible':['|', ('type', 'not in', ['product', 'consu']), ('product_variant_count', '>', 1)]}")
                                                                span.o_form_field.o_form_field_number 0.00
                                            table.o_group.o_inner_group.o_group_col_6
                                                tbody
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help
                                                                | Internal Category
                                                        td(colspan='1', style='width: 100%;')
                                                            a.o_form_uri.o_form_field.o_form_required(href='#') All / Saleable / Physical
                                            table.o_group.o_inner_group.o_form_invisible.o_group_col_6
                                                tbody
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help
                                                                | Procurement Location
                                                        td(colspan='1', style='width: 100%;')
                                                            a.o_form_uri.o_form_field(href='#') Virtual Locations/Procurements
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help
                                                                | Production Location
                                                        td(colspan='1', style='width: 100%;')
                                                            a.o_form_uri.o_form_field(href='#') Virtual Locations/Production
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help
                                                                | Inventory Location
                                                        td(colspan='1', style='width: 100%;')
                                                            a.o_form_uri.o_form_field(href='#') Virtual Locations/Inventory adjustment


                                        h3(style='color: #7c7bad;font-weight: bold;font-size: 19px;') Vendors
                                        .o_form_field.o_form_field_one2many.o_view_manager_content
                                            .o_x2m_control_panel
                                                .o_cp_buttons
                                                .o_cp_pager
                                                    .o_hidden
                                                        span.o_pager_value
                                                        |  /
                                                        span.o_pager_limit
                                                        span.btn-group.btn-group-sm
                                                            button.fa.fa-chevron-left.btn.btn-icon.o_pager_previous(type='button')
                                                            button.fa.fa-chevron-right.btn.btn-icon.o_pager_next(type='button')
                                            div
                                                .table-responsive
                                                    table.o_list_view.table.table-condensed.table-striped
                                                        thead
                                                            tr
                                                                th.o_column_sortable(data-id='sequence', width='1')
                                                                    span.o_row_handle.fa.fa-arrows.invisible
                                                                th.o_column_sortable(data-id='name')
                                                                    | Vendor
                                                                th.o_column_sortable(data-id='min_qty')
                                                                    | Minimal Quantity
                                                                th.o_column_sortable(data-id='price')
                                                                    | Price
                                                                th.o_column_sortable(data-id='date_start')
                                                                    | Start Date
                                                                th.o_column_sortable(data-id='date_end')
                                                                    | End Date
                                                        tfoot
                                                            tr
                                                                td
                                                                td
                                                                td
                                                                td
                                                                td
                                                                td
                                                        tbody.ui-sortable
                                                            tr(data-id='4', style='')
                                                                td.o_readonly.o_list_number.o_handle_cell(data-field='sequence', title='Assigns the priority to the list of product vendor.')
                                                                    span.o_row_handle.fa.fa-arrows.ui-sortable-handle
                                                                td(data-field='name', title='Vendor of this product') ASUSTeK
                                                                tdo_list_number(data-field='min_qty', title='The minimal quantity to purchase from this vendor, expressed in the vendor Product Unit of Measure if not any, in the default unit of measure of the product otherwise.') 1.00
                                                                td.o_list_number(data-field='price', title='The price to purchase a product') 65.00
                                                                td(data-field='date_start', title='Start date for this vendor price')  
                                                                td(data-field='date_end', title='End date for this vendor price')  
                                                            tr(data-id='5', style='')
                                                                td.o_readonly.o_list_number.o_handle_cell(data-field='sequence', title='Assigns the priority to the list of product vendor.')
                                                                    span.o_row_handle.fa.fa-arrows.ui-sortable-handle
                                                                td(data-field='name', title='Vendor of this product') Delta PC
                                                                td.o_list_number(data-field='min_qty', title='The minimal quantity to purchase from this vendor, expressed in the vendor Product Unit of Measure if not any, in the default unit of measure of the product otherwise.') 1.00
                                                                td.o_list_number(data-field='price', title='The price to purchase a product') 72.00
                                                                td(data-field='date_start', title='Start date for this vendor price')  
                                                                td(data-field='date_end', title='End date for this vendor price')  
                                                            tr
                                                                td(title='')  
                                                                td(title='Vendor')  
                                                                td(title='Minimal Quantity')  
                                                                td(title='Price')  
                                                                td(title='Start Date')  
                                                                td(title='End Date')  
                                                            tr
                                                                td(title='')  
                                                                td(title='Vendor')  
                                                                td(title='Minimal Quantity')  
                                                                td(title='Price')  
                                                                td(title='Start Date')  
                                                                td(title='End Date')  

                                    #buzz1.tab-pane.fade.in(role='tabpanel')
                                        .o_group
                                            table.o_group.o_inner_group.o_group_col_6
                                                tbody
                                                    tr
                                                        td(colspan='2', style='width: 100%;')
                                                            .o_horizontal_separator
                                                                | Sale Conditions
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_invisible
                                                                | Warranty
                                                        td(colspan='1', style='width: 100%;')
                                                            .o_form_invisible(invisible='1')
                                                                span.oe_inline.o_form_field.o_form_field_number 0.00
                                                                |  months
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help
                                                                | Customer Lead Time
                                                        td(colspan='1', style='width: 100%;')
                                                            div
                                                                span.oe_inline.o_form_field.o_form_field_number(style='vertical-align:baseline') 0.00
                                                                |  days
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help
                                                                | Manufacturing Lead Time
                                                        td(colspan='1', style='width: 100%;')
                                                            div(attrs="{'invisible':[('type','=','service')]}")
                                                                span.oe_inline.o_form_field.o_form_field_number 0.00
                                                                |  days
                                            table.o_group.o_inner_group.o_group_col_6
                                                tbody
                                                    tr
                                                        td(colspan='2', style='width: 100%;')
                                                            .o_horizontal_separator
                                                                | Point of Sale
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help.o_form_label_false(for='o_field_input_39', data-original-title='', title='')
                                                                | Available in the Point of Sale
                                                        td(colspan='1', style='width: 100%;')
                                                            .o_checkbox.o_form_field_boolean.o_form_field
                                                                input#o_field_input_39(type='checkbox', name='available_in_pos', disabled='')
                                                                span
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help.o_form_invisible.o_form_label_empty.o_form_label_false
                                                                | Point of Sale Category
                                                        td(colspan='1', style='width: 100%;')
                                                            a.o_form_uri.o_form_field.o_form_invisible.o_form_field_empty(href='#')
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help.o_form_invisible.o_form_label_false(for='o_field_input_41', data-original-title='', title='')
                                                                | To Weigh With Scale
                                                        td(colspan='1', style='width: 100%;')
                                                            .o_checkbox.o_form_field_boolean.o_form_field.o_form_invisible
                                                                input#o_field_input_41(type='checkbox', name='to_weight', disabled='')
                                                                span
                                            table.o_group.o_inner_group.o_group_col_6.o_form_invisible



                                    #buzz2.tab-pane.fade.in(role='tabpanel')
                                        .o_group
                                            table.o_group.o_inner_group.o_group_col_6
                                                tbody
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help.o_form_label_empty.o_form_label_false
                                                                | Income Account
                                                        td(colspan='1', style='width: 100%;')
                                                            a.o_form_uri.o_form_field.o_form_field_empty(href='#')
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_empty
                                                                | Customer Taxes
                                                        td(colspan='1', style='width: 100%;')
                                                            .o_form_field_many2manytags.o_form_field.o_form_field_empty
                                            table.o_group.o_inner_group.o_group_col_6
                                                tbody
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help.o_form_label_empty.o_form_label_false
                                                                | Expense Account
                                                        td(colspan='1', style='width: 100%;')
                                                            a.o_form_uri.o_form_field.o_form_field_empty(href='#')
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_empty
                                                                | Vendor Taxes
                                                        td(colspan='1', style='width: 100%;')
                                                            .o_form_field_many2manytags.o_form_field.o_form_field_empty
                                                    tr
                                                        td.o_td_label(colspan='2')
                                                            label.o_form_label
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help.o_form_label_empty.o_form_label_false
                                                                | Price Difference Account
                                                        td(colspan='1', style='width: 100%;')
                                                            a.o_form_uri.o_form_field.o_form_field_empty(href='#')
                                        .o_horizontal_separator
                                            | Invoicing Policy

                                        table.o_group.o_inner_group
                                            tbody
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label.o_form_label_help
                                                            | Invoicing Policy
                                                    td(colspan='1', style='width: 100%;')
                                                        span.o_form_field Delivered quantities
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label.o_form_invisible
                                                            | Re-Invoice Expenses
                                                    td(colspan='1', style='width: 100%;')
                                                        span.o_form_field.o_form_invisible No
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label.o_form_label_help.o_form_invisible
                                                            | Track Service
                                                    td(colspan='1', style='width: 100%;')
                                                        span.o_form_field.o_form_invisible Manually set quantities on order
                                                tr
                                                    td.o_td_label(colspan='1')
                                                        label.o_form_label.o_form_label_help.o_form_invisible.o_form_label_empty.o_form_label_false
                                                            | Project
                                                    td(colspan='1', style='width: 100%;')
                                                        a.o_form_uri.o_form_field.o_form_invisible.o_form_field_empty(href='#')


                                    #buzz3.tab-pane.fade.in(role='tabpanel')
                                        table.o_group.o_inner_group
                                            tbody
                                                tr
                                                    td(colspan='4', style='width: 200%;')
                                                        .o_horizontal_separator
                                                            | Description for Quotations
                                                tr
                                                    td(colspan='4', style='width: 200%;')
                                                        span.o_form_textarea.o_form_field.o_form_field_empty(data-original-title='', title='')
                                                        button.o_field_translate.fa.fa-globe.btn.btn-link(type='button')
                                                tr
                                                    td(colspan='4', style='width: 200%;')
                                                        .o_horizontal_separator
                                                            | Description for Vendors
                                                tr
                                                    td(colspan='4', style='width: 200%;')
                                                        span.o_form_textarea.o_form_field.o_form_field_empty(data-original-title='', title='')
                                                        button.o_field_translate.fa.fa-globe.btn.btn-link(type='button')
                                                tr
                                                    td(colspan='4', style='width: 200%;')
                                                        .o_horizontal_separator
                                                            | Description for Pickings
                                                tr
                                                    td(colspan='4', style='width: 200%;')
                                                        span.o_form_textarea.o_form_field.o_form_field_empty
                                                        button.o_field_translate.fa.fa-globe.btn.btn-link(type='button')

    Request_quotation_lower