.container
    .container-fluid
        .row
            //.col-md-12
            //    #area-example(style='height: 300px;')
            //.col-md-12
            //    #line-example(style='height:; width:auto;')
            //.col-md-6
            //    #donut-example(style='height: 250px;')
            .col-md-12
                #bar-example(style='height:800px;')

