.tooltips
    #options
        label(for='top') Top
        input#top(type='radio', name='option', value='top')
        label(for='bottom') Bottom
        input#bottom(type='radio', name='option', value='bottom')
        label(for='left') Left
        input#left(type='radio', value='left', name='option')
        label(for='right') Right
        input#right(type='radio', value='right', name='option', checked='')
    div
        input(type='text', title='I am a tooltip!')

