.o_content
    .o_view_manager_content
        .o_kanban_view.o_kanban_ungrouped(style='display: flex;')
            .oe_kanban_color_5.oe_kanban_card.oe_kanban_global_click.o_kanban_record
                .o_dropdown_kanban.dropdown
                    a.dropdown-toggle.btn(data-toggle='dropdown', href='#', aria-expanded='false')
                        span.fa.fa-bars.fa-lg
                    ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                        li
                            a.oe_kanban_action.oe_kanban_action_a(data-type='edit', href='#') Edit...
                        li
                            a.oe_kanban_action.oe_kanban_action_a(data-type='delete', href='#') Delete
                        li
                            ul.oe_kanban_colorpicker(data-field='color')
                                li
                                    a.oe_kanban_color_0.colorbg(href='#', data-color='0')
                                li
                                    a.oe_kanban_color_1.colorbg(href='#', data-color='1')
                                li
                                    a.oe_kanban_color_2.colorbg(href='#', data-color='2')
                                li
                                    a.oe_kanban_color_3.colorbg(href='#', data-color='3')
                                li
                                    a.oe_kanban_color_4.colorbg(href='#', data-color='4')
                                li
                                    a.oe_kanban_color_5.colorbg(href='#', data-color='5')
                                li
                                    a.oe_kanban_color_6.colorbg(href='#', data-color='6')
                                li
                                    a.oe_kanban_color_7.colorbg(href='#', data-color='7')
                                li
                                    a.oe_kanban_color_8.colorbg(href='#', data-color='8')
                                li
                                    a.oe_kanban_color_9.colorbg(href='#', data-color='9')
                .oe_kanban_content(tooltip='kanban-tooltip', data-original-title='', title='')
                    router-link(to='project_task_inner')
                        div
                            b
                                | Samsung Monitor 15"
                                span  (NP300E5X)
                        .mt4
                            div MT/122/11112222
                            div Administrators
                        .oe_kanban_bottom_right
                            img.oe_kanban_avatar(width='27', height='27', src='http://192.168.25.104:8069/web/image?model=res.users&field=image_small&id=1&unique=20170406083749', title='Administrators')
                .oe_clear
            .oe_kanban_color_0.oe_kanban_card.oe_kanban_global_click.o_kanban_record
                .o_dropdown_kanban.dropdown
                    a.dropdown-toggle.btn(data-toggle='dropdown', href='#')
                        span.fa.fa-bars.fa-lg
                    ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                        li
                            a.oe_kanban_action.oe_kanban_action_a(data-type='edit', href='#') Edit...
                        li
                            a.oe_kanban_action.oe_kanban_action_a(data-type='delete', href='#') Delete
                        li
                            ul.oe_kanban_colorpicker(data-field='color')
                                li
                                    a.oe_kanban_color_0.colorbg(href='#', data-color='0')
                                li
                                    a.oe_kanban_color_1.colorbg(href='#', data-color='1')
                                li
                                    a.oe_kanban_color_2.colorbg(href='#', data-color='2')
                                li
                                    a.oe_kanban_color_3.colorbg(href='#', data-color='3')
                                li
                                    a.oe_kanban_color_4.colorbg(href='#', data-color='4')
                                li
                                    a.oe_kanban_color_5.colorbg(href='#', data-color='5')
                                li
                                    a.oe_kanban_color_6.colorbg(href='#', data-color='6')
                                li
                                    a.oe_kanban_color_7.colorbg(href='#', data-color='7')
                                li
                                    a.oe_kanban_color_8.colorbg(href='#', data-color='8')
                                li
                                    a.oe_kanban_color_9.colorbg(href='#', data-color='9')
                .oe_kanban_content(tooltip='kanban-tooltip', data-original-title='', title='')
                    div
                        b
                            | Samsung Monitor 15"
                            span  (NP355E5X)
                    .mt4
                        div MT/125/22778837
                        div Administrators
                    .oe_kanban_bottom_right
                        img.oe_kanban_avatar(width='27', height='27', src='http://192.168.25.104:8069/web/image?model=res.users&field=image_small&id=1&unique=20170218132850', title='Administrators')
                .oe_clear
            .oe_kanban_color_3.oe_kanban_card.oe_kanban_global_click.o_kanban_record
                .o_dropdown_kanban.dropdown
                    a.dropdown-toggle.btn(data-toggle='dropdown', href='#')
                        span.fa.fa-bars.fa-lg
                    ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                        li
                            a.oe_kanban_action.oe_kanban_action_a(data-type='edit', href='#') Edit...
                        li
                            a.oe_kanban_action.oe_kanban_action_a(data-type='delete', href='#') Delete
                        li
                            ul.oe_kanban_colorpicker(data-field='color')
                                li
                                    a.oe_kanban_color_0.colorbg(href='#', data-color='0')
                                li
                                    a.oe_kanban_color_1.colorbg(href='#', data-color='1')
                                li
                                    a.oe_kanban_color_2.colorbg(href='#', data-color='2')
                                li
                                    a.oe_kanban_color_3.colorbg(href='#', data-color='3')
                                li
                                    a.oe_kanban_color_4.colorbg(href='#', data-color='4')
                                li
                                    a.oe_kanban_color_5.colorbg(href='#', data-color='5')
                                li
                                    a.oe_kanban_color_6.colorbg(href='#', data-color='6')
                                li
                                    a.oe_kanban_color_7.colorbg(href='#', data-color='7')
                                li
                                    a.oe_kanban_color_8.colorbg(href='#', data-color='8')
                                li
                                    a.oe_kanban_color_9.colorbg(href='#', data-color='9')
                .oe_kanban_content(tooltip='kanban-tooltip', data-original-title='', title='')
                    div
                        b
                            | Samsung Monitor 15"
                            span  (NP355E5X)
                    .mt4
                        div MT/127/18291018
                        div Demo User
                    .oe_kanban_bottom_right
                        img.oe_kanban_avatar(width='27', height='27', src='http://192.168.25.104:8069/web/image?model=res.users&field=image_small&id=5&unique=20170218132850', title='Demo User')
                .oe_clear
            .oe_kanban_color_0.oe_kanban_card.oe_kanban_global_click.o_kanban_record
                .o_dropdown_kanban.dropdown
                    a.dropdown-toggle.btn(data-toggle='dropdown', href='#')
                        span.fa.fa-bars.fa-lg
                    ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                        li
                            a.oe_kanban_action.oe_kanban_action_a(data-type='edit', href='#') Edit...
                        li
                            a.oe_kanban_action.oe_kanban_action_a(data-type='delete', href='#') Delete
                        li
                            ul.oe_kanban_colorpicker(data-field='color')
                                li
                                    a.oe_kanban_color_0.colorbg(href='#', data-color='0')
                                li
                                    a.oe_kanban_color_1.colorbg(href='#', data-color='1')
                                li
                                    a.oe_kanban_color_2.colorbg(href='#', data-color='2')
                                li
                                    a.oe_kanban_color_3.colorbg(href='#', data-color='3')
                                li
                                    a.oe_kanban_color_4.colorbg(href='#', data-color='4')
                                li
                                    a.oe_kanban_color_5.colorbg(href='#', data-color='5')
                                li
                                    a.oe_kanban_color_6.colorbg(href='#', data-color='6')
                                li
                                    a.oe_kanban_color_7.colorbg(href='#', data-color='7')
                                li
                                    a.oe_kanban_color_8.colorbg(href='#', data-color='8')
                                li
                                    a.oe_kanban_color_9.colorbg(href='#', data-color='9')
                .oe_kanban_content(tooltip='kanban-tooltip', data-original-title='', title='')
                    div
                        b
                            | Acer Laptop
                            span  (NE56R)
                    .mt4
                        div LP/203/19281928
                        div Demo User
                    .oe_kanban_bottom_right
                        img.oe_kanban_avatar(width='27', height='27', src='http://192.168.25.104:8069/web/image?model=res.users&field=image_small&id=5&unique=20170408094733', title='Demo User')
                    .oe_kanban_footer_left.mt4.label.label-danger
                        | 1 Request
                .oe_clear
            .oe_kanban_color_0.oe_kanban_card.oe_kanban_global_click.o_kanban_record
                .o_dropdown_kanban.dropdown
                    a.dropdown-toggle.btn(data-toggle='dropdown', href='#')
                        span.fa.fa-bars.fa-lg
                    ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                        li
                            a.oe_kanban_action.oe_kanban_action_a(data-type='edit', href='#') Edit...
                        li
                            a.oe_kanban_action.oe_kanban_action_a(data-type='delete', href='#') Delete
                        li
                            ul.oe_kanban_colorpicker(data-field='color')
                                li
                                    a.oe_kanban_color_0.colorbg(href='#', data-color='0')
                                li
                                    a.oe_kanban_color_1.colorbg(href='#', data-color='1')
                                li
                                    a.oe_kanban_color_2.colorbg(href='#', data-color='2')
                                li
                                    a.oe_kanban_color_3.colorbg(href='#', data-color='3')
                                li
                                    a.oe_kanban_color_4.colorbg(href='#', data-color='4')
                                li
                                    a.oe_kanban_color_5.colorbg(href='#', data-color='5')
                                li
                                    a.oe_kanban_color_6.colorbg(href='#', data-color='6')
                                li
                                    a.oe_kanban_color_7.colorbg(href='#', data-color='7')
                                li
                                    a.oe_kanban_color_8.colorbg(href='#', data-color='8')
                                li
                                    a.oe_kanban_color_9.colorbg(href='#', data-color='9')
                .oe_kanban_content(tooltip='kanban-tooltip', data-original-title='', title='')
                    div
                        b
                            | Acer Laptop
                            span  (V5131)
                    .mt4
                        div LP/205/12928291
                        div Administrators
                    .oe_kanban_bottom_right
                        img.oe_kanban_avatar(width='27', height='27', src='http://192.168.25.104:8069/web/image?model=res.users&field=image_small&id=1&unique=20170218132850', title='Administrators')
                .oe_clear
            .oe_kanban_color_0.oe_kanban_card.oe_kanban_global_click.o_kanban_record
                .o_dropdown_kanban.dropdown
                    a.dropdown-toggle.btn(data-toggle='dropdown', href='#')
                        span.fa.fa-bars.fa-lg
                    ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                        li
                            a.oe_kanban_action.oe_kanban_action_a(data-type='edit', href='#') Edit...
                        li
                            a.oe_kanban_action.oe_kanban_action_a(data-type='delete', href='#') Delete
                        li
                            ul.oe_kanban_colorpicker(data-field='color')
                                li
                                    a.oe_kanban_color_0.colorbg(href='#', data-color='0')
                                li
                                    a.oe_kanban_color_1.colorbg(href='#', data-color='1')
                                li
                                    a.oe_kanban_color_2.colorbg(href='#', data-color='2')
                                li
                                    a.oe_kanban_color_3.colorbg(href='#', data-color='3')
                                li
                                    a.oe_kanban_color_4.colorbg(href='#', data-color='4')
                                li
                                    a.oe_kanban_color_5.colorbg(href='#', data-color='5')
                                li
                                    a.oe_kanban_color_6.colorbg(href='#', data-color='6')
                                li
                                    a.oe_kanban_color_7.colorbg(href='#', data-color='7')
                                li
                                    a.oe_kanban_color_8.colorbg(href='#', data-color='8')
                                li
                                    a.oe_kanban_color_9.colorbg(href='#', data-color='9')
                .oe_kanban_content(tooltip='kanban-tooltip', data-original-title='', title='')
                    div
                        b
                            | HP Laptop
                            span  (17-j059nr)
                    .mt4
                        div LP/303/28292090
                        div Administrators
                    .oe_kanban_bottom_right
                        img.oe_kanban_avatar(width='27', height='27', src='http://192.168.25.104:8069/web/image?model=res.users&field=image_small&id=1&unique=20170410123536', title='Administrators')
                .oe_clear
            .oe_kanban_color_0.oe_kanban_card.oe_kanban_global_click.o_kanban_record
                .o_dropdown_kanban.dropdown
                    a.dropdown-toggle.btn(data-toggle='dropdown', href='#')
                        span.fa.fa-bars.fa-lg
                    ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                        li
                            a.oe_kanban_action.oe_kanban_action_a(data-type='edit', href='#') Edit...
                        li
                            a.oe_kanban_action.oe_kanban_action_a(data-type='delete', href='#') Delete
                        li
                            ul.oe_kanban_colorpicker(data-field='color')
                                li
                                    a.oe_kanban_color_0.colorbg(href='#', data-color='0')
                                li
                                    a.oe_kanban_color_1.colorbg(href='#', data-color='1')
                                li
                                    a.oe_kanban_color_2.colorbg(href='#', data-color='2')
                                li
                                    a.oe_kanban_color_3.colorbg(href='#', data-color='3')
                                li
                                    a.oe_kanban_color_4.colorbg(href='#', data-color='4')
                                li
                                    a.oe_kanban_color_5.colorbg(href='#', data-color='5')
                                li
                                    a.oe_kanban_color_6.colorbg(href='#', data-color='6')
                                li
                                    a.oe_kanban_color_7.colorbg(href='#', data-color='7')
                                li
                                    a.oe_kanban_color_8.colorbg(href='#', data-color='8')
                                li
                                    a.oe_kanban_color_9.colorbg(href='#', data-color='9')
                .oe_kanban_content(tooltip='kanban-tooltip', data-original-title='', title='')
                    div
                        b HP Laptop
                    .mt4
                        div LP/305/17281718
                        div Demo User
                    .oe_kanban_bottom_right
                        img.oe_kanban_avatar(width='27', height='27', src='http://192.168.25.104:8069/web/image?model=res.users&field=image_small&id=5&unique=20170411082751', title='Demo User')
                .oe_clear
            .oe_kanban_color_0.oe_kanban_card.oe_kanban_global_click.o_kanban_record
                .o_dropdown_kanban.dropdown
                    a.dropdown-toggle.btn(data-toggle='dropdown', href='#')
                        span.fa.fa-bars.fa-lg
                    ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                        li
                            a.oe_kanban_action.oe_kanban_action_a(data-type='edit', href='#') Edit...
                        li
                            a.oe_kanban_action.oe_kanban_action_a(data-type='delete', href='#') Delete
                        li
                            ul.oe_kanban_colorpicker(data-field='color')
                                li
                                    a.oe_kanban_color_0.colorbg(href='#', data-color='0')
                                li
                                    a.oe_kanban_color_1.colorbg(href='#', data-color='1')
                                li
                                    a.oe_kanban_color_2.colorbg(href='#', data-color='2')
                                li
                                    a.oe_kanban_color_3.colorbg(href='#', data-color='3')
                                li
                                    a.oe_kanban_color_4.colorbg(href='#', data-color='4')
                                li
                                    a.oe_kanban_color_5.colorbg(href='#', data-color='5')
                                li
                                    a.oe_kanban_color_6.colorbg(href='#', data-color='6')
                                li
                                    a.oe_kanban_color_7.colorbg(href='#', data-color='7')
                                li
                                    a.oe_kanban_color_8.colorbg(href='#', data-color='8')
                                li
                                    a.oe_kanban_color_9.colorbg(href='#', data-color='9')
                .oe_kanban_content(tooltip='kanban-tooltip', data-original-title='', title='')
                    div
                        b HP Inkjet printer
                    .mt4
                        div PR/011/2928191889
                        div Unassigned
                    .oe_kanban_bottom_right
                        img.oe_kanban_avatar(width='27', height='27', src='http://192.168.25.104:8069/web/image?model=res.users&field=image_small&id=&unique=20170218132850', title='')
                .oe_clear
            .oe_kanban_color_0.oe_kanban_card.oe_kanban_global_click.o_kanban_record
                .o_dropdown_kanban.dropdown
                    a.dropdown-toggle.btn(data-toggle='dropdown', href='#')
                        span.fa.fa-bars.fa-lg
                    ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                        li
                            a.oe_kanban_action.oe_kanban_action_a(data-type='edit', href='#') Edit...
                        li
                            a.oe_kanban_action.oe_kanban_action_a(data-type='delete', href='#') Delete
                        li
                            ul.oe_kanban_colorpicker(data-field='color')
                                li
                                    a.oe_kanban_color_0.colorbg(href='#', data-color='0')
                                li
                                    a.oe_kanban_color_1.colorbg(href='#', data-color='1')
                                li
                                    a.oe_kanban_color_2.colorbg(href='#', data-color='2')
                                li
                                    a.oe_kanban_color_3.colorbg(href='#', data-color='3')
                                li
                                    a.oe_kanban_color_4.colorbg(href='#', data-color='4')
                                li
                                    a.oe_kanban_color_5.colorbg(href='#', data-color='5')
                                li
                                    a.oe_kanban_color_6.colorbg(href='#', data-color='6')
                                li
                                    a.oe_kanban_color_7.colorbg(href='#', data-color='7')
                                li
                                    a.oe_kanban_color_8.colorbg(href='#', data-color='8')
                                li
                                    a.oe_kanban_color_9.colorbg(href='#', data-color='9')
                .oe_kanban_content(tooltip='kanban-tooltip', data-original-title='', title='')
                    div
                        b wafwafdwfwafaffa
                    .mt4
                        div Unassigned
                    .oe_kanban_bottom_right
                        img.oe_kanban_avatar(width='27', height='27', src='http://192.168.25.104:8069/web/image?model=res.users&field=image_small&id=&unique=20170407122244', title='')
                .oe_clear
            .o_kanban_record.o_kanban_ghost
            .o_kanban_record.o_kanban_ghost
            .o_kanban_record.o_kanban_ghost
            .o_kanban_record.o_kanban_ghost
            .o_kanban_record.o_kanban_ghost
            .o_kanban_record.o_kanban_ghost
