.posproductsedit
    DashboardController(v-bind:editbtn='true',v-bind:printbtn='true',v-bind:actionbtn='true',v-bind:attachmentbtn='true', v-bind:createbtn='true',v-bind:links='btnlinks', v-bind:heading='head')
    Posproductedit
