.layout
    .row
        topbar
        .col-sm-12
            .row
                .col-sm-2
                    sidebar
                .col-sm-10
                    .row
                        .col-sm-12
                            dashboard-controller
                        .col-sm-12.samo
                            topcontroller
                        .col-sm-12
                            slot
