.o_form_view.o_form_nosheet.o_cannot_create.o_form_readonly
    table.o_group.o_inner_group
        tbody
            tr
                td.o_td_label(colspan='1')
                    label.o_form_label
                        | Statement
                td(colspan='1', style='width: 50%;')
                    a.o_form_uri.o_form_field.o_form_required(href='#') POS/2017/03/08/03
                td.o_td_label(colspan='1')
                    label.o_form_label
                        | Date
                td(colspan='1', style='width: 50%;')
                    span.o_form_field_date.o_form_field.o_form_required 03/17/2017
            tr
                td.o_td_label(colspan='1')
                    label.o_form_label
                        | Label
                td(colspan='1', style='width: 50%;')
                    span.o_form_field.o_form_required Main/0008: return
                td.o_td_label(colspan='1')
                    label.o_form_label
                        | Reference
                td(colspan='1', style='width: 50%;')
                    span.o_form_field POS/2017/03/08/03
            tr
                td.o_td_label(colspan='1')
                    label.o_form_label.o_form_label_empty.o_form_label_false
                        | Partner
                td(colspan='1', style='width: 50%;')
                    a.o_form_uri.o_form_field.o_form_field_empty(href='#')
                td.o_td_label(colspan='1')
                    label.o_form_label
                        | Amount
                td(colspan='1', style='width: 50%;')
                    span.o_form_field.o_form_field_number
                        | -52,455.59
                        span €
            tr
                td.o_td_label(colspan='1')
                    label.o_form_label.o_form_label_help.o_form_invisible( data-original-title='', title='')
                        | Currency
                td(colspan='1', style='width: 50%;')
                    a.o_form_uri.o_form_field.o_form_invisible(href='#') EUR
                td.o_td_label(colspan='1')
                    label.o_form_label.o_form_label_help( data-original-title='', title='')
                        | Sequence
                td(colspan='1', style='width: 50%;')
                    span.o_form_field.o_form_field_number 1
            tr
                td.o_td_label(colspan='1')
                    label.o_form_label.o_form_label_empty.o_form_label_false
                        | Notes
                td(colspan='1', style='width: 33.3333%;')
                    span.o_form_textarea.o_form_field.o_form_field_empty
