.setting
    .row
        .col-sm-4
            .card.bx
                .card-block
                    .row.justify-content-md-center
                        i.fa.fa-users.fa-4x(aria-hidden='true')
                    .row.justify-content-md-center
                        h4.card-title 4 Active Users
                    .row.justify-content-md-center
                        h6.card-title Manage access right
                    hr
                    h6.card-title Invite new users:
                    .form-group
                        textarea#invite_email.form-control(placeholder='Enter e-mail address (one per line)',rows='3')
                    a.btn.btn-primary.btn-lg.btn-block#invite_btn(href='#',style='background-color: #7c7bad; border-color: #7c7bad;') Invite
                    b
                        .row.justify-content-md-center
                            p.card-text pending invitations:
                    .row.justify-content-md-center
                        p.card-text demo text

        .col-sm-4
            .card.bx(style='height: 500px;')
                .card-block
                    .row.justify-content-md-center
                        i.fa.fa-check-square-o.fa-4x(aria-hidden='true')
                    .row.justify-content-md-center
                        h4.card-title 22% Implementation
                    h6.card-title Follw these implementation guides to get the most out of ERP
                    hr
                    h6 35% Accounting
                        i.fa.fa-arrow-right.pull-right.a(aria-hidden='true')
                        a(href='',data-toggle='modal', data-target='#myModal')
                            .progress
                                .progress-bar(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width:30%;background-color: #7c7bad; border-color: #7c7bad;')
                                    span.sr-only 30% Complete
                    h6 50% Expenses
                        i.fa.fa-arrow-right.pull-right.a(aria-hidden='true')
                        a(href='',data-toggle='modal', data-target='#myModal')
                            .progress
                                .progress-bar(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width:50%;background-color: #7c7bad; border-color: #7c7bad;')
                                    span.sr-only 30% Complete
                    h6 0% Inventory
                        i.fa.fa-arrow-right.pull-right.a(aria-hidden='true')
                        a(href='',data-toggle='modal', data-target='#myModal')
                            .progress
                                .progress-bar(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width:0%;background-color: #7c7bad; border-color: #7c7bad;')
                                    span.sr-only 30% Complete
                    h6 7% Projects
                        i.fa.fa-arrow-right.pull-right.a(aria-hidden='true')
                        a(href='',data-toggle='modal', data-target='#myModal')
                            .progress
                                .progress-bar(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width:7%;background-color: #7c7bad; border-color: #7c7bad;')
                                    span.sr-only 30% Complete
                    h6 21% Sales
                        i.fa.fa-arrow-right.pull-right.a(aria-hidden='true')
                        a(href='',data-toggle='modal', data-target='#myModal')
                            .progress
                                .progress-bar(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width:21%;background-color: #7c7bad; border-color: #7c7bad;')
                                    span.sr-only 30% Complete
                    hr
                    a Need more help?
                        Browse the doucmentation.

        .col-sm-4
            .card.bx(style='height: 360px;')
                .card-block
                    .row.justify-content-md-center
                        i.fa.fa-share-alt.fa-4x(aria-hidden='true')
                    .row.justify-content-md-center
                        h4.card-title Share the Love
                    .row
                        .col-md-1
                        .col-xs-1
                            i.fa.fa-twitter-square.fa-3x.a(aria-hidden='true')
                        .col-md-3
                        .col-xs-1
                            i.fa.fa-facebook-square.fa-3x.a(aria-hidden='true')
                        .col-md-3
                        .col-xs-1
                            i.fa.fa-linkedin-square.fa-3x.a(aria-hidden='true')
                    hr
                    h5.card-title ERP 2017 (Community Edition)
                    h6.card-title copyright @ 2017
                    hr
                    h6.card-title.pull-right Demo text
    welcome
