table.o_group.o_inner_group
    tbody
        tr
            td.o_td_label(colspan='1')
                label.o_form_label
                    | Model Description
            td(colspan='1', style='width: 100%;')
                a.o_form_uri.o_form_field.o_form_required(href='#') Partner
        tr
            td.o_td_label(colspan='1')
                label.o_form_label.o_form_label_help( data-original-title='', title='')
                    | Model
            td(colspan='1', style='width: 100%;')
                a.o_form_uri.o_form_field.o_form_required(href='#') res.partner