.Vendormenu

    DashboardController( v-bind:save='true',v-bind:heading="nextactivity",v-bind:editbtn='true',v-bind:createbtn='true',v-bind:dropdownMenuButton='true',v-bind:Attachmentbtn='true',v-bind:actionbtn='true', v-bind:links="btnlinks",v-bind:num1='true',v-bind:num2='true')
    .o_content
        .o_view_manager_content
            .o_form_view.o_form_readonly
                .o_form_sheet_bg
                    .o_form_sheet
                        .row
                            .col-sm-2
                                .img
                                    img.img-responsive(style='width:80px;height:90px;float:let;')(src='/images/1.jpg')
                            .col-sm-3.samocol4
                                h1(style='font-weight:bold;font-size:30px;') Camptocamp

                            .col-sm-3.samohascol3
                                .oe_button_box(name='button_box')
                                    button.btn.btn-sm.oe_stat_button(type='button', style='')
                                        .fa.fa-fw.fa-archive.o_button_icon.trash
                                        .o_stat_info.o_form_field(data-original-title='', title='')
                                            span.o_stat_text.o_not_hover.text-success Active
                                            span.o_stat_text.o_hover.text-danger
                                                | Archive
                                                .oe_button_box(name='button_box')
                                    button.btn.btn-sm.oe_stat_button(type='button', style='')
                                        .fa.fa-fw.fa-usd.o_button_icon.sale
                                        .o_form_field.o_stat_info
                                            span.o_stat_value
                                                | 0
                                                span.o_stat_text Sales
                                                .oe_button_box(name='button_box')
                                    button.btn.btn-sm.oe_stat_button(type='button', style='')
                                        .fa.fa-fw.fa-arrows-v.o_button_icon.trace
                                        .o_form_field.o_stat_info.trace_text
                                            span Traceability


                        .col-xs-12.request_inner1
                            .row
                                .col-xs-3.request_inner3(style='font-weight: bold;')
                                    .one
                                        label(style='font-size:15px;padding-right:25px;')
                                            | Address
                                        br
                                        br
                                        br
                                        label(style='font-size:15px;')
                                            | Website
                                        br
                                        label(style='font-size:15px;')
                                            | Tags


                                .col-xs-4.osahass(style='')
                                    .two(style='margin-left: -23px;')
                                        label(style='font-size:13px;')
                                            | 93, Press Avenue
                                            br
                                            | Le Bourget du Lac73377
                                            br
                                            | France

                                        label(style='font-size:13px;')
                                            | http://www.camptocamp.com
                                        br
                                        button.btn.btn-success.b(type='button', style='color: #ffffff;background-color: #F2D600;border:none;line-height: 0.5em;width: 115px;border-radius: 10px;') Partner/Gold
                                        button.btn.btn-success.c(type='button', style='background-color:#00C2E0;color: #ffffff;border:none;line-height: 0.5em;border-radius: 10px;') Service


                                .col-xs-3.request_inner2(style='font-weight: bold;margin-left: -48px;')
                                    .one
                                        label(style='font-size:15px;padding-right:25px;')
                                            | Phone
                                        br
                                        label(style='font-size:15px;')
                                            | Mobile
                                        br
                                        label(style='font-size:15px;')
                                            | Fax
                                        br
                                        label(style='font-size:15px;')
                                            | Email
                                        br
                                        label(style='font-size:15px;')
                                            | Language
                                        br

                                .col-xs-2.osahass(style='')
                                    .two(style='margin-left: -23px;')
                                        label(style='font-size:13px;')
                                            | +33 4 49 23 44 54
                                        br
                                        label(style='font-size:13px;')
                                            | s
                                        br
                                        label(style='font-size:13px;')
                                            | s
                                        br
                                        label(style='font-size:13px;')
                                            | camptocamp@yourcompany
                                            br
                                            | .example.com
                                        label(style='font-size:13px;')
                                            | English

                        .o_notebook
                            ul.nav.nav-tabs(role='tablist')
                                li.nav-item
                                    a.nav-link.active(href='#profile', role='tab', data-toggle='tab') Contacts and Addresses
                                li.nav-item
                                    a.nav-link(href='#buzz', role='tab', data-toggle='tab') InTernal Notes
                                li.nav-item
                                    a.nav-link(href='#buzz1', role='tab', data-toggle='tab') Sales and Purchases
                                li.nav-item
                                    a.nav-link(href='#buzz2', role='tab', data-toggle='tab') Accounting
                            // Tab panes
                            .tab-content
                                #profile.tab-pane.fade.in.active(role='tabpanel')
                                    .row(style='padding-left:15px;')
                                        .col-xs-1
                                            .oe_kanban_color_0.oe_kanban_global_click.o_kanban_record.samokanban
                                                .o_kanban_image.samokanbanimage
                                                    img.samoimg(src='images/download.png')
                                        .col-xs-6
                                            .oe_kanban_details.samothumbnaildet
                                                | Chao Wang
                                                div Marketing Manager
                                                div chao.wang@chinaexport.example.com
                                    .row(style='padding-left:15px;padding-top: 17px;')
                                        .col-xs-1
                                            .oe_kanban_color_0.oe_kanban_global_click.o_kanban_record.samokanban
                                                .o_kanban_image.samokanbanimage
                                                    img.samoimg(src='images/download.png')
                                        .col-xs-6
                                            .oe_kanban_details.samothumbnaildet
                                                | Chao Wang
                                                div Marketing Manager
                                                div chao.wang@chinaexport.example.com



                                #buzz.tab-pane.fade.in(role='tabpanel')

                                #buzz1.tab-pane.fade.in(role='tabpanel')
                                    .row
                                        .col-sm-3
                                            h1(style='color: #7c7bad;font-weight: bold;font-size:16px;padding-left:10px;') Sale
                                            .one
                                                label(style='font-size:13px;padding-right:25px;font-weight:bold;')
                                                    | Is a Customer
                                                br
                                                label(style='font-size:13px;font-weight:bold;')
                                                    | Salesperson
                                                br
                                            h1(style='color: #7c7bad;font-weight: bold;font-size:16px;padding-left:10px;') Misc
                                            .one
                                                label(style='font-size:15px;padding-right:25px;font-weight:bold;')
                                                    | Internal Reference Company
                                                br



                                        .col-sm-3(style='margin-top: 16px;')
                                            input#o_field_input_151(style='margin-top:34px;')(type='checkbox', name='supplier', disabled='')
                                            br
                                            br
                                            br
                                            br
                                            br
                                            a(href='#') Alupak Industriess
                                        .col-sm-3
                                            h1(style='color: #7c7bad;font-weight: bold;font-size:16px;padding-left:10px;') Purchase
                                            .one
                                                label(style='font-size:16px;font-weight:bold;')
                                                    | Is a Vendor
                                                br
                                                label(style='font-size:16px;font-weight:bold;')
                                                    | Supplier Currency
                                                br

                                            h1(style='color: #7c7bad;font-weight: bold;font-size:16px;padding-left:10px;') Point of Sale
                                            .one
                                                label(style='font-size:13px;font-weight:bold;')
                                                    | Barcode
                                                br

                                        .col-sm-3(style='margin-top: 16px;')
                                            input.o_field_input_151(style='margin-top:34px;')(type='checkbox', name='supplier', disabled='')
                                            br
                                            br
                                            br
                                            br
                                            label(style='padding-top:13px;font-size:13px;') 0420800000008
                                            br
                                    .row
                                        .col-xs-12
                                            h1(style='color: #7c7bad;font-weight: bold;font-size:16px;padding-left:22px;') Payments

                                    .row
                                        .col-xs-4
                                            button.btn.btn-success.a(type='button', style='background-color: transparent;color: #7c7bad;border:none;') 0 Bank Account(s)
                                        .col-xs-6
                                            button.btn.btn-success.a(type='button', style='background-color: transparent;color: #7c7bad;border:none;') 0 Credit Card(s)


                                #buzz2.tab-pane.fade.in(role='tabpanel')
                                    .row
                                        .col-sm-3
                                            h1(style='color: #7c7bad;font-weight: bold;font-size:16px;padding-left:10px;') Sale
                                            .one
                                                label(style='font-size:13px;padding-right:25px;font-weight:bold;')
                                                    | Customer Payment Terms
                                                br
                                                label(style='font-size:13px;font-weight:bold;')
                                                    | Degree of trust you have in this debtor
                                                br
                                            h1(style='color: #7c7bad;font-weight: bold;font-size:16px;padding-left:10px;') Fiscal Information
                                            .one
                                                label(style='font-size:15px;padding-right:25px;font-weight:bold;')
                                                    | Fiscal Position
                                                br



                                        .col-sm-3(style='margin-top: 16px;')
                                            label(style='font-size:15px;padding-right:25px;font-weight:bold;')
                                                | End of Following Month
                                            br
                                            label(style='font-size:15px;padding-right:25px;font-weight:bold;')
                                                | Normal Debtor


                                        .col-sm-3
                                            h1(style='color: #7c7bad;font-weight: bold;font-size:16px;padding-left:10px;') Purchase
                                            .one
                                                label(style='font-size:16px;font-weight:bold;')
                                                    | Is a Vendor
                                                br
                                                label(style='font-size:16px;font-weight:bold;')
                                                    | Supplier Currency
                                                br

                                            h1(style='color: #7c7bad;font-weight: bold;font-size:16px;padding-left:10px;') Accounting Entries
                                            .one
                                                label(style='font-size:13px;font-weight:bold;')
                                                    | Barcode
                                                br

                                        .col-sm-3(style='margin-top: 16px;')
                                            input.o_field_input_151(style='margin-top:34px;')(type='checkbox', name='supplier', disabled='')
                                            br
                                            br
                                            label(style='padding-top:13px;font-size:13px;') 0420800000008
                                            br
    Message
    Request_quotation_lower








