.Product_inner_Edit
    DashboardController( v-bind:save='true',v-bind:heading="nextactivity",v-bind:savedbtn='true',v-bind:discardbtn='true', v-bind:links="btnlinks",v-bind:num1='false',v-bind:num2='false',v1-bind:paginbtn1='true',v1-bind:paginbtn2='true',v-bind:firstbtn='false',v-bind:secondbtn='false',v-bind:fifthbtn='false',v-bind:thirdbtn='false',v-bind:fourthbtn='false',v-bind:searchbar='false',v-bind:dropdownbtn1='false',v-bind:dropdownbtn2='false',v-bind:dropdownbtn3='false',v-bind:actionbtn='false',v-bind:Attachmentbtn='false',v-bind:printbtn='false')
    .row
        .col-md-12.pull-left.samotopcontroller
            .col-md-5.pull-left
                button.btn.btn-primary.samobutton2(type='button',style='margin-right: 5px;') Validate
                button.btn.btn-primary.samobutton1(type='button',style='margin-right: 5px;') Print
                button.btn.btn-primary.samobutton1(type='button') Cancel

            .col-md-1.pull-left
            .col-md-3.pull-left
            .col-md-3.pull-right
                .btn-group.btn-breadcrumb.samobreadcrum1
                    a.btn.btn-primary.samobreadbutt(href='#') Draft
                    a.btn.btn-primary.samobreadbutt1(href='#') Waiting Availability
                    a.btn.btn-primary.samobreadbutt(href='#') Partially Available
                    a.btn.btn-primary.samobreadbutt(href='#') Available
                    a.btn.btn-primary.samobreadbutt(href='#') Done
    .o_content.samocontent
        .o_view_manager_content
            .o_form_view.o_form_readonly
                .o_form_sheet_bg
                    .o_form_sheet
                        .container
                            .o_form_sheet_bg
                                .oe_button_box(name='button_box')
                                    button.btn.btn-sm.oe_stat_button.o_form_invisible(type='button')
                                        .fa.fa-fw.fa-shopping-cart.o_button_icon
                                        span Purchases
                                    button.btn.btn-sm.oe_stat_button(type='button')
                                        .fa.fa-fw.fa-bars.o_button_icon
                                        span Group's Procurements
                                    button.btn.btn-sm.oe_stat_button(type='button')
                                        .fa.fa-fw.fa-bars.o_button_icon
                                        span Group's Pickings
                                .o_group
                                    table.o_group.o_inner_group.o_group_col_6
                                        tbody
                                            tr
                                                td.o_td_label(colspan='1')
                                                    label.o_form_label
                                                        | Product
                                                td(colspan='1', style='width: 100%;')
                                                    a.o_form_uri.o_form_field.o_form_required(href='#') [MBi9] Motherboard I9P57
                                            tr
                                                td.o_td_label(colspan='1')
                                                    label.o_form_label
                                                        | Quantity
                                                td(colspan='1', style='width: 100%;')
                                                    div
                                                        div
                                                            span.oe_inline.o_form_field.o_form_required.o_form_field_number 12.000
                                                            a.o_form_uri.oe_inline.o_form_field.o_form_required.o_form_invisible(href='#') Unit(s)
                                    table.o_group.o_inner_group.o_group_col_6
                                        tbody
                                            tr
                                                td.o_td_label(colspan='1')
                                                    label.o_form_label.o_form_label_help(data-original-title='', title='')
                                                        | Warehouse
                                                td(colspan='1', style='width: 100%;')
                                                    select#o_field_input_173.o_form_input.o_form_field.o_form_required(name='priority')
                                                        option(value='false')
                                                        option(value='"0"') Not urgent
                                                        option(value='"1"') Normal
                                                        option(value='"2"') Urgent
                                                        option(value='"3"') Very Urgent
                                                        button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button')
                                            tr
                                                td.o_td_label(colspan='1')
                                                    label.o_form_label
                                                        | Procurement Location
                                                td(colspan='1', style='width: 100%;')
                                                    select#o_field_input_173.o_form_input.o_form_field.o_form_required(name='priority')
                                                        option(value='false')
                                                        option(value='"0"') Not urgent
                                                        option(value='"1"') Normal
                                                        option(value='"2"') Urgent
                                                        option(value='"3"') Very Urgent
                                                        button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button')
                                            tr
                                                td.o_td_label(colspan='1')
                                                    label.o_form_label.o_form_label_help.o_form_invisible(data-original-title='', title='')
                                                        | Preferred Routes
                                                td(colspan='1', style='width: 100%;')
                                                    .o_form_field_many2manytags.o_form_field.o_form_invisible
                                                        .o_form_field_many2one.o_form_field.o_form_invisible(data-original-title='', title='')
                                                            .o_form_input_dropdown
                                                                input.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                                span.o_dropdown_button(draggable='false')
                                    table.o_group.o_inner_group.o_group_col_6
                                        tbody
                                            tr
                                                td(colspan='2', style='width: 100%;')
                                                    .o_horizontal_separator
                                                        | Scheduling
                                            tr
                                                td.o_td_label(colspan='1')
                                                    label.o_form_label
                                                        | Scheduled Date
                                                td(colspan='1', style='width: 100%;')
                                                    form#dateRangeForm.form-horizontal(method='post')
                                                        .form-group
                                                            #dateRangePicker.input-group.input-append.date(style='padding-left: 15px;')
                                                                input.input-group-addon.form-control(type='text', name='date',style='width: 218px;height: 27px;backgroundColor:white;')
                                            tr
                                                td.o_td_label(colspan='1')
                                                    label.o_form_label(for='o_field_input_173')
                                                        | Priority
                                                td(colspan='1', style='width: 100%;')
                                                    select#o_field_input_173.o_form_input.o_form_field.o_form_required(name='priority')
                                                        option(value='false')
                                                        option(value='"0"') Not urgent
                                                        option(value='"1"') Normal
                                                        option(value='"2"') Urgent
                                                        option(value='"3"') Very Urgent




                                .row
                                    .col-md-12.kachraytabs
                                        .o_notebook(style='margin-top:0px;')
                                            ul.nav.nav-tabs(role='tablist')
                                                li.nav-item
                                                    a.nav-link.active(href='#profile', role='tab', data-toggle='tab') Notes
                                                li.nav-item
                                                    a.nav-link(href='#buzz', role='tab', data-toggle='tab') Extra Information

                                            // Tab panes
                                        .tab-content
                                            #profile.tab-pane.fade.in.active(role='tabpanel')
                                                textarea.o_form_textarea.o_form_field.o_form_required(rows='6', name='name', placeholder='External note...', style='height: 50px;')
                                                textarea.o_form_textarea.o_form_field.o_form_required(disabled='', style='position: absolute; opacity: 0; height: 10px; top: -10000px; left: -10000px; width: 826px;')


                                            #buzz.tab-pane.fade.in(role='tabpanel')
                                                .o_group
                                                    table.o_group.o_inner_group.o_group_col_6
                                                        tbody
                                                            tr
                                                                td.o_td_label(colspan='1')
                                                                    label.o_form_label
                                                                        | BoM
                                                                td(colspan='1', style='width: 100%;')
                                                                    select#o_field_input_106.o_form_input.o_form_field.o_form_required(name='priority',style='backgroundColor:white;')
                                                                        option(value='false')
                                                                        option(value='"0"') Not urgent
                                                                        option(value='"1"') Normal
                                                                        option(value='"2"') Urgent
                                                                        option(value='"3"') Very Urgent
                                                            tr
                                                                td.o_td_label(colspan='1')
                                                                    label.o_form_label.o_form_invisible(for='o_field_input_110')
                                                                        | Manufacturing Order
                                                                td(colspan='1', style='width: 100%;')
                                                                    .o_form_field_many2one.o_form_field.o_form_invisible
                                                                        .o_form_input_dropdown
                                                                            input#o_field_input_110.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                                            span.o_dropdown_button(draggable='false')
                                                                        button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button', style='display: none;')
                                                            tr
                                                                td.o_td_label(colspan='1')
                                                                    label.o_form_label.o_form_label_help(for='o_field_input_111', data-original-title='', title='')
                                                                        | Source Document
                                                                td(colspan='1', style='width: 100%;')
                                                                    input#o_field_input_111.o_form_input.o_form_field(placeholder='e.g. SO005', type='text')
                                                            tr
                                                                td.o_td_label(colspan='1')
                                                                    label.o_form_label
                                                                        | Task
                                                                td(colspan='1', style='width: 100%;')
                                                                    select#o_field_input_106.o_form_input.o_form_field.o_form_required(name='priority',style='backgroundColor:white;')
                                                                        option(value='false')
                                                                        option(value='"0"') Not urgent
                                                                        option(value='"1"') Normal
                                                                        option(value='"2"') Urgent
                                                                        option(value='"3"') Very Urgent
                                                            tr
                                                                td.o_td_label(colspan='1')
                                                                    label.o_form_label
                                                                        | Purchase Order
                                                                td(colspan='1', style='width: 100%;')
                                                                    select#o_field_input_106.o_form_input.o_form_field.o_form_required(name='priority',style='backgroundColor:white;')
                                                                        option(value='false')
                                                                        option(value='"0"') Not urgent
                                                                        option(value='"1"') Normal
                                                                        option(value='"2"') Urgent
                                                                        option(value='"3"') Very Urgent
                                                            tr
                                                                td.o_td_label(colspan='1')
                                                                    label.o_form_label.o_form_invisible(for='o_field_input_114')
                                                                        | Procurement Group
                                                                td(colspan='1', style='width: 100%;')
                                                                    .o_form_field_many2one.o_form_field.o_form_invisible
                                                                        .o_form_input_dropdown
                                                                            input#o_field_input_114.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                                            span.o_dropdown_button(draggable='false')
                                                                        button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button', style='display: none;')
                                                    table.o_group.o_inner_group.o_group_col_6
                                                        tbody
                                                            tr
                                                                td.o_td_label(colspan='1')
                                                                    label.o_form_label.o_form_label_help(data-original-title='', title='')
                                                                        | Rule
                                                                td(colspan='1', style='width: 100%;')
                                                                    select#o_field_input_106.o_form_input.o_form_field.o_form_required(name='priority',style='backgroundColor:white;')
                                                                        option(value='false')
                                                                        option(value='"0"') Not urgent
                                                                        option(value='"1"') Normal
                                                                        option(value='"2"') Urgent
                                                                        option(value='"3"') Very Urgent
                                                            tr
                                                                td.o_td_label(colspan='1')
                                                                    label.o_form_label.o_form_label_help(data-original-title='', title='')
                                                                        | Customer Address
                                                                td(colspan='1', style='width: 100%;')
                                                                    select#o_field_input_106.o_form_input.o_form_field.o_form_required(name='priority',style='backgroundColor:white;')
                                                                        option(value='false')
                                                                        option(value='"0"') Not urgent
                                                                        option(value='"1"') Normal
                                                                        option(value='"2"') Urgent
                                                                        option(value='"3"') Very Urgent
                                                            tr
                                                                td.o_td_label(colspan='1')
                                                                    label.o_form_label
                                                                        | Company
                                                                td(colspan='1', style='width: 100%;')
                                                                    select#o_field_input_106.o_form_input.o_form_field.o_form_required(name='priority')
                                                                        option(value='false')
                                                                        option(value='"0"') Not urgent
                                                                        option(value='"1"') Normal
                                                                        option(value='"2"') Urgent
                                                                        option(value='"3"') Very Urgent

        Message
        Request_quotation_lower