.import_board
    .row.samoboardrow2
        .col-xs-6
            img.img-responsive(style='width:80px;')(src='/images/v.png')
        .col-xs-6(style='padding-top:51px;color:#777777;')
            h6(style='padding-top:10px;') Click to create a quotation that will be converted into a purchase order.
            h6(style='color:#777777;') Use this menu to search within your purchase orders by references, vendor,
            h6(style='color:#777777;') products, etc. For each purchase order, you can track the related discussion with
            h6(style='color:#777777;') the vendor, control the products received and control the vendor bills.

