doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Check
        link(rel="shortcut icon" href="/images/icon.ico" type="image/x-icon")
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        if(!error)
            link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
            link(rel='stylesheet', href='/stylesheets/style.css')
    body.bg-cover
        div.
            this is it
        div.container-fluid#main


        if(!error)
            script(src='/javascripts/jquery.min.js')
            script(src='/javascripts/tether.min.js')
            script(src='/javascripts/bootstrap.min.js')
            script(src='/javascripts/bundle.js')