doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/samoform.css')
        script(src='http://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='assets/js/passwordVerification.js')
        style.
            body{
            }
            .centered-form{
                margin-top: 192px;
                margin-left: 600px;
            }
            .bgl
            {
                width: 100%;
                height: 100%;
            }
            .centered-form .panel{
                background: rgba(255, 255, 255, 0.8);
                box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
            }

    body
        .container
            .row(style='margin-left: 294px;margin-top: 147px;')
                // Card Projects
                .col-md-6.col-md-offset-4.divmain
                    .card.signincard(style='border-color: white;')
                        .signindiv5
                            img.signinimg(src='/images/sprout_4splash.png')
                        .signindiv1.col-md-offset-1
                            p.signP1 Access and manage your instances from this Sprout account.
                        .card-content(style='border-top: 1px solid rgba(0, 0, 0, 0.17);')
                            form#newUser(method='post', action='setting/password')
                                .form-group(style='margin-bottom: 0px')
                                    input.form-control(type='hidden', name='_token', value='undefined')
                                .form-group(style='margin-bottom: 0px')
                                    label(for='email') Password:
                                    input#email.form-control(type='password', name='password')
                                .form-group
                                    label(for='pwd') Confirm Password:
                                    input#pwd.form-control(type='password', name='confirmpass')
                                .signindiv2
                                    a(href='signup')
                                        p.signinp3 Sign up
                                br
                                button.btn.btn-success.signinbtn(type='submit', style='background: #4aabae;') SIGN IN
                            form#oldUser(method='post', action='setting/conformPassword')
                                .form-group(style='margin-bottom: 0px')
                                    input.form-control(type='hidden', name='_token', value='undefined')
                                label(for='email') Welcome Back to Oddo! Please Sign In.
                                .form-group(style='margin-bottom: 0px')
                                    label(for='email') Email:
                                    input#emailOld.form-control(type='', name='emailOld', value='')
                                .form-group(style='margin-bottom: 0px')
                                    label(for='email') Password:
                                    input#password.form-control(type='password', name='password')
                                .signindiv2
                                    a(href='signup')
                                        p.signinp3 Sign up
                                br
                                button.btn.btn-success.signinbtn(type='submit', style='background: #4aabae;') SIGN IN
