.all_transfers_table
    DashboardController( v-bind:save='true',v-bind:heading="nextactivity",v-bind:discardbtn='true',v-bind:savedbtn='true', v-bind:links="btnlinks")
    .o_content
        .o_view_manager_content
            .o_form_view.o_form_editable
                .o_form_sheet_bg
                    .o_form_sheet
                        .o_group
                            table.o_group.o_inner_group.o_group_col_6
                                tbody
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label(for='o_field_input_10')
                                                | Product
                                        td(colspan='1', style='width: 100%;')
                                            .o_form_field_many2one.o_form_field.o_form_required
                                                .o_form_input_dropdown
                                                    input#o_field_input_10.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                    span.o_dropdown_button(draggable='false')
                                                button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button', style='display: none;')
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label
                                                | Validity Date
                                        td(colspan='1', style='width: 100%;')
                                            form#dateRangeForm.form-horizontal(method='post')
                                                .form-group
                                                    #dateRangePicker.input-group.input-append.date(style='padding-left: 15px;')
                                                        input.input-group-addon.form-control(type='text', name='date',style='width: 223px;height: 27px;background-color:#D2D2FF')
                            table.o_group.o_inner_group.o_group_col_6
                                tbody
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label(for='o_field_input_12')
                                                | Bill of Material
                                        td(colspan='1', style='width: 100%;')
                                            .o_form_field_many2one.o_form_field
                                                .o_form_input_dropdown
                                                    input#o_field_input_12.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                    span.o_dropdown_button(draggable='false')
                                                button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button', style='display: none;')
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label(for='o_field_input_13')
                                                | Work Center
                                        td(colspan='1', style='width: 100%;')
                                            .o_form_field_many2one.o_form_field
                                                .o_form_input_dropdown
                                                    input#o_field_input_13.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                    span.o_dropdown_button(draggable='false')
                                                button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button', style='display: none;')
                            textarea(name='editor1')