.all_transfers_table
    DashboardController( v-bind:heading="head",v-bind:savedbtn='true',v-bind:discardbtn='true', v-bind:links="btnlinks", v-bind:num1='true', v-bind:num2='true' )
    .o_content#tax1(style='margin-left: -15px;margin-right: -15px;')
        .o_view_manager_content
            .o_form_view.o_form_readonly
                table.o_group.o_inner_group
                    tbody

                        tr
                            td.o_td_label.one(colspan='1')
                                label.o_form_label(style='font-size: 0.9rem; ')
                                    | Payment Terms
                            td.two(colspan='1', style='width: 50%;')
                                input#o_field_input_87.o_form_input.o_form_field(style='width: 92%; background-color: #D2D2FF;')(value='15 days', type='text')

                            td.o_td_label.one(colspan='1')
                                label.o_form_label
                                    | Active
                            td.two(colspan='1', style='width: 50%;')
                                .o_checkbox
                                    input(type='checkbox')
                                    span
                p(style='font-size: 0.9rem; font-weight: bold; ')
                    | Description on the Invoice
                textarea.o_form_textarea.o_form_field(rows='6', name='sale_note',placeholder='Payment term: 15 Days', style='height: 57px; font-size: 0.9rem; padding-left: 13px;')
                button.o_field_translate.fa.fa-globe.btn.btn-link(type='button')
                textarea.o_form_textarea.o_form_field(disabled='', style='position: absolute; opacity: 0; height: 10px; top: -10000px; left: -10000px; width: 1397px;')


                table.o_group.o_inner_group
                    tbody
                        tr
                            td(colspan='2', style='width: 100%;font-size: 0.9rem;')
                                .o_horizontal_separator
                                    | Terms
                    p(style='font-size: 0.9rem; ') The last line's computation type should be "Balance" to ensure that the whole amount will be allocated.

    Tabledrag(v-bind:tableheader='tableheader', v-bind:tabledata="tabledata", v-bind:tablefoot="tablefoot")

