.maintenancetodo
    DashboardController(v-bind:heading="nextactivity",v-bind:links="btnlinks",v-bind:createbtn='true',v-bind:searchbar='true',
    v-bind:dropdownbtn1='true',v-bind:dropdownbtn2='true',v-bind:dropdownbtn3='true',v-bind:num1='false',v-bind:num2='false',
    v-bind:firstbtn='true',v-bind:secondbtn='true',v-bind:thirdbtn='true',v-bind:fourthbtn='true',v-bind:fifthbtn='true',)
    Maintenancepipeline