.channal
    .row

        .col-md-12(style='margin-left: -5px;')
            .row
                .col-md-5(style='')
                    hr(style='color:black;')
                .col-md-1(style='')
                    h1(style='font-size: 13px;') Today
                .col-md-6(style='')
                    hr(style='color:black;')
    .row
        .col-sm-0
            .o_thread_message_sidebar
                img.o_thread_message_avatar(src='/images/placeholder.png')
        .col-sm-6
            .o_thread_message_core
                p.o_mail_info
                    strong
                        a.o_mail_mailto(style='color: gray;',href='mailto:logan_expert@gmail.example.com?subject=Re: Inquiry')
                            | Your Company Adminsitator
                    |                     -
                    small.o_mail_timestamp(title='Wed Mar 08 2017 14:40:31 GMT+0500') a month ago 
                    span
                        i.fa.fa-lg.o_thread_message_star.fa-star-o(title='Mark as Todo', data-message-id='1064')

                p
                    | Hi,



