.row(style="margin-top: 10px;")
    .col-md-3(style='padding-right: 0px;')
        .table
            router-link(to='posproductsedit')
                .row
                    .col-xs-5
                        .img
                            img.img-responsive(style='width:80px;')(src='/images/orange.png')

                    .col-xs-6.offset-sm-1
                        strong
                            | Apple Ear Headphones

                        br(style='font-size:10px;')
                        |   Price:999.0
