.Contacts
    dashconterller(v-bind:createbtn='true',v-bind:searchbar='true',v-bind:dropdownbtn1='true',v-bind:dropdownbtn2='true',v-bind:dropdownbtn3='true',v-bind:importbtn='true', v-bind:links="btnlinks", v-bind:num1='true',v-bind:num2='true',v1-bind:paginbtn1='true',v1-bind:paginbtn2='true',v-bind:secondbtn='true',v-bind:firstbtn='true')
        .col-sm-6(style='padding:0px;')(slot='job')
            h4.samodashheading(style="font-size: 18px;") Contacts

    .row
        .col-md-12
            .table(style='width:335px;height: 135px;display:inline-block' ,v-for="row in names" )
                router-link(v-bind:to="'contact/contactinfo/'+row.id")
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue

                    .row
                        .col-xs-5(style='padding-top: 17px;')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')

                        .col-xs-6.offset-sm-1(style='color: black;font-size: 13px;')
                            strong(style='color:black;')
                                | {{row.name}}
                            br(style='font-size:8px;color:black;')
                            | {{row.job_position}}
                            br(style='font-size:8px;color:black;')
                            | {{row.city}},{{row.country}}
                            br(style='font-size:8px;color:black;')
                            |  {{row.email}}


                    .row
                        .col-xs-3.offset-sm-4(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-calendar
                                | 3

                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-shopping-cart
                                | 2
                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-star
                                | 3

                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-usd
                                | 2
