extends ../layout

block content
    div.row
        div.col-md-4.offset-md-4
            if(!emailSend)
                p.text-justify
                    | When you fill in your registered email address, you will be sent instructions on how to reset your password.
                div.card.shadwo-2
                    div.card-block
                        form(action='/user/forgot_password' method='post')
                            div.form-group
                                label(for='email') Email
                                input.form-control#email(type='email' name='email')
                            div.text-right
                                button.btn.btn-success.btn-block(type='submit') Send
                                input(type='hidden' name='_csrf' value=csrfToken)
                div.mt-2
                    p.m-0
                        b already have an account?&nbsp;
                        a(href='/user/login') login here
            else
                div.card.shadwo-2
                    div.card-block.shadwo-2
                        h1.text-center.text-info
                            | Email Has Been Sent Successfully!
                        hr
                        h4.text-center.text-warning
                            | Check Your Email