html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=windows-1252')
    title Sprout - 503
  body(bgcolor='cccccc')
    table(border='0', width='100%', height='100%')
      tbody
        tr
          td(height='100%', width='100%', align='center')
            object#err(classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000', codebase='http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0', width='100%', height='100%', align='middle')
              param(name='allowScriptAccess', value='sameDomain')
              param(name='movie', value="http://www.tinsanity.net/err.swf?err=503&subtext=YOU DON'T HAVE PRIVILIGE TO ACCESS THIS PAGE. SIGN IN! :'(")
              param(name='quality', value='high')
              param(name='bgcolor', value='#cccccc')
              embed(src="http://www.tinsanity.net/err.swf?err=503&subtext=YOU DON'T HAVE PRIVILIGE TO ACCESS THIS PAGE. SIGN IN! :'(", quality='high', bgcolor='#cccccc', width='100%', height='100%', name='err', align='middle', allowscriptaccess='sameDomain', type='application/x-shockwave-flash', pluginspage='http://www.macromedia.com/go/getflashplayer')
