.request_quotation_inner
    DashboardController(v-bind:savedbtn='true',v-bind:discardbtn='true', v-bind:links="btnlinks", v-bind:heading="head")
    .o_content.samocontent#tax1(style='margin-left: -15px;margin-right: -15px;')
        .o_view_manager_content
            .o_form_view.o_form_readonly
                .o_form_sheet_bg
                    .o_form_sheet
                        .row
                            h6(style='padding-left: 13px;') Account Number
                                input#o_field_input_87.o_form_input.o_form_field(style='width: 197%; height: 88%; background-color: #D2D2FF; padding-left: 13px;')(type='text')


                            table.o_group.o_inner_group
                                tbody

                                    tr
                                        td.o_td_label.one(colspan='1')
                                            label.o_form_label(style='font-size: 0.9rem; padding-left: 13px;')
                                                | Bank
                                        td.two(colspan='1', style='width: 50%;')
                                            select#o_field_input_186.o_form_input.o_form_field(style='width: 211px; ')(name='format')
                                                option(value='true') Crelan - NICABEBB
                                                option(value='"A0"') ING - BBRUBEBB

                                            button.fa.fa-external-link.btn.btn-default.o_external_button#bttn(style='color:#7C7BAD; background-color: transparent !important')(draggable='false', tabindex='-1', type='button')

                                        td.o_td_label.one(colspan='1')
                                            label.o_form_label
                                                | Show in Invoices Footer
                                        td.two(colspan='1', style='width: 50%;')
                                            .o_checkbox
                                                input(type='checkbox')
                                                span



                                    tr
                                        td.o_td_label.one(colspan='1')
                                            label.o_form_label(style='padding-left: 13px;')
                                                | Company
                                        td.two(colspan='1', style='width: 50%;')
                                            select#o_field_input_186.o_form_input.o_form_field(style='width: 211px; background-color: rgb(210, 210, 255);')(name='format')
                                                option(value='true') Alupak Industriess
                                                option(value='"A0"') My Company;wojjfp;ofo, Chicago

                                            button.fa.fa-external-link.btn.btn-default.o_external_button#bttn(style='color:#7C7BAD; background-color: transparent !important')(draggable='false', tabindex='-1', type='button')


                                        td.o_td_label.one(colspan='1')
                                            label.o_form_label(style='font-size: 0.8rem;')
                                                |Currency
                                        td.two(colspan='1', style='width: 50%;')
                                            select#o_field_input_186.o_form_input.o_form_field(style='width: 211px; ')(name='format')
                                                option(value='true') EUR
                                                option(value='"A0"') AED
                                            button.fa.fa-external-link.btn.btn-default.o_external_button#bttn(style='color:#7C7BAD; background-color: transparent !important')(draggable='false', tabindex='-1', type='button', data-toggle='modal', href='#myModal2')


                                    tr
                                        td.o_td_label.one(colspan='1')
                                            label.o_form_label(style='padding-left: 13px;')
                                                | Debit Methods
                                        td.two(colspan='1', style='width: 50%;')
                                            .o_checkbox
                                                input(type='checkbox')
                                                label(for='checkbox', style='font-size: 0.8rem; font-weight: 500;') Manual
                                            br
                                            .o_checkbox
                                                input(type='checkbox')
                                                label(for='checkbox', style='font-size: 0.8rem; font-weight: 500;') Electronic

                                        td.o_td_label.one(colspan='1')
                                            label.o_form_label(style='font-size: 0.8rem;')
                                                | Payment Methods
                                        td.two(colspan='1', style='width: 50%;')
                                            .o_checkbox
                                                input(type='checkbox')
                                                label(for='checkbox' style='font-size: 0.8rem; font-weight: 500;') Manual

    #myModal2.modal.fade.bd-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
            .modal-content(style='width: 123%; margin-left: -79px;')
                .modal-header
                    h6.modal-title(style='font-weight:bold;') Open: Currency
                    button.close(type='button', data-dismiss='modal') ×
                .modal-body(style='height: 250px;')

                    .row
                        .col-sm-3.samohascol3
                            //.oe_button_box(name='button_box')
                            //    button.btn.btn-sm.oe_stat_button(type='button', style='')
                            //        .fa.fa-fw.fa-archive.o_button_icon.trash
                            //        .o_stat_info.o_form_field(data-original-title='', title='')
                            //            span.o_stat_text.o_not_hover.text-success Active
                            //            span.o_stat_text.o_hover.text-danger
                            //                | Archive
                            //                .oe_button_box(name='button_box')
                    .row


                        table.o_group.o_inner_group
                            tbody

                                tr
                                    td.o_td_label.one(colspan='1')(style='padding-right: 43px;')
                                        label.o_form_label(style='font-size: 0.9rem; padding-left: 13px;')
                                            | Currency
                                    td.two(colspan='1', style='width: 50%;')
                                        input#o_field_input_11(type='text', name='format', value='AED')(style=' background-color:#D2D2FF;')
                                    td.o_td_label.one(colspan='1')(style='padding-right: 43px;')
                                        label.o_form_label
                                            | Currency
                                    td.two(colspan='1', style='width: 50%;')
                                        label.o_form_label(style='font-size: 0.9rem; padding-left: 13px;')
                                           | 4.512532
                .modal-footer(style='justify-content: flex-start;')
                    button.btn.btn-primary.samobuttopcontroller1(style='width: 7%; font-size: 0.9rem; background-color:#7c7bad; border-color: #414168;')(type='button', href='#') Save

                    button.btn.btn-primary.samobuttopcontroller2(type='button', data-dismiss='modal')(style='width: 9%; background-color: transparent; font-size: 0.9rem; color:black; border-color: #8c8c8c;') Discard

