.tabledrag(style='margin-left: -15px;margin-right: -15px;')
    table.table.table-striped.samotable
        thead.samotablehead.samotbody
            tr
                th.samotableheadborder(width='1')
                    .o_checkbox
                        input#ckbCheckAll2(type='checkbox')
                        span
                td(width='1')
                th.samotableheadborder(v-for='head in tableheader') {{ head }}

        tbody.samotbody(v-sortable='')
            tr(v-for='tr in tabledata')
                td.samotablepadd(width='1')
                    .o_checkbox
                        input.checkBoxClass(type='checkbox')
                        span
                td.fa.fa-arrows.pointer
                td.samotablepadd( v-for='td in tr.data')
                    a(v-bind:href='tr.url') {{ td }}
                td.samotableheadborder(width='1')
                    .o_checkbox
                        input(type='checkbox')
                        span
                td.samotablepadd( v-for='td in tr.data')
                    a(v-bind:href='tr.url') {{ td }}
        tfoot
            tr
                td(v-for='tdata in tablefoot') {{ tdata }}







