.vendorBills
    dashconterller(v-bind:save='false',v-bind:heading="pipeline",v-bind:createbtn='true',v-bind:importbtn='true', v-bind:links="btnlinks",v-bind:num1='true',v-bind:num2='true',v-bind:paginbtn1='false',v-bind:paginbtn2='false',v-bind:firstbtn='true',v-bind:secondbtn='true',v-bind:fifthbtn='true',v-bind:thirdbtn='true',v-bind:fourthbtn='true',v-bind:searchbar='true',v-bind:dropdownbtn1='true',v-bind:dropdownbtn2='true',v-bind:dropdownbtn3='true')
    TableMain(v-bind:tableheader='tableheader',v-bind:bullet='false', v-bind:tabledata="tabledata", v-bind:tablefoot="tablefooter",data-toggle='modal', data-target='.bd-example-modal-lg0')

   // .row
        table.table.table-striped.samotable
            thead.samotablehead
                tr
                    th.o_list_record_selector.samotableheadborder(width='1')
                        .o_checkbox
                            input(type='checkbox')
                            span

                    th.samotableheadborder Vendor
                    th.samotableheadborder Bill Date
                    th.samotableheadborder Number
                    th.samotableheadborder Vendor Reference
                    th.samotableheadborder Company
                    th.samotableheadborder Due Date
                    th.samotableheadborder Source Document
                    th.samotableheadborder Total
                    th.samotableheadborder Topay
                    th.samotableheadborder Status

            tfoot
                tr
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td.o_list_number(data-field='amount_untaxed', title='Total Untaxed amount') 57,272.80
                    td.o_list_number(data-field='amount_total', title='Total amount') 57,272.80
                    td

            tbody.samotbody
                tr
                    th.o_list_record_selector.samotablepadd(width='1')
                        .o_checkbox
                            input(type='checkbox')
                            span
                    td.open1.samotablepadd
                        router-link.links(to='vendorinner') ASUSTeK
                    td.open1.samotablepadd 01/15/2017
                    td.open1.samotablepadd Bill/2017/002
                    td.open1.samotablepadd
                    td.open1.samotablepadd Alupak Industriess
                    td.open1.samotablepadd 02/28/2017
                    td.open1.samotablepadd
                    td.open1.samotablepadd 14.00
                    td.open1.samotablepadd 14.00
                    td.open1.samotablepadd Open
                tr
                    th.o_list_record_selector.samotablepadd(width='1')
                        .o_checkbox
                            input(type='checkbox')
                            span
                    td.open1.samotablepadd Camptocamp
                    td.open1.samotablepadd 01/15/2017
                    td.open1.samotablepadd Bill/2017/002
                    td.open1.samotablepadd
                    td.open1.samotablepadd Alupak Industriess
                    td.open1.samotablepadd 02/28/2017
                    td.open1.samotablepadd
                    td.open1.samotablepadd 10000.00
                    td.open1.samotablepadd 14.00
                    td.open1.samotablepadd Open


                tr
                    th.o_list_record_selector(width='1')
                        .o_checkbox
                            input(type='checkbox')
                            span
                    td.open1.samotablepadd Camptocamp
                    td.open1.samotablepadd 01/15/2017
                    td.open1.samotablepadd
                    td.open1.samotablepadd
                    td.open1.samotablepadd Alupak Industriess
                    td.open1.samotablepadd 02/28/2017
                    td.open1.samotablepadd
                    td.open1.samotablepadd 14.00
                    td.open1.samotablepadd 14.00
                    td.open1.samotablepadd Open

                tr
                    th.o_list_record_selector.samotablepadd(width='1')
                        .o_checkbox
                            input(type='checkbox')
                            span
                    td.open1.samotablepadd Camptocamp
                    td.open1.samotablepadd 01/15/2017
                    td.open1.samotablepadd Bill/2017/002
                    td.open1.samotablepadd
                    td.open1.samotablepadd Alupak Industriess
                    td.open1.samotablepadd 02/28/2017
                    td.open1.samotablepadd
                    td.open1.samotablepadd 5749.00
                    td.open1.samotablepadd 1000.00
                    td.open1.samotablepadd Open
                tr
                    th.o_list_record_selector.samotablepadd(width='1')
                        .o_checkbox
                            input(type='checkbox')
                            span
                    td.open1.samotablepadd Camptocamp
                    td.open1.samotablepadd 01/15/2017
                    td.open1.samotablepadd
                    td.open1.samotablepadd
                    td.open1.samotablepadd Alupak Industriess
                    td.open1.samotablepadd 02/28/2017
                    td.open1.samotablepadd
                    td.open1.samotablepadd 5749.00
                    td.open1.samotablepadd 5749.00
                    td.open1.samotablepadd Open

                tr
                    th.o_list_record_selector.samotablepadd(width='1')
                        .o_checkbox
                            input(type='checkbox')
                            span
                    td.open1.samotablepadd Camptocamp
                    td.open1.samotablepadd 01/15/2017
                    td.open1.samotablepadd
                    td.open1.samotablepadd
                    td.open1.samotablepadd Alupak Industriess
                    td.open1.samotablepadd 02/28/2017
                    td.open1.samotablepadd
                    td.open1.samotablepadd 5749.00
                    td.open1.samotablepadd 5749.00
                    td.open1.samotablepadd Open

                tr
                    th.o_list_record_selector.samotablepadd(width='1')
                        .o_checkbox
                            input(type='checkbox')
                            span
                    td.open1.samotablepadd Camptocamp
                    td.open1.samotablepadd 01/15/2017
                    td.open1.samotablepadd Bill/2017/002
                    td.open1.samotablepadd
                    td.open1.samotablepadd Alupak Industriess
                    td.open1.samotablepadd 02/28/2017
                    td.open1.samotablepadd
                    td.open1.samotablepadd 14.00
                    td.open1.samotablepadd 14.00
                    td.open1.samotablepadd Open
                tr
                    th.o_list_record_selector.samotablepadd(width='1')
                        .o_checkbox
                            input(type='checkbox')
                            span
                    td.open1.samotablepadd Camptocamp
                    td.open1.samotablepadd 01/15/2017
                    td.open1.samotablepadd Bill/2017/002
                    td.open1.samotablepadd
                    td.open1.samotablepadd Alupak Industriess
                    td.open1.samotablepadd 02/28/2017
                    td.open1.samotablepadd
                    td.open1.samotablepadd 10000.00
                    td.open1.samotablepadd 10000.00
                    td.open1.samotablepadd Open