.Ctype
    dashconterller(v-bind:save='false',v-bind:heading="pipeline",v-bind:createbtn='true',v-bind:importbtn='false', v-bind:links="btnlinks",v-bind:num1='true',v-bind:num2='true',v-bind:paginbtn1='false',v-bind:paginbtn2='false',v-bind:firstbtn='true',v-bind:secondbtn='true',v-bind:fifthbtn='true',v-bind:thirdbtn='true',v-bind:fourthbtn='true',v-bind:searchbar='true',v-bind:dropdownbtn1='true',v-bind:dropdownbtn2='true',v-bind:dropdownbtn3='true')

    .o_content(style='margin-left:-20px')
        .o_view_manager_content
            .o_kanban_view.o_kanban_small_column.o_opportunity_kanban.o_kanban_grouped.connectedSortable(style='display: flex;height: 976px;')
                .o_kanban_group(data-id='1')
                    .o_kanban_header(data-delay='500', title='', data-original-title='<p>1 records</p>')
                        span.o_column_title New
                        span.o_column_unfold
                            i.fa.fa-arrows-h
                        span.o_kanban_config.dropdown
                            a.dropdown-toggle(data-toggle='dropdown', href='#')
                                i.fa.fa-gear
                            ul.dropdown-menu.memu-p(role='menu')
                                li
                                    a.o_kanban_toggle_fold(href='#') Fold
                                li
                                    a.o_column_edit(href='#') Edit Stage
                                li
                                    a.o_column_delete(href='#') Delete
                                li
                                    a.o_column_archive(href='#') Archive Records
                                li
                                    a.o_column_unarchive(href='#') Restore Records
                        span.o_kanban_quick_add
                            i.fa.fa-plus#click
                    .o_kanban_quick_create#create(style='display:none')
                        input(placeholder='Add', type='text')
                        button.btn.btn-sm.btn-primary.o_kanban_add Add
                        button.btn.btn-sm.btn-default.o_kanban_cancel Discard
                    #sortable1.connectedSortable(style='height:100%')
                        .oe_kanban_color_0.oe_kanban_global_click.o_kanban_record
                            .o_dropdown_kanban.dropdown
                                a.dropdown-toggle.btn(data-toggle='dropdown', href='#')
                                    span.fa.fa-bars.fa-lg
                                ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                                    li.memu-p
                                        a.oe_kanban_action.oe_kanban_action_a(data-type='edit', href='#') Edit
                                    li.memu-p
                                        a.oe_kanban_action.oe_kanban_action_a(data-type='delete', href='#') Delete
                                    li.memu-p
                                        a.oe_kanban_action.oe_kanban_action_a(data-name='action_set_unactive', data-type='object', href='#') Archive
                                    li
                                        ul.oe_kanban_colorpicker(data-field='color')
                                            li
                                                a.oe_kanban_color_0.colorbg(href='#', data-color='0')
                                            li
                                                a.oe_kanban_color_1.colorbg(href='#', data-color='1')
                                            li
                                                a.oe_kanban_color_2.colorbg(href='#', data-color='2')
                                            li
                                                a.oe_kanban_color_3.colorbg(href='#', data-color='3')
                                            li
                                                a.oe_kanban_color_4.colorbg(href='#', data-color='4')
                                            li
                                                a.oe_kanban_color_5.colorbg(href='#', data-color='5')
                                            li
                                                a.oe_kanban_color_6.colorbg(href='#', data-color='6')
                                            li
                                                a.oe_kanban_color_7.colorbg(href='#', data-color='7')
                                            li
                                                a.oe_kanban_color_8.colorbg(href='#', data-color='8')
                                            li
                                                a.oe_kanban_color_9.colorbg(href='#', data-color='9')

                            router-link(to='Salespipelineview')
                                .oe_kanban_content
                                    div
                                        .oe_form_field.o_form_field_many2manytags.o_kanban_tags(name='tag_ids', can_create='true', can_write='true', modifiers='{}')
                                    div
                                        strong
                                            span(name='name', modifiers='{"required": true}') Hassan
                                    .text-muted
                                    .o_kanban_footer
                                        .o_priority
                                            fieldset.rating
                                                input#star5(type='radio', name='rating', value='5')
                                                label(for='star5', title='Rocks!') 5 stars
                                                input#star4(type='radio', name='rating', value='4')
                                                label(for='star4', title='Pretty good') 4 stars
                                                input#star3(type='radio', name='rating', value='3')
                                                label(for='star3', title='Meh') 3 stars

                            div.modalopen
                                .o_kanban_inline_block
                                    .o_kanban_inline_block.dropdown.o_kanban_selection.o_mail_activity
                                        a(data-toggle='modal', data-target='.bd-example-modal-lg')
                                            span.oe_kanban_status.oe_kanban_status_grey

                                img.oe_kanban_avatar(width='24', height='24', src='http://192.168.25.104:8069/web/image?model=res.users&field=image_small&id=1&unique=20170313113712', title='hassan')
                            .oe_clear
                .o_kanban_group(data-id='2')
                    .o_kanban_header(data-delay='500', title='', data-original-title='<p>1 records</p>')
                        span.o_column_title Qualified
                        span.o_column_unfold
                            i.fa.fa-arrows-h
                        span.o_kanban_config.dropdown
                            a.dropdown-toggle(data-toggle='dropdown', href='#')
                                i.fa.fa-gear
                            ul.dropdown-menu.memu-p(role='menu')
                                li
                                    a.o_kanban_toggle_fold(href='#') Fold
                                li
                                    a.o_column_edit(href='#') Edit Stage
                                li
                                    a.o_column_delete(href='#') Delete
                                li
                                    a.o_column_archive(href='#') Archive Records
                                li
                                    a.o_column_unarchive(href='#') Restore Records
                        span.o_kanban_quick_add
                            i.fa.fa-plus#click1
                    .o_kanban_quick_create#create1(style='display:none')
                        input(placeholder='Add', type='text')
                        button.btn.btn-sm.btn-primary.o_kanban_add Add
                        button.btn.btn-sm.btn-default.o_kanban_cancel Discard
                    #sortable1.connectedSortable(style='height:100%')
                        .oe_kanban_color_0.oe_kanban_global_click.o_kanban_record
                            .o_dropdown_kanban.dropdown
                                a.dropdown-toggle.btn(data-toggle='dropdown', href='#')
                                    span.fa.fa-bars.fa-lg
                                ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                                    li.memu-p
                                        a.oe_kanban_action.oe_kanban_action_a(data-type='edit', href='#') Edit
                                    li.memu-p
                                        a.oe_kanban_action.oe_kanban_action_a(data-type='delete', href='#') Delete
                                    li.memu-p
                                        a.oe_kanban_action.oe_kanban_action_a(data-name='action_set_unactive', data-type='object', href='#') Archive
                                    li
                                        ul.oe_kanban_colorpicker(data-field='color')
                                            li
                                                a.oe_kanban_color_0.colorbg(href='#', data-color='0')
                                            li
                                                a.oe_kanban_color_1.colorbg(href='#', data-color='1')
                                            li
                                                a.oe_kanban_color_2.colorbg(href='#', data-color='2')
                                            li
                                                a.oe_kanban_color_3.colorbg(href='#', data-color='3')
                                            li
                                                a.oe_kanban_color_4.colorbg(href='#', data-color='4')
                                            li
                                                a.oe_kanban_color_5.colorbg(href='#', data-color='5')
                                            li
                                                a.oe_kanban_color_6.colorbg(href='#', data-color='6')
                                            li
                                                a.oe_kanban_color_7.colorbg(href='#', data-color='7')
                                            li
                                                a.oe_kanban_color_8.colorbg(href='#', data-color='8')
                                            li
                                                a.oe_kanban_color_9.colorbg(href='#', data-color='9')
                            router-link(to='Salespipelineview')
                                .oe_kanban_content
                                    div
                                        .oe_form_field.o_form_field_many2manytags.o_kanban_tags(name='tag_ids', can_create='true', can_write='true', modifiers='{}')
                                    div
                                        strong
                                            span(name='name', modifiers='{"required": true}') Sameer
                                    .text-muted
                                    .o_kanban_footer
                                        .o_priority
                                            fieldset.rating
                                                input#star1(type='radio', name='rating', value='5')
                                                label(for='star1', title='Rocks!') 5 stars
                                                input#star2(type='radio', name='rating', value='4')
                                                label(for='star2', title='Pretty good') 4 stars
                                                input#star0(type='radio', name='rating', value='3')
                                                label(for='star0', title='Meh') 3 stars
                            div.modalopen
                                .o_kanban_inline_block
                                    .o_kanban_inline_block.dropdown.o_kanban_selection.o_mail_activity
                                        a.oe_kanban_action.oe_kanban_action_a(data-toggle='modal', data-target='.bd-example-modal-lg')
                                            span.oe_kanban_status.oe_kanban_status_grey

                                img.oe_kanban_avatar(width='24', height='24', src='http://192.168.25.104:8069/web/image?model=res.users&field=image_small&id=1&unique=20170313113712', title='sameer')
                            .oe_clear
                .o_kanban_group(data-id='2')
                    .o_kanban_header(data-delay='500', title='', data-original-title='<p>1 records</p>')
                        span.o_column_title Qualified
                        span.o_column_unfold
                            i.fa.fa-arrows-h
                        span.o_kanban_config.dropdown
                            a.dropdown-toggle(data-toggle='dropdown', href='#')
                                i.fa.fa-gear
                            ul.dropdown-menu.memu-p(role='menu')
                                li
                                    a.o_kanban_toggle_fold(href='#') Fold
                                li
                                    a.o_column_edit(href='#') Edit Stage
                                li
                                    a.o_column_delete(href='#') Delete
                                li
                                    a.o_column_archive(href='#') Archive Records
                                li
                                    a.o_column_unarchive(href='#') Restore Records
                        span.o_kanban_quick_add
                            i.fa.fa-plus#click1
                    .o_kanban_quick_create#create1(style='display:none')
                        input(placeholder='Add', type='text')
                        button.btn.btn-sm.btn-primary.o_kanban_add Add
                        button.btn.btn-sm.btn-default.o_kanban_cancel Discard
                    #sortable1.connectedSortable(style='height:100%')
                        .oe_kanban_color_0.oe_kanban_global_click.o_kanban_record
                            .o_dropdown_kanban.dropdown
                                a.dropdown-toggle.btn(data-toggle='dropdown', href='#')
                                    span.fa.fa-bars.fa-lg
                                ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                                    li.memu-p
                                        a.oe_kanban_action.oe_kanban_action_a(data-type='edit', href='#') Edit
                                    li.memu-p
                                        a.oe_kanban_action.oe_kanban_action_a(data-type='delete', href='#') Delete
                                    li.memu-p
                                        a.oe_kanban_action.oe_kanban_action_a(data-name='action_set_unactive', data-type='object', href='#') Archive
                                    li
                                        ul.oe_kanban_colorpicker(data-field='color')
                                            li
                                                a.oe_kanban_color_0.colorbg(href='#', data-color='0')
                                            li
                                                a.oe_kanban_color_1.colorbg(href='#', data-color='1')
                                            li
                                                a.oe_kanban_color_2.colorbg(href='#', data-color='2')
                                            li
                                                a.oe_kanban_color_3.colorbg(href='#', data-color='3')
                                            li
                                                a.oe_kanban_color_4.colorbg(href='#', data-color='4')
                                            li
                                                a.oe_kanban_color_5.colorbg(href='#', data-color='5')
                                            li
                                                a.oe_kanban_color_6.colorbg(href='#', data-color='6')
                                            li
                                                a.oe_kanban_color_7.colorbg(href='#', data-color='7')
                                            li
                                                a.oe_kanban_color_8.colorbg(href='#', data-color='8')
                                            li
                                                a.oe_kanban_color_9.colorbg(href='#', data-color='9')
                            router-link(to='Salespipelineview')
                                .oe_kanban_content
                                    div
                                        .oe_form_field.o_form_field_many2manytags.o_kanban_tags(name='tag_ids', can_create='true', can_write='true', modifiers='{}')
                                    div
                                        strong
                                            span(name='name', modifiers='{"required": true}') Ahsan
                                    .text-muted
                                    .o_kanban_footer
                                        .o_priority
                                            fieldset.rating
                                                input#star7(type='radio', name='rating', value='5')
                                                label(for='star7', title='Rocks!') 5 stars
                                                input#star8(type='radio', name='rating', value='4')
                                                label(for='star8', title='Pretty good') 4 stars
                                                input#star9(type='radio', name='rating', value='3')
                                                label(for='star9', title='Meh') 3 stars
                            div.modalopen
                                .o_kanban_inline_block
                                    .o_kanban_inline_block.dropdown.o_kanban_selection.o_mail_activity
                                        a.oe_kanban_action.oe_kanban_action_a(data-toggle='modal', data-target='.bd-example-modal-lg')
                                            span.oe_kanban_status.oe_kanban_status_grey

                                img.oe_kanban_avatar(width='24', height='24', src='http://192.168.25.104:8069/web/image?model=res.users&field=image_small&id=1&unique=20170313113712', title='Ahsan')
                            .oe_clear
                .o_kanban_group(data-id='2')
                    .o_kanban_header(data-delay='500', title='', data-original-title='<p>1 records</p>')
                        span.o_column_title Qualified
                        span.o_column_unfold
                            i.fa.fa-arrows-h
                        span.o_kanban_config.dropdown
                            a.dropdown-toggle(data-toggle='dropdown', href='#')
                                i.fa.fa-gear
                            ul.dropdown-menu.memu-p(role='menu')
                                li
                                    a.o_kanban_toggle_fold(href='#') Fold
                                li
                                    a.o_column_edit(href='#') Edit Stage
                                li
                                    a.o_column_delete(href='#') Delete
                                li
                                    a.o_column_archive(href='#') Archive Records
                                li
                                    a.o_column_unarchive(href='#') Restore Records
                        span.o_kanban_quick_add
                            i.fa.fa-plus#click1
                    .o_kanban_quick_create#create1(style='display:none')
                        input(placeholder='Add', type='text')
                        button.btn.btn-sm.btn-primary.o_kanban_add Add
                        button.btn.btn-sm.btn-default.o_kanban_cancel Discard
                    #sortable1.connectedSortable(style='height:100%')
                        .oe_kanban_color_0.oe_kanban_global_click.o_kanban_record
                            .o_dropdown_kanban.dropdown
                                a.dropdown-toggle.btn(data-toggle='dropdown', href='#')
                                    span.fa.fa-bars.fa-lg
                                ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                                    li.memu-p
                                        a.oe_kanban_action.oe_kanban_action_a(data-type='edit', href='#') Edit
                                    li.memu-p
                                        a.oe_kanban_action.oe_kanban_action_a(data-type='delete', href='#') Delete
                                    li.memu-p
                                        a.oe_kanban_action.oe_kanban_action_a(data-name='action_set_unactive', data-type='object', href='#') Archive
                                    li
                                        ul.oe_kanban_colorpicker(data-field='color')
                                            li
                                                a.oe_kanban_color_0.colorbg(href='#', data-color='0')
                                            li
                                                a.oe_kanban_color_1.colorbg(href='#', data-color='1')
                                            li
                                                a.oe_kanban_color_2.colorbg(href='#', data-color='2')
                                            li
                                                a.oe_kanban_color_3.colorbg(href='#', data-color='3')
                                            li
                                                a.oe_kanban_color_4.colorbg(href='#', data-color='4')
                                            li
                                                a.oe_kanban_color_5.colorbg(href='#', data-color='5')
                                            li
                                                a.oe_kanban_color_6.colorbg(href='#', data-color='6')
                                            li
                                                a.oe_kanban_color_7.colorbg(href='#', data-color='7')
                                            li
                                                a.oe_kanban_color_8.colorbg(href='#', data-color='8')
                                            li
                                                a.oe_kanban_color_9.colorbg(href='#', data-color='9')
                            router-link(to='Salespipelineview')
                                .oe_kanban_content
                                    div
                                        .oe_form_field.o_form_field_many2manytags.o_kanban_tags(name='tag_ids', can_create='true', can_write='true', modifiers='{}')
                                    div
                                        strong
                                            span(name='name', modifiers='{"required": true}') Usama
                                    .text-muted
                                    .o_kanban_footer
                                        .o_priority
                                            fieldset.rating
                                                input#star10(type='radio', name='rating', value='5')
                                                label(for='star10', title='Rocks!') 5 stars
                                                input#star11(type='radio', name='rating', value='4')
                                                label(for='star11', title='Pretty good') 4 stars
                                                input#star12(type='radio', name='rating', value='3')
                                                label(for='star12', title='Meh') 3 stars

                            div.modalopen
                                .o_kanban_inline_block
                                    .o_kanban_inline_block.dropdown.o_kanban_selection.o_mail_activity
                                        a.oe_kanban_action.oe_kanban_action_a(data-toggle='modal', data-target='.bd-example-modal-lg')
                                            span.oe_kanban_status.oe_kanban_status_grey

                                img.oe_kanban_avatar(width='24', height='24', src='http://192.168.25.104:8069/web/image?model=res.users&field=image_small&id=1&unique=20170313113712', title='usama')
                        .oe_clear
                .o_column_quick_create#addnew
                    .o_column_header
                        span.o_kanban_add_column
                            i.fa.fa-chevron-right
                        span.o_kanban_title Add new Column
                        .o_kanban_quick_create
                            input(placeholder='Add', type='text')
                            button.btn.btn-sm.btn-primary.o_kanban_add Add
                            button.btn.btn-sm.btn-default.o_kanban_cancel Discard
                .o_kanban_group#addshow(data-id='5', style='display:none')
                    .o_kanban_header(data-delay='500', title='', data-original-title='<p>0 records</p>')
                        span.o_column_title
                    .o_kanban_quick_create
                        input(placeholder='Add', type='text')
                        br
                        button.btn.btn-sm.btn-primary.o_kanban_add Add
                        button.btn.btn-sm.btn-default.o_kanban_cancel#discard Discard
