.Absent
    DashboardController(v-bind:save='true',v-bind:heading="p",v-bind:searchbar='true',v-bind:dropdownbtn1='true',v-bind:dropdownbtn2='true',v-bind:dropdownbtn3='true',v-bind:createbtn='true', v-bind:links="btnlinks",v-bind:num1='true',v-bind:num2='true',v-bind:paginbtn1='true',v-bind:paginbtn2='true',v-bind:firstbtn='true',v-bind:secondbtn='true')
    .row(style='margin-left: 20px;')
        .col-xs-6
            img.img-responsive(style='width:80px;')(src='/images/v.png')
        .col-xs-6(style='padding-top:51px;')
            p(style='padding-top:10px;') Click here to add new document.




