.expensesallgrid
    DashboardController(v-bind:heading='nextactivity', v-bind:measurebtn='true', v-bind:links="btnlinks",v-bind:searchbar='true',
    v-bind:dropdownbtn1='true',v-bind:dropdownbtn2='true',v-bind:dropdownbtn3='true',v-bind:num1='true',v-bind:num2='true',
    v-bind:paginbtn1='true',v-bind:paginbtn2='true',v-bind:firstbtn='true',v-bind:secondbtn='true',v-bind:thirdbtn='true',
    v-bind:fourthbtn='true')
    Pivot