.posbarcodeimport
    DashboardController(v-bind:heading="head",v-bind:cancelbtn='true',v-bind:validatebtn='true',v-bind:createbtn='false' v-bind:importbtn='true' v-bind:links="btncancellink")
    Imported
