.container-fluid(style='')
    .row
        .col-sm-12
            .time
                p#demo(style='float:right;font-weight:bold;background-color: beige;')
    br
    br
    br
    br
    br
    br
    
    .row
        .col-sm-12
            .test(style='text-align:center;')

                .main(style='')
                    .test(style='flex: 0 0 auto; display: inline-block;width: 550px;border-radius: 10px;background-color: rgba(255, 255, 255, 0.8);box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);font-size: 1.2em;padding: 3px')
                        .row
                            .col-sm-12
                                .center
                                    h1(style='font-size: 27px;margin-top: 31px;') Welcome to Alupak Industriess
                        .row
                            .col-sm-12
                                .center
                                    img.img-responsive(style='width:50%;')(src='/images/alu.JPG')
                        .row
                            .col-sm-12
                                .center
                                    h2(style='font-size: 19px;') Scan your badge
                        .row
                            .col-sm-12
                                .center
                                    h2(style='font-size: 14px;') Or
                        .row
                            .col-sm-12
                                .center
                                    router-link(to='Empatt')
                                        button.btn.btn-primary.a(style='background-color: #7c7bad;color:white;border-radius:6px;font-size: 18px;width: 70%;margin-bottom: 15px;')( type='button') Select Empolyee








