.journalentries
    DashboardController(v-bind:heading="nextactivity",v-bind:savedbtn='true',v-bind:discardbtn='true', v-bind:links="btnlinks")
    .o_content(style='margin-left:-15px; margin-right:-15px;')
        .o_view_manager_content
            .o_form_view.o_form_readonly
                header
                    button.btn.btn-sm.oe_highlight(type='button', style='background-color:#807fa9; ')
                        router-link.linksd(to='currencyrates')(style='color:white;') Post
                    button.btn.btn-sm.oe_highlight.o_form_invisible(type='button')
                        span Capture Transaction
                    button.btn.btn-sm.o_form_invisible(type='button')
                        span Void Transaction
                    ul.oe_form_field_status.oe_form_status_clickable.o_form_field.o_form_required
                        li.oe_active(data-id='draft')
                            span.label Unposted
                            span.arrow
                                span
                        li(data-id='pending')
                            span.label Posted
                            span.arrow
                .o_form_sheet_bg
                    .o_form_sheet

                        .col-md-12
                            .oe_button_box(name='button_box')
                                button.btn.btn-sm.oe_stat_button(type='button', style='margin-bottom: 12px !important; width: 145px !important; float: right !important;')
                                    .fa.fa-fw.fa-bars.o_button_icon.trash
                                    .o_stat_info.o_form_field(data-original-title='', title='')
                                        router-link.linksd(to='journalitem')  Reconciled entries



                        .col-xs-12.request_inner1
                            .row
                                .col-xs-3.request_inner3(style='font-weight: bold; width: 21% !important;')
                                    .one
                                        label(style='font-size:15px;padding-right:25px;')
                                            | Journal
                                        br
                                        label(style='font-size:15px;')
                                            | Date
                                        br


                                .col-xs-4.osahass(style='width: 27.333333% !important;')
                                    .two
                                        select#o_field_input_186.o_form_input.o_form_field(style='width: 117%; margin-left: -18px; background-color: #D2D2FF;')(name='format')
                                            option(value='true') Miscellaneous Operations (pas)
                                            option(value='"A0"') Customer Invoices (pas)
                                            option(value='"A1"') Bank (pas)
                                            option(value='"A1"') Vendor Bills (pas)
                                            option(value='"A1"') Exchange Difference (pas)
                                        br
                                        form#dateRangeForm.form-horizontal(method='post')
                                            .form-group
                                                #dateRangePicker.input-group.input-append.date
                                                    input.input-group-addon.form-control(type='text', name='date', style='width:99% !important; background-color: #D2D2FF; text-align: left;')

                                        br


                                .col-xs-3.request_inner2(style='font-weight: bold; width: 21% !important;')
                                    .one
                                        label(style='font-size:15px;padding-right:25px; ')
                                            | Reference
                                        br
                                        label(style='font-size:15px;')
                                            | Company
                                        br


                                .col-xs-2.osahass(style='width: 27.333333% !important;')
                                    .two
                                        input#o_field_input_87.o_form_input.o_form_field(type='text')
                                        br
                                        a.o_form_uri.o_form_field.o_form_required(href='#') Alupak Industriess
                                        br
                                        br

                        .o_notebook(style='margin-top:45px;')
                            ul.nav.nav-tabs(role='tablist')
                                li.nav-item
                                    a.nav-link.active(href='#profile', role='tab', data-toggle='tab') Jornal Items

                            .tab-content
                                .row(style='')
                                    .col-md-12

                                        table.table.table-striped.samotable(style='')
                                            thead.samotablehead
                                                tr


                                                    th.samotableheadborder Account
                                                    th.samotableheadborder Partner
                                                    th.samotableheadborder Label
                                                    th.samotableheadborder Amount Currency
                                                    th.samotableheadborder Currency
                                                    th.samotableheadborder Debit
                                                    th.samotableheadborder Credit
                                                    th.samotableheadborder Due


                                            tfoot(style='background-color: #eeeeee;')
                                                tr
                                                    td
                                                    td
                                                    td
                                                    td
                                                    td
                                                    td 0.00
                                                    td 0.00
                                                    td


                                            tbody.samotbody
                                                tr

                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd

                                                tr

                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd

                                                tr

                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd

                                                tr

                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd
                                                    td.samotablepadd


                                        //input#o_field_input_87.o_form_input.o_form_field(style='padding-bottom: 29px;')(placeholder='Add an internal note..' , type='text')
                                        textarea.o_form_textarea.o_form_field(rows='6', name='sale_note', style='height: 50px; width: 100%;')

                                        button.o_field_translate.fa.fa-globe.btn.btn-link(type='button')
                                        textarea.o_form_textarea.o_form_field(disabled='', style='position: absolute; opacity: 0; height: 10px; top: -10000px; left: -10000px; width: 1397px;')
