.TypeContract
    DashboardController(v-show='p', v-bind:save='true',v-bind:heading="nextactivity",v-bind:editbtn='true',v-bind:createbtn='true',v-bind:dropdownMenuButton='true',v-bind:Attachmentbtn='true',v-bind:actionbtn='true', v-bind:links="btnlinks",v-bind:num1='true',v-bind:num2='true')
    .o_content
        .o_view_manager_content
            .o_form_view.o_form_nosheet.o_form_readonly
                table.o_group.o_inner_group
                    tbody
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label
                                    | Contract Type
                            td(colspan='3', style='width: 100%;')
                                span.o_form_field.o_form_required Employee
