.journalentries
    DashboardController(v-bind:heading="nextactivity", v-bind:links="btnlinks",v-bind:dropdownbtn1='true',v-bind:dropdownbtn2='true',v-bind:dropdownbtn3='true',v-bind:searchbar='true',v-bind:secondbtn='true',v-bind:thirdbtn='true', v-bind:num1='true')
    .row
        table.table.table-striped.samotable
            thead.samotablehead
                tr
                    th.o_list_record_selector.samotableheadborder(width='1')
                        .o_checkbox
                            input(type='checkbox')
                            span

                    th.samotableheadborder Date
                    th.samotableheadborder Journal Entry
                    th.samotableheadborder Journal
                    th.samotableheadborder Label
                    th.samotableheadborder Reference
                    th.samotableheadborder Partner
                    th.samotableheadborder Account
                    th.samotableheadborder Matching Number
                    th.samotableheadborder Debit
                    th.samotableheadborder Credit
                    th.samotableheadborder Amount currency
                    th.samotableheadborder Due date


            tfoot(style='background-color: #eeeeee;')
                tr
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td 0.00
                    td 0.00
                    td
                    td


            tbody.samotbody
                tr
                    th.o_list_record_selector.samotablepadd(width='1')
                        .o_checkbox

                    td.samotablepadd

                    td.samotablepadd
                    td
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd

                tr
                    th.o_list_record_selector.samotablepadd(width='1')
                        .o_checkbox

                            span
                    td.samotablepadd

                    td.samotablepadd
                    td
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd


                tr
                    th.o_list_record_selector.samotablepadd(width='1')
                        .o_checkbox

                            span
                    td.samotablepadd

                    td.samotablepadd
                    td
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd


                tr
                    th.o_list_record_selector.samotablepadd(width='1')
                        .o_checkbox

                            span
                    td.samotablepadd

                    td.samotablepadd
                    td
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd
                    td.samotablepadd


