.posfruit
    DashboardController(v-bind:editbtn='true',
    v-bind:createbtn='true',
    v-bind:links='btnlinks',
    v-bind:attachmentbtn='true',
    v-bind:actionbtn='true',
    v-bind:num1='true',
    v-bind:heading='head' )
    Posfruitwoedit
    Posfruitedit(style='display:none;')