.Vendorpkr
    .row.samorequestinnerrow
        .dashboardcontroller
            .bro
                .col-sm-6.samodashheadingmain(style='margin-top: 10px;')
                    h4.samodashheading Requests for Quotation/PO00007: 637.50 Rs.
                .col-sm-6.samodashsearch
                    h1(style='color: #f0eeee;') s
            .bro
                .col-sm-6.samodashheadingmain
                    button.btn.btn-primary.samobuttopcontroller#hasS(type='button', href='users')
                        router-link.links.samolinks(to='Imported') Edit
                    button.btn.btn-default.samobuttopcontroller2#hasHide(type='button', href='#home')
                        router-link.links.samolinks(to='Imported') Create
                            Discard
                    .dropdown1
                        .dropdown.samodropdownbutton2
                            button#dropdownMenuButton1.btn.btn-secondary.dropdown-toggle.samodropdownmenubutton(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                span.fa.fa-filter.iconbutton
                                | Print
                            .dropdown-menu(aria-labelledby='dropdownMenuButton')
                                a.dropdown-item(href='#') Purchase order
                                a.dropdown-item(href='#') Request For Quotation
                        .dropdown.samodropdownbutton2
                            button#dropdownMenuButton2.btn.btn-secondary.dropdown-toggle.samodropdownmenubutton(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                span.fa.fa-bars.iconbutton
                                | Attachment
                            .dropdown-menu(aria-labelledby='dropdownMenuButton')
                                a.dropdown-item(href='#') Add
                        .dropdown.samodropdownbutton2
                            button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle.samodropdownmenubutton(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                span.fa.fa-star.iconbutton
                                | Action
                            .dropdown-menu(aria-labelledby='dropdownMenuButton')
                                a.dropdown-item(href='#') Delete
                                a.dropdown-item(href='#') Duplicate
                .col-sm-6.samodashsearch
                    div(style='float:right;')
                        span.o_pager_value 1-24
                            |  /
                            span.o_pager_limit 24
                            span.btn-group.btn-group-sm
                                button.fa.fa-chevron-left.btn.btn-icon.o_pager_previous(style='background-color:white;border-color: #adadad;color: #4c4c4c;')(type='button', accesskey='p', disabled='')
                                button.fa.fa-chevron-right.btn.btn-icon.o_pager_next(style='background-color:white;border-color: #adadad;color: #4c4c4c;')(type='button', accesskey='n', disabled='')
    .o_content
        .o_view_manager_content
            .o_form_view.o_form_readonly
                .o_form_sheet_bg
                    .o_form_sheet
                        .row
                            .col-xs-2
                                .unsamaimage(style='margin-left:11px;')
                                    a(href='')
                                        img.unsamaimg(src='images/placeholder.png')
                            .col-md-8
                                .unsamadetails
                                    h2 Alupak Industriess

                                    h4(style='font-size:16px;') rajaunleashed@gmail.com
                                    router-link(to='Profile')
                                        label Alupak Industriess


                        .row(style='margin-top:20px;')
                            .col-xs-3(style='font-weight: bold;')
                                .one
                                    label(style='font-size:15px;padding-right:25px;')
                                        | Phone
                                    br
                                    label(style='font-size:15px;padding-right:25px;')
                                        | Mobile
                                    br
                                    label(style='font-size:15px;padding-right:25px;')
                                        | Fax
                                    br

                            .col-xs-4(style='')
                                .two
                                    label(style='font-size:13px;')
                                        | +1 555-555-5555
                                    br
                                    label(style='font-size:13px;')
                                        | +1 555-555-5555
                                    br
                                    label(style='font-size:13px;')
                                        | +1 555-555-5555
                                    br









