.sales
    DashboardController(v-bind:createbtn='true',v-bind:heading="vendormenu",v-bind:importbtn='true',v-bind:num1='true',v-bind:num2='true',v-bind:paginbtn1='true',v-bind:paginbtn2='true',v-bind:printbtn='true',v-bind:Attachmentbtn='true',v-bind:searchbar='true',v-bind:actionbtn='true',v-bind:links="btnlinks")
    TableMain(v-bind:tableheader='tableheader', v-bind:tabledata="tabledata", v-bind:tablefoot="tablefooter")
