.salesnextactivitiescreate
    DashboardController(v-bind:heading="salesnextactivities",v-bind:savedbtn='true',v-bind:discardbtn='true', v-bind:links="btnlinks")
    .row
        .col-md-12.pull-left.samotopcontroller
            .col-md-5.pull-left
                .col-xs-3.pull-left
                    button.btn.btn-primary.samobutton2(type='button',style='margin-left: 7px;') New Quotation
                .col-xs-3.pull-left
                    button.btn.btn-primary.samobutton2(type='button',style='margin-left: 7px;') Mark Won
                .col-xs-3.pull-left
                    button.btn.btn-primary.samobutton2(type='button',style='margin-left: 9px;') Mark LOst
                .col-xs-3.pull-left
                    button.btn.btn-primary.mark(type='button',style='margin-left: 5px;') Log Activity


            .col-md-1.pull-left
            .col-md-3.pull-left
            .col-md-3.pull-right
                .btn-group.btn-breadcrumb.samobreadcrum1
                    a.btn.btn-primary.samobreadbutt(href='#') Qualified
                    a.btn.btn-primary.samobreadbutt1(href='#') New
                    a.btn.btn-primary.samobreadbutt(href='#') Purchase

    NextActivitiesCreate