.container-fluid
    .modal.fade.bd-example-modal-lg2(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
            .modal-content(style='width: 123%; margin-left: -79px;')
                .modal-header
                    h6.modal-title(style='font-weight:bold;') Partner Ledger
                    button.close(type='button', data-dismiss='modal') ×
                .modal-body
                    .row

                    table.o_group.o_inner_group
                        tbody

                            tr
                                td.o_td_label.one(colspan='1')
                                    label.o_form_label
                                        | Target Moves
                                td.two(colspan='1', style='width: 50%;')
                                    .o_form_field_radio.o_vertical.o_form_field.o_form_required
                                        .o_radio_item
                                            input#radio21_posted.o_form_radio(type='radio', name='radio21', value='posted')
                                            label.o_form_label(for='radio21_posted') All Posted Entries
                                        .o_radio_item
                                            input#radio21_all.o_form_radio(type='radio', name='radio21', value='all')
                                            label.o_form_label(for='radio21_all') All Entries



                                td.o_td_label.one(colspan='1')
                                    label.o_form_label
                                        | Partner's
                                td.two(colspan='1', style='width: 50%;')
                                    .o_form_field_many2one.o_with_button.o_form_field.o_form_required
                                        .o_form_input_dropdown
                                            select#o_field_input_178.o_form_input.o_form_field(style='width: 88%; background-color: #D2D2FF;')(name='format')
                                                option(value='true') Recievable Accounts
                                                option(value='true') Payable Accounts
                                                option(value='true') Recievable and Payable Accounts


                            tr
                                td.o_td_label.one(colspan='1')
                                    label.o_form_label
                                        | With Currency
                                td.two(colspan='1', style='width: 50%;')
                                    .o_checkbox
                                        input(type='checkbox')
                                        span
                            tr
                                td.o_td_label.one(colspan='1')
                                    label.o_form_label
                                        | Reconciled Entries
                                td.two(colspan='1', style='width: 50%;')
                                    .o_checkbox
                                        input(type='checkbox')
                                        span
                            tr
                                td.o_td_label.one(colspan='1')
                                    label.o_form_label
                                        | Start Date
                                td.two(colspan='1', style='width: 50%;')
                                    form#dateRangeForm.form-horizontal(method='post')
                                        .form-group
                                            #dateRangePicker.input-group.input-append.date
                                                input.input-group-addon.form-control(type='text', name='date', style='height: 25px; width: 250px;  text-align: left; background-color: transparent; margin-right: 10px;')


                                td.o_td_label.one(colspan='1')
                                    label.o_form_label
                                        | End Date
                                td.two(colspan='1', style='width: 50%;')
                                    form#dateRangeForm1.form-horizontal(method='post')
                                        .form-group
                                            #dateRangePicker1.input-group.input-append.date
                                                input.input-group-addon.form-control(type='text', name='date', style='height: 25px; width: 250px;  text-align: left; background-color: transparent;')


                    .row

                    table.o_group.o_inner_group
                        tbody

                            tr
                                td.o_td_label.one(colspan='1')
                                    label.o_form_label
                                        | Journal
                                td.two(colspan='1', style='width: 100%;position:relative;')
                                    input(type='text',style='position: absolute; width:99%;')
                                    .dropdown
                                        button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false',style='line-height:0.25;border:none;padding:opx; padding-left:632px; margin-left: 2px;')
                                            | Dropdown button
                                        .dropdown-menu(aria-labelledby='dropdownMenuButton', style='width:100%;')
                                            option.dropdown-item(href='#') Action
                                            option.dropdown-item(href='#') Another action
                                            option.dropdown-item(href='#') Something else here

                                    //.o_form_field_many2one.o_with_button.o_form_field.o_form_required
                                    //    .o_form_input_dropdown
                                    //        select#o_field_input_178.o_form_input.o_form_field(style='width: 88%; background-color: #D2D2FF; line-height:1.25;border:none;padding:opx;')(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false',name='format')
                                    //            option(value='true') Recievable Accounts
                                    //            option(value='true') Payable Accounts
                                    //            option(value='true') Recievable and Payable Accounts






                .modal-footer(style='justify-content: flex-start;')
                    button.btn.btn-primary.samobuttopcontroller1(style='width: 7%; font-size: 0.9rem;')(type='button', href='#') Print
                    p(style='margin-bottom: 0rem;') or
                    button.btn.btn-primary.samobuttopcontroller2(type='button', href='#', data-dismiss='modal')(style='width: 6%; background-color: lightgray; font-size: 0.9rem;') Cancel


