.Letters
    DashboardController(v-bind:save='true',v-bind:heading="nextactivity",v-bind:searchbar='true',v-bind:dropdownbtn1='true',v-bind:dropdownbtn2='true',v-bind:dropdownbtn3='true', v-bind:links="btnlinks",v-bind:num1='true',v-bind:num2='true',v-bind:paginbtn1='true',v-bind:paginbtn2='true',v-bind:firstbtn='true',v-bind:secondbtn='true')
    .row(style="margin-top: 10px;")
        .col-md-3(style='padding-right: 0px;')
            .table
                router-link(to='ResumeandLetters')
                    .row
                        .col-xs-5
                            p(style='padding-left: 12px;color: black;margin-top: -10px;text-decoration: none;font-size: 13px;') Williams_CV.doc


 