.message
    .container(style='margin-right: 82px;')
        button.btn.btn-primary.messagebtn1(type='button',style='padding-right:10px;') New Message
        button.btn.btn-primary.messagebtn2(type='button') Log an Internal Note

        .col-sm-10.samobtn1(style='padding: 0px;')
            h6 To: Followers of "[E-COM08] Apple In-Ear Headphones"
            input#example-text-input.form-control.messageinput1(type='text', placeholder='Write Something',style='height: 62px;')
            button.btn.btn-primary.messagebtn1(type='button',style='padding-right:10px;') Send
            button.btn.btn-sm.btn-icon.fa.fa-smile-o.o_composer_button_emoji(data-toggle='popover', tabindex='4', type='button', data-original-title='', title='', style='background-color: white;border: 1px solid #cccccc;height: 30px;')
            button.btn.btn-sm.btn-icon.fa.fa-paperclip.o_composer_button_add_attachment(tabindex='5', type='button', style='background-color: white;border: 1px solid #cccccc;height: 30px;')
            button.btn.btn-sm.btn-icon.fa.fa-pencil-square-o.o_composer_button_full_composer(tabindex='6', type='button', style='background-color: white;border: 1px solid #cccccc;height: 30px;')





        .col-sm-10.samobtn2(style='padding: 0px;')
            h6 Log an internal note which will not be sent to followers, but which can be read by users accessing this document.
            input#example-text-input1.form-control.messageinput1(type='text', placeholder='Write Something',style='height: 62px;')
            button.btn.btn-primary.messagebtn1(type='button',style='padding-right:10px;') Log
            button.btn.btn-sm.btn-icon.fa.fa-smile-o.o_composer_button_emoji(data-toggle='popover', tabindex='4', type='button', data-original-title='', title='', style='background-color: white;border: 1px solid #cccccc;height: 30px;')
            button.btn.btn-sm.btn-icon.fa.fa-paperclip.o_composer_button_add_attachment(tabindex='5', type='file', style='background-color: white;border: 1px solid #cccccc;height: 30px;')
            button.btn.btn-sm.btn-icon.fa.fa-pencil-square-o.o_composer_button_full_composer(tabindex='6', type='button', style='background-color: white;border: 1px solid #cccccc;height: 30px;')



