.o_content
    .o_view_manager_content
        .o_kanban_view.o_hr_employee_kanban.o_kanban_ungrouped(style='display: flex;')
            .oe_kanban_global_click.o_kanban_record
                .oe_form_field.o_form_field_many2manytags.o_kanban_tags(name='category_ids', can_create='true', can_write='true', modifiers='{}')
                    span.o_tag.o_tag_color_1(title='', data-original-title='Trainer')
                .o_kanban_image
                    img(src='http://192.168.25.104:8069/web/image?model=hr.employee&field=image_medium&id=25&unique=20170330151339')
                    .o_employee_summary_icons
                        span(title='Messages')
                            i.fa.fa-comments
                            | 2
                        span(title='Followers')
                            i.fa.fa-users
                            | 1
                .oe_kanban_details
                    strong
                        #row
                            .col-xs-11(style='padding:0px')
                                strong
                                    | Enrique Jones
                            .col-xs-1(style='padding:0px')
                                div(data-original-title='', title='')
                                    .oe_hr_attendance_status.fa.fa-user.oe_hr_attendance_status_red
                    ul
                        li#last_login
                        li Marketing and Community Manager
                        li
                            i.fa.fa-envelope
                            |  mavia@4slash.com
                        li
                            i.fa.fa-phone
                            |  +923322323883
                    .o_kanban_button
                        button.o_follow_btn.o_following.btn.btn-sm.btn-default.oe_kanban_action.oe_kanban_action_button(data-name='action_unfollow', data-type='object', type='button')
                            span.o_unfollow Unfollow
                            span.o_following Following

