.o_content.usamascroll
    .o_view_manager_content
        .o_form_view.oe_form_configuration.o_form_nosheet.o_form_editable
            header
                button.btn.btn-sm.oe_highlight(type='button')
                    span Apply
                button.btn.btn-sm.oe_link(type='button')
                    span Cancel
            #main
                table.o_group.o_inner_group
                    tbody
                        tr
                            td(colspan='2', style='width: 100%;')
                                .o_horizontal_separator
                                    | CRM
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label
                                    | Leads Email Alias
                            td(colspan='1', style='width: 100%;')
                                div
                                    .o_form_invisible(attrs="{'invisible': [('alias_domain', 'in', ['localhost', '', False])]}")
                                        p.text-muted
                                            | Each sales team has an email alias that
                                            | could be setup on the sales team form. You
                                            | can setup a generic email alias to create
                                            | incoming leads.
                                        input.o_form_input.oe_inline.o_form_field(type='text')
                                        span @
                                        span.oe_inline.o_form_field localhost
                                    div(attrs="{'invisible': [('alias_domain', 'not in', ['localhost', '', False])]}")
                                        button.btn.btn-sm.oe_link(type='button')
                                            span Setup your domain alias
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label
                                    | Leads
                            td(colspan='1', style='width: 100%;')
                                .o_form_field_radio.o_vertical.o_form_field
                                    .o_radio_item
                                        input#radio36_0.o_form_radio(type='radio', name='radio36', value='0')
                                        label.o_form_label(for='radio36_0') Each mail sent to the alias creates a new opportunity
                                    .o_radio_item
                                        input#radio36_1.o_form_radio(type='radio', name='radio36', value='1')
                                        label.o_form_label(for='radio36_1')
                                            | Use leads if you need a qualification step before creating an opportunity or a customer
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label.o_form_label_help
                                    | Voip integration
                            td(colspan='1', style='width: 100%;')
                                div
                                    .o_form_field.o_form_field_boolean.oe_inline
                                        .o_checkbox.o_form_field_boolean
                                            input#o_field_input_8(type='checkbox', name='module_crm_voip')
                                            span
                                    label.o_form_label.o_form_label_help.o_form_invisible(for='o_field_input_8', data-original-title='', title='')
                                        | VoIP integration
                                    span.label.label-primary.oe_inline Enterprise
                                    a(href='https://www.odoo.com/slides/slide/voip-one-click-button-to-automate-calls-272', target='_blank')  More Info
                table.o_group.o_inner_group
                    tbody
                        tr
                            td(colspan='2', style='width: 100%;')
                                .o_horizontal_separator
                                    | Odoo Sign
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label
                                    | Odoo Sign
                            td(colspan='1', style='width: 100%;')
                                div
                                    .o_form_field.o_form_field_boolean.oe_inline
                                        .o_checkbox.o_form_field_boolean
                                            input#o_field_input_10(type='checkbox', name='module_website_sign')
                                            span
                                    label.o_form_label.o_form_invisible
                                        | Odoo Sign
                                    span.label.label-primary.oe_inline Enterprise
                                    a(href='https://www.odoo.com/page/sign', target='_blank')  More Info
                table.o_group.o_inner_group
                    tbody
                        tr
                            td(colspan='2', style='width: 100%;')
                                .o_horizontal_separator
                                    | Products
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label.o_form_label_help( data-original-title='', title='')
                                    | Product Variants
                            td(colspan='1', style='width: 100%;')
                                .o_form_field_radio.o_vertical.o_form_field
                                    .o_radio_item
                                        input#radio37_0.o_form_radio(type='radio', name='radio37', value='0')
                                        label.o_form_label(for='radio37_0') No variants on products
                                    .o_radio_item
                                        input#radio37_1.o_form_radio(type='radio', name='radio37', value='1')
                                        label.o_form_label(for='radio37_1')
                                            | Products can have several attributes, defining variants (Example: size, color,...)
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label.o_form_label_help( data-original-title='', title='')
                                    | Units of Measure
                            td(colspan='1', style='width: 100%;')
                                .o_form_field_radio.o_vertical.o_form_field
                                    .o_radio_item
                                        input#radio38_0.o_form_radio(type='radio', name='radio38', value='0')
                                        label.o_form_label(for='radio38_0') Products have only one unit of measure (easier)
                                    .o_radio_item
                                        input#radio38_1.o_form_radio(type='radio', name='radio38', value='1')
                                        label.o_form_label(for='radio38_1') Some products may be sold/purchased in different units of measure (advanced)
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label
                                    | Default Invoicing
                            td(colspan='1', style='width: 100%;')
                                .o_form_field_radio.o_vertical.o_form_field
                                    .o_radio_item
                                        input#radio39_order.o_form_radio(type='radio', name='radio39', value='order')
                                        label.o_form_label(for='radio39_order') Invoice ordered quantities
                                    .o_radio_item
                                        input#radio39_delivery.o_form_radio(type='radio', name='radio39', value='delivery')
                                        label.o_form_label(for='radio39_delivery') Invoice delivered quantities
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label.o_form_label_help.oe_inline(for='o_field_input_14', data-original-title='', title='')
                                    | Deposit Product
                            td(colspan='1', style='width: 100%;')
                                .o_form_field_many2one.oe_inline.o_form_field
                                    .o_form_input_dropdown
                                        input#o_field_input_14.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                        span.o_dropdown_button(draggable='false')
                                    button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button', style='display: none;')
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label
                                    | Digital Products
                            td(colspan='1', style='width: 100%;')
                                div
                                    .o_checkbox.o_form_field_boolean.oe_inline.o_form_field
                                        input#o_field_input_15(type='checkbox', name='module_website_sale_digital')
                                        span
                                    label.o_form_label(for='o_field_input_15')
                                        | Sell digital products - provide downloadable content on your customer portal
                table.o_group.o_inner_group
                    tbody
                        tr
                            td(colspan='2', style='width: 100%;')
                                .o_horizontal_separator
                                    | Pricing
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label.o_form_label_help(data-original-title='', title='')
                                    | Sale Price
                            td(colspan='1', style='width: 100%;')
                                div
                                    .o_form_field_radio.o_vertical.oe_inline.o_form_field.o_form_required
                                        .o_radio_item
                                            input#radio40_fixed.o_form_radio(type='radio', name='radio40', value='fixed')
                                            label.o_form_label(for='radio40_fixed') A single sale price per product
                                        .o_radio_item
                                            input#radio40_percentage.o_form_radio(type='radio', name='radio40', value='percentage')
                                            label.o_form_label(for='radio40_percentage') Specific prices per customer segment, currency, etc.
                                        .o_radio_item
                                            input#radio40_formula.o_form_radio(type='radio', name='radio40', value='formula')
                                            label.o_form_label(for='radio40_formula') Advanced pricing based on formulas (discounts, margins, rounding)
                                    .o_checkbox.o_form_field_boolean.oe_inline.o_form_field.o_form_invisible(data-original-title='', title='')
                                        input(type='checkbox', name='group_sale_pricelist')
                                        span
                                    .o_checkbox.o_form_field_boolean.oe_inline.o_form_field.o_form_invisible
                                        input(type='checkbox', name='group_pricelist_item')
                                        span
                                    .o_checkbox.o_form_field_boolean.oe_inline.o_form_field.o_form_invisible
                                        input(type='checkbox', name='group_product_pricelist')
                                        span
                table.o_group.o_inner_group
                    tbody
                        tr
                            td(colspan='2', style='width: 100%;')
                                .o_horizontal_separator
                                    | Quotations & Sales
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label.o_form_invisible(for='o_field_input_17')
                                    | Company
                            td(colspan='1', style='width: 100%;')
                                .o_form_field_many2one.o_with_button.o_form_field.o_form_required.o_form_invisible
                                    .o_form_input_dropdown
                                        input#o_field_input_17.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                        span.o_dropdown_button(draggable='false')
                                    button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button')
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label
                                    | Default Terms and Conditions *
                            td(colspan='1', style='width: 100%;')
                                textarea.o_form_textarea.o_form_field(rows='6', name='sale_note', style='height: 50px;')
                                button.o_field_translate.fa.fa-globe.btn.btn-link(type='button')
                                textarea.o_form_textarea.o_form_field(disabled='', style='position: absolute; opacity: 0; height: 10px; top: -10000px; left: -10000px; width: 1397px;')
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label
                                    | Addresses
                            td(colspan='1', style='width: 100%;')
                                .o_form_field_radio.o_vertical.o_form_field
                                    .o_radio_item
                                        input#radio41_0.o_form_radio(type='radio', name='radio41', value='0')
                                        label.o_form_label(for='radio41_0')
                                            | Invoicing and shipping addresses are always the same (Example: services companies)
                                    .o_radio_item
                                        input#radio41_1.o_form_radio(type='radio', name='radio41', value='1')
                                        label.o_form_label(for='radio41_1') Display 3 fields on sales orders: customer, invoice address, delivery address
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label.o_form_label_help(data-original-title='', title='')
                                    | Incoterms
                            td(colspan='1', style='width: 100%;')
                                .o_form_field_radio.o_vertical.o_form_field
                                    .o_radio_item
                                        input#radio42_0.o_form_radio(type='radio', name='radio42', value='0')
                                        label.o_form_label(for='radio42_0') No incoterm on reports
                                    .o_radio_item
                                        input#radio42_1.o_form_radio(type='radio', name='radio42', value='1')
                                        label.o_form_label(for='radio42_1') Show incoterms on sales orders and invoices
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label
                                    | Discount
                            td(colspan='1', style='width: 100%;')
                                .o_form_field_radio.o_vertical.o_form_field
                                    .o_radio_item
                                        input#radio43_0.o_form_radio(type='radio', name='radio43', value='0')
                                        label.o_form_label(for='radio43_0') No discount on sales order lines, global discount only
                                    .o_radio_item
                                        input#radio43_1.o_form_radio(type='radio', name='radio43', value='1')
                                        label.o_form_label(for='radio43_1') Allow discounts on sales order lines
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label
                                    | Margins
                            td(colspan='1', style='width: 100%;')
                                .o_form_field_radio.o_vertical.o_form_field
                                    .o_radio_item
                                        input#radio44_0.o_form_radio(type='radio', name='radio44', value='0')
                                        label.o_form_label(for='radio44_0') Salespeople do not need to view margins when quoting
                                    .o_radio_item
                                        input#radio44_1.o_form_radio(type='radio', name='radio44', value='1')
                                        label.o_form_label(for='radio44_1') Display margins on quotations and sales orders
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label
                                    | Sales Reports Layout
                            td(colspan='1', style='width: 100%;')
                                .o_form_field_radio.o_vertical.o_form_field
                                    .o_radio_item
                                        input#radio45_0.o_form_radio(type='radio', name='radio45', value='0')
                                        label.o_form_label(for='radio45_0') Do not personalize sales orders and invoice reports
                                    .o_radio_item
                                        input#radio45_1.o_form_radio(type='radio', name='radio45', value='1')
                                        label.o_form_label(for='radio45_1')
                                            | Personalize the sales orders and invoice report with categories, subtotals and page-breaks
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label
                                    | Sale Order Modification
                            td(colspan='1', style='width: 100%;')
                                .o_form_field_radio.o_vertical.o_form_field
                                    .o_radio_item
                                        input#radio46_0.o_form_radio(type='radio', name='radio46', value='0')
                                        label.o_form_label(for='radio46_0')
                                            | Allow to edit sales order from the 'Sales Order' menu (not from the Quotation menu)
                                    .o_radio_item
                                        input#radio46_1.o_form_radio(type='radio', name='radio46', value='1')
                                        label.o_form_label(for='radio46_1') Never allow to modify a confirmed sales order
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label
                                    | Warning
                            td(colspan='1', style='width: 100%;')
                                .o_form_field_radio.o_vertical.o_form_field
                                    .o_radio_item
                                        input#radio47_0.o_form_radio(type='radio', name='radio47', value='0')
                                        label.o_form_label(for='radio47_0') All the products and the customers can be used in sales orders
                                    .o_radio_item
                                        input#radio47_1.o_form_radio(type='radio', name='radio47', value='1')
                                        label.o_form_label(for='radio47_1') An informative or blocking warning can be set on a product or a customer
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label
                                    | Tax Display
                            td(colspan='1', style='width: 100%;')
                                div
                                    .o_form_field_radio.o_vertical.oe_inline.o_form_field.o_form_required
                                        .o_radio_item
                                            input#radio48_subtotal.o_form_radio(type='radio', name='radio48', value='subtotal')
                                            label.o_form_label(for='radio48_subtotal') Show line subtotals without taxes (B2B)
                                        .o_radio_item
                                            input#radio48_total.o_form_radio(type='radio', name='radio48', value='total')
                                            label.o_form_label(for='radio48_total') Show line subtotals with taxes included (B2C)
                                    .o_checkbox.o_form_field_boolean.oe_inline.o_form_field.o_form_invisible
                                        input(type='checkbox', name='group_show_price_subtotal')
                                        span
                                    .o_checkbox.o_form_field_boolean.oe_inline.o_form_field.o_form_invisible
                                        input(type='checkbox', name='group_show_price_total')
                                        span
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label
                                    | Subscriptions
                            td(colspan='1', style='width: 100%;')
                                div
                                    .o_form_field.o_form_field_boolean.oe_inline
                                        .o_checkbox.o_form_field_boolean
                                            input#o_field_input_28(type='checkbox', name='module_sale_contract')
                                            span
                                    label.o_form_label(for='o_field_input_28')
                                        | Manage subscriptions and recurring invoicing
                                    span.label.label-primary.oe_inline Enterprise
                                    a(href='https://www.odoo.com/page/subscriptions', target='_blank')  More Info
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label
                                    | Order Routing
                            td(colspan='1', style='width: 100%;')
                                .o_form_field_radio.o_vertical.o_form_field
                                    .o_radio_item
                                        input#radio49_0.o_form_radio(type='radio', name='radio49', value='0')
                                        label.o_form_label(for='radio49_0') No order specific routes like MTO or drop shipping
                                    .o_radio_item
                                        input#radio49_1.o_form_radio(type='radio', name='radio49', value='1')
                                        label.o_form_label(for='radio49_1') Choose specific routes on sales order lines (advanced)
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label.o_form_label_help.o_form_invisible( data-original-title='', title='')
                                    | Properties on SO Lines
                            td(colspan='1', style='width: 100%;')
                                .o_form_field_radio.o_vertical.o_form_field.o_form_invisible
                                    .o_radio_item
                                        input#radio50_0.o_form_radio(type='radio', name='radio50', value='0')
                                        label.o_form_label(for='radio50_0') Don't use manufacturing properties (recommended as its easier)
                                    .o_radio_item
                                        input#radio50_1.o_form_radio(type='radio', name='radio50', value='1')
                                        label.o_form_label(for='radio50_1') Allow setting manufacturing order properties per order line (advanced)
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label
                                    | Date
                            td(colspan='1', style='width: 100%;')
                                div
                                    .o_form_field_radio.o_vertical.oe_inline.o_form_field
                                        .o_radio_item
                                            input#radio51_0.o_form_radio(type='radio', name='radio51', value='0')
                                            label.o_form_label(for='radio51_0') Procurements and deliveries dates are based on the sales order dates
                                        .o_radio_item
                                            input#radio51_1.o_form_radio(type='radio', name='radio51', value='1')
                                            label.o_form_label(for='radio51_1') Allow to modify the sales order dates to postpone deliveries and procurements
                table.o_group.o_inner_group
                    tbody
                        tr
                            td(colspan='2', style='width: 100%;')
                                .o_horizontal_separator
                                    | Customers
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label
                                    | Online Quotations
                            td(colspan='1', style='width: 100%;')
                                .o_form_field_radio.o_vertical.o_form_field
                                    .o_radio_item
                                        input#radio52_0.o_form_radio(type='radio', name='radio52', value='0')
                                        label.o_form_label(for='radio52_0') Print quotes or send by email
                                    .o_radio_item
                                        input#radio52_1.o_form_radio(type='radio', name='radio52', value='1')
                                        label.o_form_label(for='radio52_1') Send quotations your customer can approve & pay online (advanced)
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label.o_form_label_help(for='o_field_input_33', data-original-title='', title='')
                                    | Sales Safety Days *
                            td(colspan='1', style='width: 100%;')
                                input#o_field_input_33.o_form_input.o_form_field.o_form_field_number(type='text')
                table.o_group.o_inner_group
                    tbody
                        tr
                            td(colspan='2', style='width: 100%;')
                                .o_horizontal_separator
                                    | Shipping
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label(for='o_field_input_34')
                                    | Shipping
                            td(colspan='1', style='width: 100%;')
                                .o_form_field_radio.o_vertical.o_form_field
                                    .o_radio_item
                                        input#radio53_0.o_form_radio(type='radio', name='radio53', value='0')
                                        label.o_form_label(for='radio53_0') No shipping costs on sales orders
                                    .o_radio_item
                                        input#radio53_1.o_form_radio(type='radio', name='radio53', value='1')
                                        label.o_form_label(for='radio53_1') Allow adding shipping costs
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label(for='o_field_input_35')
                                    | Default Shipping Policy
                            td(colspan='1', style='width: 100%;')
                                .o_form_field_radio.o_vertical.o_form_field
                                    .o_radio_item
                                        input#radio54_0.o_form_radio(type='radio', name='radio54', value='0')
                                        label.o_form_label(for='radio54_0') Ship products when some are available, and allow back orders
                                    .o_radio_item
                                        input#radio54_1.o_form_radio(type='radio', name='radio54', value='1')
                                        label.o_form_label(for='radio54_1') Ship all products at once, without back orders
            div
                span (*) This configuration is related to the company you're logged into.
