.row(style="margin-top: 10px;")
    .col-md-3(style='padding-right: 0px;padding-left: 5px;')
        .table(style='margin-top:-3px;')
            router-link(to='saleableproductview')
                .row
                    .col-xs-5
                        .img
                            img.img-responsive(style='width:80px;')(src='/images/e4.png')

                    .col-xs-6.offset-sm-1
                        strong
                            | Air Flight

                        br(style='font-size:10px;')
                        |   Price:999.0
