.container-fluid
    .row
        .col-xs-2
                .unsamaimage
                    a(href='')
                        img.unsamaimg(src='images/placeholder.png')
        .col-md-4
                 .unsamadetails
                    h2 Administrator

                    h4 abc@gmail.com





