.Product_inner_Edit
    DashboardController( v-bind:save='true',v-bind:heading="nextactivity",v-bind:savedbtn='true',v-bind:discardbtn='true', v-bind:links="btnlinks",v-bind:num1='true',v-bind:num2='true',v1-bind:paginbtn1='true',v1-bind:paginbtn2='true',v-bind:firstbtn='false',v-bind:secondbtn='false',v-bind:fifthbtn='false',v-bind:thirdbtn='false',v-bind:fourthbtn='false',v-bind:searchbar='false',v-bind:dropdownbtn1='false',v-bind:dropdownbtn2='false',v-bind:dropdownbtn3='false',v-bind:actionbtn='false',v-bind:Attachmentbtn='false',v-bind:printbtn='false')
    .o_content.row
        .col-md-12
            .row
                .col-md-12.pull-left.samotopcontroller
                    .col-md-5.pull-left


                    .col-md-1.pull-left
                    .col-md-3.pull-left
                    .col-md-3.pull-right
                        .btn-group.btn-breadcrumb.samobreadcrum1
                            a.btn.btn-primary.samobreadbutt(href='#') In Progress
                            a.btn.btn-primary.samobreadbutt(href='#') Done
                            a.btn.btn-primary.samobreadbutt1(href='#') To do
                            a.btn.btn-primary.samobreadbutt(href='#') More
            .o_view_manager_content
                .o_form_view.o_form_readonly

                    .o_form_sheet_bg.row
                        .o_form_sheet
                            .oe_button_box(name='button_box')
                                button.btn.btn-sm.oe_stat_button.o_form_invisible(type='button')
                                    .fa.fa-fw.fa-archive.o_button_icon
                                    .o_stat_info.o_form_field
                                        span.o_stat_text.o_not_hover.text-success Active
                                        span.o_stat_text.o_hover.text-danger Archive



                            .oe_button_box(name='button_box')
                                button.btn.btn-sm.oe_stat_button(type='button')
                                    .fa.fa-fw.fa-archive.o_button_icon
                                    .o_stat_info.o_form_field
                                        span.o_stat_text.o_not_hover.text-success Active
                                        span.o_stat_text.o_hover.text-danger Archive
                                button.btn.btn-sm.oe_stat_button.o_form_invisible(type='button')
                                    .fa.fa-fw.fa-tasks.o_button_icon
                                    .o_form_field.o_stat_info
                                        span.o_stat_value 0
                                        span.o_stat_text Sub-tasks
                                button.btn.btn-sm.oe_stat_button.o_form_invisible(type='button')
                                    .fa.fa-fw.fa-dollar.o_button_icon
                                    span Sales Order

                            .btn-group.o_kanban_selection.o_form_field.o_form_required(data-original-title='', title='')
                                a(data-toggle='dropdown', href='#')
                                    span.oe_kanban_status
                                ul.dropdown-menu.state(role='menu')
                                    li(data-value='done')
                                        a(href='#')
                                            span.oe_kanban_status.oe_kanban_status_green
                                            |             Ready for next stage
                                    li(data-value='blocked')
                                        a(href='#')
                                            span.oe_kanban_status.oe_kanban_status_red
                                            |             Blocked


                            .oe_title
                                h1.o_row
                                    .o_priority.o_form_field
                                        a.o_priority_star.fa.fa-star-o(href='#', data-value='1', title='High')
                                    input.o_form_input.o_form_field.o_form_required(placeholder='Task Title...', type='text')


                            .o_group
                                table.o_group.o_inner_group.o_group_col_6
                                    tbody
                                        tr
                                            td.o_td_label(colspan='1')
                                                label.o_form_label(for='o_field_input_99')
                                                    | Project
                                            td(colspan='1', style='width: 100%;')
                                                .o_form_field_many2one.o_with_button.o_form_field
                                                    .o_form_input_dropdown
                                                        input#o_field_input_99.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                        span.o_dropdown_button(draggable='false')
                                                    button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button')
                                        tr
                                            td.o_td_label(colspan='1')
                                                label.o_form_label.o_task_user_field(for='o_field_input_100')
                                                    | Assigned to
                                            td(colspan='1', style='width: 100%;')
                                                .o_form_field_many2one.o_task_user_field.o_form_field
                                                    .o_form_input_dropdown
                                                        input#o_field_input_100.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                        span.o_dropdown_button(draggable='false')
                                        tr
                                            td.o_td_label(colspan='1')
                                                label.o_form_label.o_form_label_help(for='o_field_input_101', data-original-title='', title='')
                                                    | Initially Planned Hours
                                            td(colspan='1', style='width: 100%;')
                                                input#o_field_input_101.o_form_input.o_form_field.o_form_field_number(type='text')
                                        tr
                                            td.o_td_label(colspan='1')
                                                label.o_form_label.o_form_label_help.o_form_invisible.o_form_label_empty.o_form_label_false(data-original-title='', title='')
                                                    | Kanban Blocked Explanation
                                            td(colspan='1', style='width: 100%;')
                                                span.o_form_field.o_form_invisible.o_form_field_empty
                                                button.o_field_translate.fa.fa-globe.btn.btn-link(type='button')
                                        tr
                                            td.o_td_label(colspan='1')
                                                label.o_form_label.o_form_label_help.o_form_invisible.o_form_label_empty.o_form_label_false(data-original-title='', title='')
                                                    | Kanban Ongoing Explanation
                                            td(colspan='1', style='width: 100%;')
                                                span.o_form_field.o_form_invisible.o_form_field_empty
                                                button.o_field_translate.fa.fa-globe.btn.btn-link(type='button')
                                        tr
                                            td.o_td_label(colspan='1')
                                                label.o_form_label.o_form_label_help.o_form_invisible.o_form_label_empty.o_form_label_false(data-original-title='', title='')
                                                    | Kanban Valid Explanation
                                            td(colspan='1', style='width: 100%;')
                                                span.o_form_field.o_form_invisible.o_form_field_empty
                                                button.o_field_translate.fa.fa-globe.btn.btn-link(type='button')
                                table.o_group.o_inner_group.o_group_col_6
                                    tbody
                                        tr
                                            td.o_td_label(colspan='1')
                                                label.o_form_label
                                                    | Deadline
                                            td(colspan='1', style='width: 100%;')
                                                .o_datepicker.o_form_field_date.o_form_field
                                                    input.o_datepicker_input.o_form_input(type='text', name='date_deadline')
                                                    span.o_datepicker_button
                                        tr
                                            td.o_td_label(colspan='1')
                                                label.o_form_label
                                                    | Tags
                                            td(colspan='1', style='width: 100%;')
                                                .o_form_field_many2manytags.o_form_field
                                                    span.badge.dropdown.o_tag_color_10(data-color='10', data-id='5', data-index='0')
                                                        span.o_badge_text(title='Usability') Usability
                                                        span.fa.fa-times.o_delete
                                                    .o_form_field_many2one.o_form_field
                                                        .o_form_input_dropdown
                                                            input.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                            span.o_dropdown_button(draggable='false')
                                        tr
                                            td.o_td_label(colspan='1')
                                                label.o_form_label
                                                    | Working Time Recorded
                                            td(colspan='1', style='width: 100%;')
                                                .o_progressbar.o_form_field
                                                    .o_progress
                                                        .o_progressbar_complete(style='width: 100%;')
                                                    .o_progressbar_value 100%




                            .o_notebook(style='margin-top:0px;')
                                ul.nav.nav-tabs(role='tablist')
                                    li.nav-item
                                        a.nav-link.active(href='#profile', role='tab', data-toggle='tab') Description

                                    li.nav-item
                                        a.nav-link(href='#buzz', role='tab', data-toggle='tab') Timesheets

                                    li.nav-item
                                        a.nav-link(href='#buzz1', role='tab', data-toggle='tab') Extra Info



                                .tab-content
                                    #profile.tab-pane.fade.in.active(role='tabpanel')
                                        textarea(name='editor1')


                                    #buzz.tab-pane.fade.in(role='tabpanel')
                                        TableMain(v-bind:tableheader='tableheader', v-bind:tabledata="tabledata", v-bind:tablefoot="tablefooter")
                                        table.o_group
                                            tbody(style="float: right;")
                                                tr
                                                    td.o_td_label(colspan='1',style='border:none')
                                                        label.o_form_label(style='float: right;')
                                                            | Untaxed Amount :
                                                    td(colspan='1', style='width: 100%;padding-right: 0px;')
                                                        span.o_form_field.o_form_field_number(style='text-align: right;')
                                                            span $
                                                            | 7,315.00
                                                tr(style='border-bottom: 1px solid lightslategrey;')
                                                    td.o_td_label(colspan='1',style='border:none')
                                                        label.o_form_label(style='float: right;')
                                                            | Taxes :
                                                    td(colspan='1', style='width: 100%;padding-right: 0px;')
                                                        span.o_form_field.o_form_field_number(style='text-align: right;')
                                                            span $
                                                            | 0.00

                                                tr
                                                    td(colspan='1', style='width: 50%;border:none;')
                                                        .oe_subtotal_footer_separator.oe_inline.o_td_label
                                                            label.o_form_label(style='float: right;')
                                                                | Total :
                                                            button.btn.btn-sm.oe_edit_only.oe_link.o_form_invisible(type='button')
                                                                span (update)
                                                    td(colspan='1', style='width: 50%;border:none;text-align: right;')
                                                        span.oe_subtotal_footer_separator.o_form_field.o_form_field_number
                                                            span $
                                                            | 7,315.00
                                    #buzz1.tab-pane.fade.in(role='tabpanel')
                                        .o_group
                                            table.o_group.o_inner_group.o_group_col_6
                                                tbody
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help.o_form_invisible(for='o_field_input_85', data-original-title='', title='')
                                                                | Sequence
                                                        td(colspan='1', style='width: 100%;')
                                                            input#o_field_input_85.o_form_input.o_form_field.o_form_invisible.o_form_field_number(type='text')
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label(for='o_field_input_86')
                                                                | Customer
                                                        td(colspan='1', style='width: 100%;')
                                                            .o_form_field_many2one.o_form_field
                                                                .o_form_input_dropdown
                                                                    input#o_field_input_86.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                                    span.o_dropdown_button(draggable='false')
                                                                button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button', style='display: none;')
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_invisible(for='o_field_input_87')
                                                                | Parent Task
                                                        td(colspan='1', style='width: 100%;')
                                                            .o_form_field_many2one.o_form_field.o_form_invisible
                                                                .o_form_input_dropdown
                                                                    input#o_field_input_87.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                                    span.o_dropdown_button(draggable='false')
                                                                button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button', style='display: none;')
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_invisible
                                                                | Sub-tasks
                                                        td(colspan='1', style='width: 100%;')
                                                            .o_form_field.o_form_invisible.o_form_field_one2many.o_view_manager_content
                                                                .o_x2m_control_panel
                                                                    .o_cp_buttons
                                                                    .o_cp_pager
                                                                        .o_hidden
                                                                            span.o_pager_value
                                                                            |  /
                                                                            span.o_pager_limit
                                                                            span.btn-group.btn-group-sm
                                                                                button.fa.fa-chevron-left.btn.btn-icon.o_pager_previous(type='button')
                                                                                button.fa.fa-chevron-right.btn.btn-icon.o_pager_next(type='button')
                                                                div
                                                                    .table-responsive
                                                                        table.o_list_view.table.table-condensed.table-striped
                                                                            thead
                                                                                tr
                                                                                    th.o_column_sortable(data-id='name')
                                                                                        | Task Title
                                                                                    th.o_column_sortable(data-id='project_id')
                                                                                        | Project
                                                                                    th.o_column_sortable(data-id='user_id')
                                                                                        | Assigned to
                                                                                    th.o_column_sortable(data-id='planned_hours')
                                                                                        | Initially Planned Hours
                                                                                    th.o_column_sortable(data-id='remaining_hours')
                                                                                        | Remaining Hours
                                                                                    th.o_column_sortable(data-id='stage_id')
                                                                                        | Stage
                                                                                    th.o_column_sortable(data-id='progress')
                                                                                        | Working Time Recorded
                                                                                    th.o_list_record_delete
                                                                            tfoot
                                                                                tr
                                                                                    td
                                                                                    td
                                                                                    td
                                                                                    td
                                                                                    td.o_list_number(data-field='remaining_hours', title='Remaining Hours') 00:00
                                                                                    td
                                                                                    td
                                                                                    td.o_list_record_delete
                                                                            tbody.ui-sortable
                                                                                tr
                                                                                    td.o_form_field_x2many_list_row_add(colspan='8')
                                                                                        a(href='#') Add an item
                                                                                tr
                                                                                    td(title='Task Title')  
                                                                                    td(title='Project')  
                                                                                    td(title='Assigned to')  
                                                                                    td(title='Initially Planned Hours')  
                                                                                    td(title='Remaining Hours')  
                                                                                    td(title='Stage')  
                                                                                    td(title='Working Time Recorded')  
                                                                                    td.o_list_record_delete
                                                                                tr
                                                                                    td(title='Task Title')  
                                                                                    td(title='Project')  
                                                                                    td(title='Assigned to')  
                                                                                    td(title='Initially Planned Hours')  
                                                                                    td(title='Remaining Hours')  
                                                                                    td(title='Stage')  
                                                                                    td(title='Working Time Recorded')  
                                                                                    td.o_list_record_delete
                                                                                tr
                                                                                    td(title='Task Title')  
                                                                                    td(title='Project')  
                                                                                    td(title='Assigned to')  
                                                                                    td(title='Initially Planned Hours')  
                                                                                    td(title='Remaining Hours')  
                                                                                    td(title='Stage')  
                                                                                    td(title='Working Time Recorded')  
                                                                                    td.o_list_record_delete
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_label_help.o_form_invisible.o_form_label_empty.o_form_label_false(data-original-title='', title='')
                                                                | Sub-task Project
                                                        td(colspan='1', style='width: 100%;')
                                                            a.o_form_uri.o_form_field.o_form_invisible.o_form_field_empty(href='#')
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_invisible(for='o_field_input_90')
                                                                | Procurement
                                                        td(colspan='1', style='width: 100%;')
                                                            .o_form_field_many2one.o_form_field.o_form_invisible
                                                                .o_form_input_dropdown
                                                                    input#o_field_input_90.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                                    span.o_dropdown_button(draggable='false')
                                                                button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button', style='display: none;')
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_invisible(for='o_field_input_91')
                                                                | Order Line
                                                        td(colspan='1', style='width: 100%;')
                                                            .o_form_field_many2one.o_form_field.o_form_invisible
                                                                .o_form_input_dropdown
                                                                    input#o_field_input_91.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                                    span.o_dropdown_button(draggable='false')
                                                                button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button', style='display: none;')
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label(for='o_field_input_92')
                                                                | Company
                                                        td(colspan='1', style='width: 100%;')
                                                            .o_form_field_many2one.o_with_button.o_form_field
                                                                .o_form_input_dropdown
                                                                    input#o_field_input_92.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                                    span.o_dropdown_button(draggable='false')
                                                                button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button')
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_invisible(for='o_field_input_93')
                                                                | Displayed Image
                                                        td(colspan='1', style='width: 100%;')
                                                            .o_form_field_many2one.o_form_field.o_form_invisible
                                                                .o_form_input_dropdown
                                                                    input#o_field_input_93.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                                    span.o_dropdown_button(draggable='false')
                                                                button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button', style='display: none;')
                                            table.o_group.o_inner_group.o_group_col_6
                                                tbody
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_invisible
                                                                | Assigning Date
                                                        td(colspan='1', style='width: 100%;')
                                                            span.o_form_field_date.o_form_field.o_form_invisible 04/21/2017 14:50:24
                                                    tr
                                                        td.o_td_label(colspan='1')
                                                            label.o_form_label.o_form_invisible
                                                                | Last Stage Update
                                                        td(colspan='1', style='width: 100%;')
                                                            span.o_form_field_date.o_form_field.o_form_invisible 04/21/2017 14:50:24








