.Companysequence
    .row.samorequestinnerrow
        .dashboardcontroller
            .bro
                .col-sm-6.samodashheadingmain(style='margin-top: 10px;')
                    h4.samodashheading Requests for Quotation/PO00007: 637.50 Rs.
                .col-sm-6.samodashsearch
                    h1(style='color: #f0eeee;') s
            .bro
                .col-sm-6.samodashheadingmain
                    button.btn.btn-primary.samobuttopcontroller#hasS(type='button', href='users')
                        router-link.links.samolinks(to='Imported') Edit
                    button.btn.btn-default.samobuttopcontroller2#hasHide(type='button', href='#home')
                        router-link.links.samolinks(to='Imported') Create
                            Discard
                    .dropdown1
                        .dropdown.samodropdownbutton2
                            button#dropdownMenuButton1.btn.btn-secondary.dropdown-toggle.samodropdownmenubutton(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                span.fa.fa-filter.iconbutton
                                | Print
                            .dropdown-menu(aria-labelledby='dropdownMenuButton')
                                a.dropdown-item(href='#') Purchase order
                                a.dropdown-item(href='#') Request For Quotation
                        .dropdown.samodropdownbutton2
                            button#dropdownMenuButton2.btn.btn-secondary.dropdown-toggle.samodropdownmenubutton(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                span.fa.fa-bars.iconbutton
                                | Attachment
                            .dropdown-menu(aria-labelledby='dropdownMenuButton')
                                a.dropdown-item(href='#') Add
                        .dropdown.samodropdownbutton2
                            button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle.samodropdownmenubutton(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                span.fa.fa-star.iconbutton
                                | Action
                            .dropdown-menu(aria-labelledby='dropdownMenuButton')
                                a.dropdown-item(href='#') Delete
                                a.dropdown-item(href='#') Duplicate
                .col-sm-6.samodashsearch
                    div(style='float:right;')
                        span.o_pager_value 1-24
                            |  /
                            span.o_pager_limit 24
                            span.btn-group.btn-group-sm
                                button.fa.fa-chevron-left.btn.btn-icon.o_pager_previous(style='background-color:white;border-color: #adadad;color: #4c4c4c;')(type='button', accesskey='p', disabled='')
                                button.fa.fa-chevron-right.btn.btn-icon.o_pager_next(style='background-color:white;border-color: #adadad;color: #4c4c4c;')(type='button', accesskey='n', disabled='')
    .o_content.samocontent
        .o_view_manager_content
            .o_form_view.o_form_readonly
                .o_form_sheet_bg
                    .o_form_sheet
                        .col-xs-12.request_inner1
                            .row
                                .col-xs-3.request_inner3(style='font-weight: bold;')
                                    .one
                                        label(style='font-size:15px;padding-right:25px;')
                                            | Name
                                        br
                                        label(style='font-size:15px;')
                                            | Implementation
                                        br



                                .col-xs-4.osahass(style='')
                                    .two(style='margin-left: -23px;')
                                        label(style='font-size:13px;')
                                            | YourCompanySequence in
                                        br
                                        label(style='font-size:13px;')
                                            | Standard
                                        br


                                .col-xs-3.request_inner2(style='font-weight: bold;margin-left: -48px;')
                                    .one
                                        label(style='font-size:15px;padding-right:25px;')
                                            | Sequence Code		Active
                                        br
                                        label(style='font-size:15px;')
                                            | Company
                                        br


                                .col-xs-2.osahass(style='')
                                    .checkbox.disabled(style='padding-left:21px;')
                                        input(type='checkbox', value='', disabled='')
                                    br
                                    router-link(to='Profile')
                                        label(style='font-size:13px;padding-right:25px;padding-top:19px;')
                                            | Alupak Industriess
                                        br



                        .o_notebook
                            ul.nav.nav-tabs(role='tablist')
                                li.nav-item
                                    a.nav-link.active(href='#profile', role='tab', data-toggle='tab') Sequence

                            // Tab panes
                            .tab-content
                                .row(style='margin-top:20px;')
                                    .col-sm-3
                                        .one

                                            label(style='font-size:13px;padding-right:25px;font-weight:bold;')
                                                | Prefix
                                            br
                                            label(style='font-size:13px;padding-right:25px;font-weight:bold;')
                                                | Suffix
                                            br
                                            label(style='font-size:13px;padding-right:25px;font-weight:bold;')
                                                | Use subsequences
                                            br
                                            label(style='font-size:13px;padding-right:25px;font-weight:bold;')
                                                | per date_range
                                            br
                                    .col-sm-3
                                        label(style='font-size:13px;padding-right:25px;')
                                            | WH/IN/
                                        br
                                        label(style='font-size:13px;padding-right:25px;')
                                            | WH/IN/
                                        br
                                        .checkbox.disabled(style='padding-left:21px;')
                                            input(type='checkbox', value='', disabled='')
                                        br
                                        label(style='font-size:13px;padding-right:25px;')
                                            | WH/IN/
                                        br




                                    .col-sm-3
                                        .one
                                            label(style='font-size:13px;padding-right:5px;font-weight:bold;')
                                                | Sequence Size
                                            br
                                            label(style='font-size:13px;padding-right:5px;font-weight:bold;')
                                                | Step
                                            br
                                            label(style='font-size:13px;padding-right:5px;font-weight:bold;')
                                                | Next Number
                                            br

                                    .col-sm-3
                                        label(style='font-size:13px;padding-right:25px;')
                                            | 5
                                        br
                                        label(style='font-size:13px;padding-right:25px;')
                                            | 1
                                        br
                                        label(style='font-size:13px;padding-right:25px;')
                                            | 6
                                        br

                                .row
                                    .col-sm-12
                                        h1(style='color:#7c7bad;font-size: 21px;padding-left: 10px;') Legend (for prefix, suffix)

                                .row(style='margin-top:20px;')
                                    .col-sm-4
                                        .one

                                            label(style='font-size:13px;padding-right:25px;font-weight:bold;')
                                                | Current Year with Century: %(year)s
                                            br
                                            label(style='font-size:13px;padding-right:25px;font-weight:bold;')
                                                | Current Year without Century: %(y)s
                                            br
                                            label(style='font-size:13px;padding-right:25px;font-weight:bold;')
                                                | Month: %(month)s
                                            br
                                            label(style='font-size:13px;padding-right:25px;font-weight:bold;')
                                                | Day: %(day)s
                                            br
                                    .col-sm-4
                                        .one
                                            label(style='font-size:13px;padding-right:25px;')
                                                | Day of the Year: %(doy)s
                                            br
                                            label(style='font-size:13px;padding-right:25px;')
                                                | Week of the Year: %(woy)s
                                            br
                                            label(style='font-size:13px;padding-right:25px;')
                                                | Day of the Week (0:Monday): %
                                            br
                                            br
                                        label(style='font-size:13px;padding-right:25px;padding-left:15px;')
                                            | (weekday)s
                                        br





                                    .col-sm-4
                                        .one
                                            label(style='font-size:13px;padding-right:5px;font-weight:bold;')
                                                | Hour 00->24: %(h24)s
                                            br
                                            label(style='font-size:13px;padding-right:5px;font-weight:bold;')
                                                | Hour 00->12: %(h12)s
                                            br
                                            label(style='font-size:13px;padding-right:5px;font-weight:bold;')
                                                | Minute: %(min)s
                                            br
                                            label(style='font-size:13px;padding-right:5px;font-weight:bold;')
                                                | Second: %(sec)s
                                            br





