.contracts
    dashconterller(v-show='k',v-bind:createbtn='true',v-bind:heading="nextactivity",v-bind:searchbar='true',v-bind:dropdownbtn1='true',v-bind:dropdownbtn2='true',v-bind:dropdownbtn3='true',v-bind:importbtn='true', v-bind:links="btnlinks")
    .row.samoboardrow2(style='margin-left: 20px;')
        .col-xs-6
            img.img-responsive(style='width:80px;')(src='/images/v.png')
        .col-xs-6(style='padding-top:51px;')
            p(style='padding-top:10px;') Click here to add new document
        
