.o_form_sheet_bg
    .row
        .col-md-12
            .col-md-6
                .title
                    h1
                        span.o_form_field.o_form_required SO007
            .col-md-6
                .button_box(name='button_box')

                    .fa_size.fa.fa-fw.fa-pencil-square-o.o_button_icon.size-font
                    .o_form_field.o_stat_info
                        span.o_stat_value 1
                        br
                        span.o_stat_text Invoices

        .col-md-12
            .row
                .col-md-2
                    .lab
                        label Customer
                .col-md-4
                    h1
                    a(href='#')
                        | China Export
                    br
                    | ChinaShanghai52 Chop Suey street 200000

                .col-md-3
                    .lab
                        label Confirmation Date
                        br
                        br
                        label Payment Terms
                .col-md-2
                    h1
                    | 01/12/2016

        .col-md-12
            ul.nav.nav-tabs
                li.nav-item
                    a.nav-link.active(href='#') Order Lines
                li.nav-item
                    a.nav-link(href='#') Other Information


        .col-md-12
            .row
                table.table.table-striped
                    thead
                        tr
                            th Product
                            th Description
                            th Ordered Qty
                            th Delieverd
                            th Invoice
                            th Unit Price
                            th Taxes
                            th Sub Total
                    tbody
                        tr
                            td [LAP-E5] Laptop E5023
                            td Laptop E5023
                            td Carter
                            td 500
                            td 500
                            td 500
                            td 500
                            td 44,500
                        tr
                            td [LAP-E5] Laptop E5023
                            td Laptop E5023
                            td Parker
                            td 500
                            td 500
                            td 500
                            td 500
                            td 57,700
                        tr
                            td [LAP-E5] Laptop E5023
                            td USB Adapter
                            td Rambo
                            td 500
                            td 400
                            td 500
                            td 500
                            td 56,00
                        tr
                            td [PROD_DEL] Switch, 24 ports
                            td DataCard
                            td Rambo
                            td 500
                            td 400
                            td 500
                            td 500
                            td 15,00

        .col-md-6
            .row
                .col-md-6
                    .net-amount
                        label Untaxed Amount :
                        br
                        label Taxes :
                        br
                        label Total :
                .col-md-4
                    .net-figure
                        | $14,981.00
                        br
                        | $0.00
                        br
                        | $14,981.00

