.container
    .test
        .row
            .col-xs-12
                .row
                    .col-xs-3(style='font-weight: bold;')
                        .one
                            label(style='font-size:15px;padding-right:25px;')
                                | Scheduled Date
                            br
                            br
                            label(style='font-size:15px;')
                                | Incoterm
                            br


                    .col-xs-4.osahass(style='')
                        .two
                            label(style='font-size:13px;')
                                | 02/18/2017 05:00:00

                    .col-xs-3(style='font-weight: bold;color:#4c4c4c;')
                        .one
                            label(style='font-size:15px;padding-right:30px;')
                                | Billing Status
                            br
                            label(style='font-size:15px;')
                                | Payment Terms
                            br
                            label(style='font-size:15px;')
                                | Fiscal Position
                            br


                    .col-xs-3(style='')
                        .two
                            label(style='font-size:13px;')
                                | Nothing to Bill
                            br
                            label(style='font-size:13px;')
                                | 30 Net Days


