.inventory_scrap
    DashboardController( v-bind:save='true',v-bind:heading="nextactivity",v-bind:createbtn='true',v-bind:importbtn='true', v-bind:links="btnlinks",v-bind:num1='false',v-bind:num2='false',v-bind:paginbtn1='true',v-bind:paginbtn2='true',v-bind:firstbtn='false',v-bind:secondbtn='false',v-bind:fifthbtn='false',v-bind:thirdbtn='false',v-bind:fourthbtn='false',v-bind:searchbar='true',v-bind:dropdownbtn1='true',v-bind:dropdownbtn2='true',v-bind:dropdownbtn3='true')
    .row.samoboardrow2
        .col-xs-6
            img.img-responsive(style='width:80px;')(src='/images/v.png')
        .col-xs-6(style='padding-top:51px;')
            h6(style='padding-top:10px;color: #4c4c4c;') Click to register a payment.
            p(style="color: #777777;font-size:1rem;") Payments are used to register liquidity movements (send, collect or transfer money).
            p(style="color: #777777;font-size:1rem;margin-top: -23px;") You can then process those payments by your own means or by using installed facilities.

