.container-fluid
    .modal.fade.bd-example-modal-lg1(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
            .modal-content(style='width: 123%; margin-left: -79px;')
                .modal-header
                    h6.modal-title(style='font-weight:bold;') Sale/Purchase Journal
                    button.close(type='button', data-dismiss='modal') ×
                .modal-body
                    .row

                    table.o_group.o_inner_group
                        tbody

                            tr
                                td.o_td_label.one(colspan='1')
                                    label.o_form_label(style='font-size: 0.9rem;')
                                        | Target Moves
                                td.two(colspan='1', style='width: 50%; font-size: 0.9rem;')
                                    .o_form_field_radio.o_vertical.o_form_field.o_form_required
                                        .o_radio_item
                                            input#radio21_posted.o_form_radio(type='radio', name='radio21', value='posted')
                                            label.o_form_label(for='radio21_posted') All Posted Entries
                                        .o_radio_item
                                            input#radio21_all.o_form_radio(type='radio', name='radio21', value='all')
                                            label.o_form_label(for='radio21_all') All Entries



                                td.o_td_label.one(colspan='1')
                                    label.o_form_label(style='font-size: 0.9rem;')
                                        | With Currency
                                td.two(colspan='1', style='width: 50%; font-size: 0.9rem;')
                                    .o_checkbox
                                        input(type='checkbox')
                                        span

                            tr
                                td.o_td_label.one(colspan='1')
                                    label.o_form_label(style='font-size: 0.9rem;')
                                        | Entries Sorted by
                                td.two(colspan='1', style='width: 50%; font-size: 0.9rem;')
                                    .o_form_field_radio.o_vertical.o_form_field.o_form_required
                                        .o_radio_item
                                            input#radio21_posted.o_form_radio(type='radio', name='radio21', value='posted')
                                            label.o_form_label(for='radio21_posted') Date
                                        .o_radio_item
                                            input#radio21_all.o_form_radio(type='radio', name='radio21', value='all')
                                            label.o_form_label(for='radio21_all') Journal Entry Number

                            tr
                                td.o_td_label.one(colspan='1')
                                    label.o_form_label(style='font-size: 0.9rem;')
                                        | Start Date
                                td.two(colspan='1', style='width: 50%; font-size: 0.9rem;')
                                    form#dateRangeForm.form-horizontal(method='post')
                                        .form-group
                                            #dateRangePicker.input-group.input-append.date
                                                input.input-group-addon.form-control(type='text', name='date', style='width: 250px; height: 25px; text-align: left; background-color: transparent; margin-right: 10px;')


                                td.o_td_label.one(colspan='1')
                                    label.o_form_label(style='font-size: 0.9rem;')
                                        | End Date
                                td.two(colspan='1', style='width: 50%; font-size: 0.9rem;')
                                    form#dateRangeForm1.form-horizontal(method='post')
                                        .form-group
                                            #dateRangePicker1.input-group.input-append.date
                                                input.input-group-addon.form-control(type='text', name='date', style='width: 250px; height: 25px;  text-align: left; background-color: transparent;')


                    .row

                    table.o_group.o_inner_group
                        tbody

                            tr
                                td.o_td_label.one(colspan='1')
                                    label.o_form_label(style='font-size: 0.9rem;')
                                        | Journal
                                td.two(colspan='1', style='width: 100%; font-size: 0.9rem;')
                                    ul.list-group
                                        li.list-group-item.justify-content-between
                                            span.badge.badge-default.badge-pill Customer Invoice (pas)
                                            span.badge.badge-default.badge-pill Vendor pills (pas)
                                            span.badge.badge-default.badge-pill POS Sale Journal (pas)



                .modal-footer(style='justify-content: flex-start;')
                    button.btn.btn-primary.samobuttopcontroller1(style='width: 7%; font-size: 0.9rem;')(type='button', href='#') Print
                    p(style='margin-bottom: 0rem;') or
                    button.btn.btn-primary.samobuttopcontroller2(type='button', href='#', data-dismiss='modal')(style='width: 6%; background-color: lightgray; font-size: 0.9rem;') Cancel


