.ResumeandLetters
    DashboardController(v-show='p', v-bind:save='true',v-bind:heading="nextactivity",v-bind:editbtn='true',v-bind:dropdownMenuButton='true',v-bind:Attachmentbtn='true',v-bind:actionbtn='true', v-bind:links="btnlinks",v-bind:num1='true',v-bind:num2='true')
    .o_content
        .o_view_manager_content
            .o_form_view.o_cannot_create.o_form_readonly
                .o_form_sheet_bg
                    .o_form_sheet
                        label.o_form_label.oe_edit_only(for='o_field_input_64')
                            | Attachment Name
                        h1
                            span.o_form_field.o_form_required Williams_CV.doc
                        .o_group
                            table.o_group.o_inner_group.o_group_col_6
                                tbody
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label.o_form_label_help(for='o_field_input_65', data-original-title='', title='')
                                                | Type
                                        td(colspan='1', style='width: 100%;')
                                            span.o_form_field.o_form_required URL
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label.o_form_invisible(for='o_field_input_66')
                                                | File Content
                                        td(colspan='1', style='width: 100%;')
                                            a.o_form_uri.o_form_field.o_form_invisible(href='javascript:void(0)')
                                                span.fa.fa-download
                                                |  Williams_CV.doc
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label.o_form_invisible.oe_inline.oe_right(for='o_field_input_67')
                                                | File Name
                                        td(colspan='1', style='width: 100%;')
                                            span.oe_inline.oe_right.o_form_field.o_form_invisible Williams_CV.doc
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label.o_form_label_empty.o_form_label_false(for='o_field_input_68')
                                                | Url
                                        td(colspan='1', style='width: 100%;')
                                            a.o_form_uri.o_text_overflow.o_form_field.o_form_field_empty(href='http://false', target='_blank')
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label.o_form_invisible(for='o_field_input_69')
                                                | Mime Type
                                        td(colspan='1', style='width: 100%;')
                                            span.o_form_field.o_form_invisible application/msword
                           