.laodingpage
    //loadingbar#SomeId.someClass(:progress='10')
    //.se-pre-con
    //       .abc Welcome To 4Slash Market
    //
    //.content
    //    .back-to-article
    //        p
    //            a(href='#') << Back to the article !!
    //    img(src='images/alu.jpg', style='visibility: hidden; width:100%; height: auto;')
