.o_content(style='margin-left: -15px;')
    .o_view_manager_content
        .o_pivot
            .o_field_selection
            table.table.table-hover.table-condensed.table-bordered
                thead
                    tr.bbg
                        th(rowspan='3', colspan='1', style='padding: 0px;')
                        th(rowspan='1', colspan='10', data-original-title='', title='', data-toggle='collapse', data-target='#demo')
                            | + Total
                    tr#demo.collapse.bbg
                        th(rowspan='1', colspan='10', title='', data-original-title='Sales Channel', data-toggle='collapse', data-target='#demo2')
                            | + Sales
                    tr#demo2.collapse
                        th.bbg Untaxed Total
                        th.bbg Gross Weight
                        th.bbg # of Lines
                        th.bbg Qty Ordered
                        th.bbg Qty Invoiced
                        th.bbg Qty To Invoice
                        th.bbg Volume
                        th.bbg Qty Delivered
                        th.bbg Total
                        th.bbg Count
                tbody
                    tr
                        td.addrow.bbg(style='padding-left: 5px;', data-original-title='', title='', data-toggle='collapse', data-target='#demo3')
                            | + Total
                        td.bbg(style='font-weight: bold;') 1.00
                        td.bbg(style='font-weight: bold;') 0.00
                        td.bbg(style='font-weight: bold;') 1
                        td.bbg(style='font-weight: bold;') 1.00
                        td.bbg(style='font-weight: bold;') 0.00
                        td.bbg(style='font-weight: bold;') 1.00
                        td.bbg(style='font-weight: bold;') 0.00
                        td.bbg(style='font-weight: bold;') 0.00
                        td.bbg(style='font-weight: bold;') 1.15
                        td.bbg(style='font-weight: bold;') 1
                    tr#demo3.collapse
                        td.addrow.bbg(title='', style='padding-left: 35px;', data-original-title='Date Order', data-toggle='collapse', data-target='#demo4')
                            | - March 2017
                        td.bbg(style='font-weight: bold;') 1.00
                            td.bbg(style='font-weight: bold;') 0.00
                            td.bbg(style='font-weight: bold;') 1
                            td.bbg(style='font-weight: bold;') 1.00
                            td.bbg(style='font-weight: bold;') 0.00
                            td.bbg(style='font-weight: bold;') 1.00
                            td.bbg(style='font-weight: bold;') 0.00
                            td.bbg(style='font-weight: bold;') 0.00
                            td.bbg(style='font-weight: bold;') 1.15
                            td.bbg(style='font-weight: bold;') 1
                    tr#demo4.collapse
                        td.addrow.bbg(title='', style='padding-left: 65px;')
                        td.addrow.bbg(title='', style='padding-left: 65px;', data-original-title='Analytic Account')
                            | + Undefined
                        td.bbg(style='font-weight: bold;') 1.00
                            td.bbg(style='font-weight: bold;') 0.00
                            td.bbg(style='font-weight: bold;') 1
                            td.bbg(style='font-weight: bold;') 1.00
                            td.bbg(style='font-weight: bold;') 0.00
                            td.bbg(style='font-weight: bold;') 1.00
                            td.bbg(style='font-weight: bold;') 0.00
                            td.bbg(style='font-weight: bold;') 0.00
                            td.bbg(style='font-weight: bold;') 1.15
                            td.bbg(style='font-weight: bold;') 1


