.expensespost
    DashboardController(v-bind:heading="nextactivity", v-bind:links="btnlinks",v-bind:createbtn='true',v-bind:importbtn='true',
v-bind:searchbar='true',v-bind:dropdownbtn1='true',v-bind:dropdownbtn2='true',v-bind:dropdownbtn3='true',
v-bind:num1='true',v-bind:num2='true',v-bind:paginbtn1='true',v-bind:paginbtn2='true',v-bind:firstbtn='true',v-bind:secondbtn='true',v-bind:fifthbtn='true',
v-bind:thirdhbtn='true',v-bind:fourthbtn='true')
    img(src='/images/view_empty_arrow.png')
    p Click here to create a new expense report.
    | Once you have created your expense, submit it to your manager who will validate it.