.poscash
    DashboardController(v-bind:createbtn='true', v-bind:editbtn='true',v-bind:attachmentbtn='true',v-bind:actionbtn='true',v-bind:paginbtn1='false',v-bind:paginbtn2='false', v-bind:links='btnlinks', v-bind:heading='head' )
    Cash