.Profile(style='margin-left:-15px;margin-right:-15px;')
    .o_content.samocontent#show
        .o_view_manager_content
            .o_form_view.o_form_readonly
                .o_form_sheet_bg
                    .o_form_sheet
                        .row
                            .col-xs-2
                                .unsamaimage(style='margin-left:11px;')
                                    a(href='')
                                        img.unsamaimg(src='images/placeholder.png')
                            .col-md-8
                                .unsamadetails
                                    h2 Alupak Industriess

                                    h4(style='font-size:16px;') Best Aluminium Foil in Pakistan



                        .o_notebook(style='margin-top:45px;')
                            ul.nav.nav-tabs(role='tablist')
                                li.nav-item
                                    a.nav-link.active(href='#profile', role='tab', data-toggle='tab') Sequence

                            // Tab panes
                            .tab-content
                                .row(style='margin-top:10px;')
                                    .col-md-3

                                        .one
                                            label(style='font-size:13px;padding-right:25px;font-weight:bold;')
                                                | Address
                                            br
                                            br
                                            br
                                            br
                                            br
                                            label(style='font-size:13px;font-weight:bold;')
                                                | Website
                                            br




                                    .col-md-3
                                        label(style='font-size:13px;padding-right:25px;')
                                            | Bla Bla Bla
                                        br
                                        label(style='font-size:13px;')
                                            | Bla
                                        br
                                        label(style='font-size:13px;')
                                            | KArachi Sindh 18540

                                        br
                                        label(style='font-size:13px;')
                                            | Pakistan

                                        br
                                        label(style='font-size:13px;margin-top:10px;')
                                            | www.4slash.com

                                        br



                                    .col-md-3

                                        .one
                                            label(style='font-size:16px;font-weight:bold;')
                                                | Phone
                                            br
                                            label(style='font-size:16px;font-weight:bold;')
                                                | Fax
                                            br
                                            label(style='font-size:16px;font-weight:bold;')
                                                | Email
                                            br
                                            label(style='font-size:16px;font-weight:bold;')
                                                | Tax ID
                                            br
                                            label(style='font-size:16px;font-weight:bold;')
                                                | Company registry
                                            br
                                            label(style='font-size:16px;font-weight:bold;')
                                                | Currency
                                            br
                                            label(style='font-size:16px;font-weight:bold;')
                                                | Parent Company
                                            br


                                    .col-md-3
                                        label(style='font-size:13px;margin-top:10px;')
                                            | +923322323883
                                        br
                                        label(style='font-size:13px;')
                                            | 54654
                                        br
                                        label(style='font-size:13px;')
                                            | mavia@4slash.com
                                        br
                                        label(style='font-size:13px;')
                                            | 034565654
                                        br
                                        label(style='font-size:13px;')
                                            | +46
                                        br
                                        label(style='font-size:13px;')
                                            | Pkr
                                        br

    .o_content.samocontent#showedit(style='display:none')
        .o_view_manager_content
            .o_form_view.o_form_readonly
                .o_form_sheet_bg
                    .o_form_sheet
                        Companies
                        .o_notebook(style='margin-top:45px;')
                            ul.nav.nav-tabs(role='tablist')
                                li.nav-item
                                    a.nav-link.active(href='#profile', role='tab', data-toggle='tab') General Information

                            // Tab panes
                            .tab-content
                                .row(style='margin-top:10px;')
                                    .col-md-3

                                        .one
                                            label(style='font-size:13px;padding-right:25px;font-weight:bold;')
                                                | Address
                                            br
                                            br
                                            br
                                            br
                                            br
                                            label(style='font-size:13px;font-weight:bold;')
                                                | Website
                                            br




                                    .col-md-3
                                        .o_address_format
                                            input#o_field_input_213.o_form_input.o_address_street.o_form_field(style='width:192px !important')(placeholder='Street...', type='text')
                                            input.o_form_input.o_address_street.o_form_field(style='width:192px !important')(placeholder='Street 2...', type='text')
                                        .row
                                            .col-md-4
                                                input.o_form_input.o_address_city.o_form_field(style='width:178% !important')(placeholder='City', type='text')
                                            .col-md-4
                                                select.empty(style=' padding-bottom: 7px; width:183% !important;')
                                                    option(value='', selected='', disabled='') State
                                                    option(value='1')(style='color:black !important;') Sindh
                                                    option(value='2')(style='color:black !important;') Beja
                                                    option(value='3')(style='color:black !important;') Braga

                                            .col-md-4
                                                input.o_form_input.o_address_zip.o_form_field(style='width:127% !important')(placeholder='ZIP', type='text')
                                        select.empty(style=' width:106% !important;')
                                            option(style='')(value='', selected='', disabled='') Country
                                            option(value='1')(style='color:black !important;') Pakistan
                                            option(value='2')(style='color:black !important;') United State
                                            option(value='3')(style='color:black !important;') Algeria
                                        input#o_field_input_85.o_form_input.o_form_field(style='margin-top: 7px !important; width: 106% !important;')(type='text')

                                        br

                                    .col-md-3

                                        .one
                                            label(style='font-size:16px;font-weight:bold;')
                                                | Phone
                                            br
                                            label(style='font-size:16px;font-weight:bold;')
                                                | Fax
                                            br
                                            label(style='font-size:16px;font-weight:bold;')
                                                | Email
                                            br
                                            label(style='font-size:16px;font-weight:bold;')
                                                | Tax ID
                                            br
                                            label(style='font-size:16px;font-weight:bold;')
                                                | Company registry
                                            br
                                            label(style='font-size:16px;font-weight:bold;')
                                                | Currency
                                            br
                                            label(style='font-size:16px;font-weight:bold;')
                                                | Parent Company
                                            br


                                    .col-md-3
                                        input#o_field_input_852.o_form_input.o_form_field(style='width:184px !important')(type='text')
                                        br
                                        input#o_field_input_853.o_form_input.o_form_field(type='text')
                                        br
                                        input#o_field_input_855.o_form_input.o_form_field(type='text')
                                        br
                                        input#o_field_input_85.o_form_input.o_form_field(type='text')
                                        br
                                        input#o_field_input_85.o_form_input.o_form_field(type='text')
                                        br
                                        .o_form_field_many2one.o_with_button.o_form_field.o_form_required
                                            .o_form_input_dropdown(style='padding-right: 93px !important;')
                                                select#o_field_input_176.o_form_input.o_form_field(style='width: 209% !important;')(name='format')
                                                    option(value='true') EUR
                                                    option(value='') USD
                                                    option(value='') PKR

                                            button.fa.fa-external-link.btn.btn-default.o_external_button(style='background-color: transparent; !important')(draggable='false', tabindex='-1', type='button')
                                        br
                                        input#o_field_input_85.o_form_input.o_form_field(type='text')












