.o_content
    .o_view_manager_content
        .o_form_view.o_form_editable
            .o_form_sheet_bg
                .o_form_sheet
                    .oe_button_box(name='button_box')
                    .o_form_field_image.oe_avatar.o_form_field(data-original-title='', title='')
                        img(border='1', name='image', src='http://192.168.25.104:8069/web/image?model=mail.channel&id=20&field=image_medium&unique=20170417122326', style='width: 90px; height: 90px;')
                        .o_form_image_controls
                            span.fa.fa-pencil.fa-lg.pull-left.o_select_file_button(title='Edit')
                            span.fa.fa-trash-o.fa-lg.pull-right.o_clear_file_button(title='Clear')
                            span.o_form_binary_progress Uploading...
                            .o_hidden_input_file
                                form.o_form_binary_form(enctype='multipart/form-data', method='post', action='/web/binary/upload')
                                    input(name='csrf_token', type='hidden', value='616929304a51b7102a984369878e15a6ca21cbe0o')
                                    input(name='callback', type='hidden')
                                    input.o_form_input_file(accept='image/*', name='ufile', type='file')
                                iframe(style='display: none')
                    .oe_title
                        .oe_edit_only
                            label.o_form_label(for='o_field_input_223')
                                | Name
                        h1
                            | #
                            input#o_field_input_223.o_form_input.o_form_field.o_form_required(placeholder='Name', type='text')
                            button.o_field_translate.fa.fa-globe.btn.btn-link.o_translate_active(type='button')
                    table.o_group.o_inner_group.o_label_nowrap
                        tbody
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label(for='o_field_input_224')
                                        | Send messages by email
                                td(colspan='1', style='width: 100%;')
                                    .o_checkbox.o_form_field_boolean.o_form_field
                                        input#o_field_input_224(type='checkbox', name='email_send')
                                        span
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label
                                        | Description
                                td(colspan='1', style='width: 100%;')
                                    textarea.o_form_textarea.o_form_field(rows='6', name='description', placeholder='Topics discussed in this group...', style='resize: horizontal; height: 50px;')
                                    textarea.o_form_textarea.o_form_field(disabled='', style='position: absolute; opacity: 0; height: 10px; top: -10000px; left: -10000px; width: 610px;')
                    table.o_group.o_inner_group
                        tbody
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label.o_form_label_help.fa.fa-envelope-o(for='o_field_input_226', style='min-width: 20px;', data-original-title='', title='')
                                td(colspan='1', style='width: 100%;')
                                    div(name='alias_def')
                                        .o_form_field_many2one.o_with_button.oe_read_only.oe_inline.o_form_field
                                            .o_form_input_dropdown
                                                input#o_field_input_226.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                span.o_dropdown_button(draggable='false')
                                            button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button')
                                        .oe_edit_only.oe_inline(name='edit_alias', style='display: inline;')
                                            input.o_form_input.oe_inline.o_form_field(type='text', data-original-title='', title='')
                                            | @
                                            span.oe_inline.o_form_field localhost
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label.o_form_label_help.fa.fa-lock(for='o_field_input_227', style='min-width: 20px;', data-original-title='', title='')
                                td(colspan='1', style='width: 100%;')
                                    select#o_field_input_227.o_form_input.oe_inline.o_form_field.o_form_required(name='alias_contact')
                                        option(value='false')
                                        option(value='"everyone"') Everyone
                                        option(value='"partners"') Authenticated Partners
                                        option(value='"followers"') Followers only
                                        option(value='"employees"') Authenticated Employees
                    .o_notebook
                        ul.nav.nav-tabs(role='tablist')
                            li.active
                                a(data-toggle='tab', disable_anchor='true', role='tab', href='#notebook_page_228')
                                    | Privacy
                            li
                                a(data-toggle='tab', disable_anchor='true', role='tab', href='#notebook_page_229')
                                    | Members
                        .tab-content.nav.nav-tabs
                            #notebook_page_228.tab-pane.active(role='tabpanel')
                                table.o_group.o_inner_group.o_label_nowrap
                                    tbody
                                        tr
                                            td.o_td_label(colspan='1')
                                                label.o_form_label.o_form_label_help( data-original-title='', title='')
                                                    | Who can follow the group's activities?
                                            td(colspan='1', style='width: 100%;')
                                                .o_form_field_radio.o_vertical.o_form_field.o_form_required
                                                    .o_radio_item
                                                        input#radio233_public.o_form_radio(type='radio', name='radio233', value='public')
                                                        label.o_form_label(for='radio233_public') Everyone
                                                    .o_radio_item
                                                        input#radio233_private.o_form_radio(type='radio', name='radio233', value='private')
                                                        label.o_form_label(for='radio233_private') Invited people only
                                                    .o_radio_item
                                                        input#radio233_groups.o_form_radio(type='radio', name='radio233', value='groups')
                                                        label.o_form_label(for='radio233_groups') Selected group of users
                                        tr
                                            td.o_td_label(colspan='1')
                                                label.o_form_label.o_form_invisible(for='o_field_input_231')
                                                    | Authorized Group
                                            td(colspan='1', style='width: 100%;')
                                                .o_form_field_many2one.o_with_button.o_form_field.o_form_invisible
                                                    .o_form_input_dropdown
                                                        input#o_field_input_231.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                        span.o_dropdown_button(draggable='false')
                                                    button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button')
                                        tr
                                            td.o_td_label(colspan='1')
                                                label.o_form_label.o_form_label_help( data-original-title='', title='')
                                                    | Auto Subscription
                                            td(colspan='1', style='width: 100%;')
                                                .o_form_field_many2manytags.o_form_field
                                                    .o_form_field_many2one.o_form_field(data-original-title='', title='')
                                                        .o_form_input_dropdown
                                                            input.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                            span.o_dropdown_button(draggable='false')
                            #notebook_page_229.tab-pane(role='tabpanel')
                                .o_form_field.o_view_manager_content
                                    .o_x2m_control_panel
                                        .o_cp_buttons
                                        .o_cp_pager
                                            .o_hidden
                                                span.o_pager_value
                                                |  /
                                                span.o_pager_limit
                                                span.btn-group.btn-group-sm
                                                    button.fa.fa-chevron-left.btn.btn-icon.o_pager_previous(type='button')
                                                    button.fa.fa-chevron-right.btn.btn-icon.o_pager_next(type='button')
                                    div
                                        .table-responsive
                                            table.o_list_view.table.table-condensed.table-striped
                                                thead
                                                    tr
                                                        th.o_column_sortable(data-id='name')
                                                            | Name
                                                        th.o_column_sortable(data-id='email')
                                                            | Email
                                                        th(data-id='im_status')
                                                            | IM Status
                                                        th.o_list_record_delete
                                                tfoot
                                                    tr
                                                        td
                                                        td
                                                        td
                                                        td.o_list_record_delete
                                                tbody
                                                    tr
                                                        td.o_form_field_x2many_list_row_add(colspan='4')
                                                            a(href='#') Add an item
                                                    tr
                                                        td(title='Name')  
                                                        td(title='Email')  
                                                        td(title='IM Status')  
                                                        td.o_list_record_delete
                                                    tr
                                                        td(title='Name')  
                                                        td(title='Email')  
                                                        td(title='IM Status')  
                                                        td.o_list_record_delete
                                                    tr
                                                        td(title='Name')  
                                                        td(title='Email')  
                                                        td(title='IM Status')  
                                                        td.o_list_record_delete

