.pointofsale
    DashboardController(v-bind:createbtn='true', v-bind:importbtn='true', v-bind:links='btnlinks', v-bind:searchbar='true', v-bind:num1='true', v-bind:dropdownbtn1='true',v-bind:dropdownbtn2='true', v-bind:dropdownbtn3='true', v-bind:heading='head' )
    TableMain(v-bind:tableheader='tableheader', v-bind:tabledata="tabledata", v-bind:tablefoot="tablefoot")