.Product_inner
    DashboardController( v-bind:save='true',v-bind:heading="nextactivity",v-bind:createbtn='true',v-bind:editbtn='true', v-bind:links="btnlinks",v-bind:num1='true',v-bind:num2='true',v-bind:paginbtn1='true',v-bind:paginbtn2='true',v-bind:firstbtn='false',v-bind:secondbtn='false',v-bind:fifthbtn='false',v-bind:thirdbtn='false',v-bind:fourthbtn='false',v-bind:searchbar='false',v-bind:dropdownbtn1='false',v-bind:dropdownbtn2='false',v-bind:dropdownbtn3='false',v-bind:actionbtn='true',v-bind:Attachmentbtn='true',v-bind:printbtn='true')
        .col-sm-6(style='padding:0px;' ,slot='heading')
            h4.samodashheading(style="font-size: 18px;") Products /
    Productinnercompo
