.purchasereports
    DashboardController( v-bind:measurebtn='true',v-bind:heading="nextactivity",v-bind:ninebtn='true',v-bind:tenbtn='true',v-bind:elevenbtn='true', v-bind:links="btnlinks" ,v-bind:thirdbtn='true',v-bind:fourthbtn='true',v-bind:searchbar='true',v-bind:dropdownbtn1='true',v-bind:dropdownbtn2='true',v-bind:dropdownbtn3='true')
        .col-sm-6(style='padding:0px;' ,slot='heading')
            h4.samodashheading(style="font-size: 18px;") Purchase Analysis