.ReqAppDoc
    dashconterller(v-show='k',v-bind:createbtn='true',v-bind:importbtn='true',v-bind:heading="nextactivity",v-bind:searchbar='true',v-bind:dropdownbtn1='true',v-bind:dropdownbtn2='true',v-bind:dropdownbtn3='true', v-bind:links="btnlinks", v-bind:num1='true',v-bind:num2='true',v-bind:paginbtn1='true',v-bind:paginbtn2='true',v-bind:firstbtn='true',v-bind:secondbtn='true')
    .row(style='padding-left: 35px;')
        .col-xs-6
            img.img-responsive(style='width:80px;')(src='/images/v.png')
        .col-xs-6(style='padding-top:51px;')
            p(style='padding-top:10px;') Click here to attach a new document.
            br

