
.container-fluid(style='padding-top:10px;')
    dashconterller(v-bind:createbtn='true',v-bind:importbtn='true', v-bind:links="btnlinks" v-show='p')
    .row
        .col-md-4(style='padding-right: 0px;')
            .table

                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue

                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-4(style='padding-top: 17px;')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')
                            .row(style='margin-top:5px;padding-left:21px;')
                                .col-xs-3
                                    i.fa.fa-comments(aria-hidden='true')
                                        | 12
                                .col-xs-3
                                    i.fa.fa-users
                                        | 12

                        .col-xs-3(style='color: black;padding-left: 43px;')
                            address
                                strong
                                    | Written by
                                    a(href='mailto:webmaster@example.com') Jon Doe
                                    | .
                                br(style='font-size:10px;')
                                |    Expreince Developer
                                br(style='font-size:10px;')
                                |     Building 1,Second Floor
                                br(style='font-size:10px;')
                                span.glyphicon.glyphicon-earphone

                                |     +325344565676

                                br(style='font-size:10px;')
                                span.fa.fa-envelope
                                |         abc@gmail.com
                        .col-xs-3.offset-sm-3
                            i.a.fa.fa-user-o(aria-hidden='true')(style='float:right;color:red;')




                    .row
                        .col-sm-12(style='')
                            button.btn.btn-default.bs(style='float:right;margin-top: -46px;')(type='button') Follow

            .table

                .row
                    .col-xs-2
                        a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                            .blue

                    .col-xs-3
                        a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                            .green


                .row
                    .col-xs-4(style='padding-top: 17px;')
                        .img
                            img.img-responsive(style='width:80px;')(src='/images/orange.png')
                        .row(style='margin-top:5px;padding-left:21px;')
                            .col-xs-3
                                i.fa.fa-comments(aria-hidden='true')
                                    | 12
                            .col-xs-3
                                i.fa.fa-users
                                    | 12

                    .col-xs-3(style='color: black;padding-left: 43px;')
                        address
                            strong
                                | Written by
                                a(href='mailto:webmaster@example.com') Jon Doe
                                | .
                            br(style='font-size:10px;')
                            |    Expreince Developer
                            br(style='font-size:10px;')
                            |     Building 1,Second Floor
                            br(style='font-size:10px;')
                            span.glyphicon.glyphicon-earphone

                            |     +325344565676

                            br(style='font-size:10px;')
                            span.fa.fa-envelope
                            |         abc@gmail.com
                    .col-xs-3.offset-sm-3
                        i.a.fa.fa-user-o(aria-hidden='true')(style='float:right;color:red;')




                .row
                    .col-sm-12(style='')
                        button.btn.btn-default.bs(style='float:right;margin-top: -46px;')(type='button') Follow
        .col-md-4(style='padding-right: 0px;')
            .table

                .row
                    .col-xs-2
                        a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                            .blue

                    .col-xs-3
                        a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                            .green


                .row
                    .col-xs-4(style='padding-top: 17px;')
                        .img
                            img.img-responsive(style='width:80px;')(src='/images/orange.png')
                        .row(style='margin-top:5px;padding-left:21px;')
                            .col-xs-3
                                i.fa.fa-comments(aria-hidden='true')
                                    | 12
                            .col-xs-3
                                i.fa.fa-users
                                    | 12

                    .col-xs-3(style='color: black;padding-left: 43px;')
                        address
                            strong
                                | Written by
                                a(href='mailto:webmaster@example.com') Jon Doe
                                | .
                            br(style='font-size:10px;')
                            |    Expreince Developer
                            br(style='font-size:10px;')
                            |     Building 1,Second Floor
                            br(style='font-size:10px;')
                            span.glyphicon.glyphicon-earphone

                            |     +325344565676

                            br(style='font-size:10px;')
                            span.fa.fa-envelope
                            |         abc@gmail.com
                    .col-xs-3.offset-sm-3
                        i.a.fa.fa-user-o(aria-hidden='true')(style='float:right;color:red;')




                .row
                    .col-sm-12(style='')
                        button.btn.btn-default.bs(style='float:right;margin-top: -46px;')(type='button') Follow

            .table

                .row
                    .col-xs-2
                        a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                            .blue

                    .col-xs-3
                        a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                            .green


                .row
                    .col-xs-4(style='padding-top: 17px;')
                        .img
                            img.img-responsive(style='width:80px;')(src='/images/orange.png')
                        .row(style='margin-top:5px;padding-left:21px;')
                            .col-xs-3
                                i.fa.fa-comments(aria-hidden='true')
                                    | 12
                            .col-xs-3
                                i.fa.fa-users
                                    | 12

                    .col-xs-3(style='color: black;padding-left: 43px;')
                        address
                            strong
                                | Written by
                                a(href='mailto:webmaster@example.com') Jon Doe
                                | .
                            br(style='font-size:10px;')
                            |    Expreince Developer
                            br(style='font-size:10px;')
                            |     Building 1,Second Floor
                            br(style='font-size:10px;')
                            span.glyphicon.glyphicon-earphone

                            |     +325344565676

                            br(style='font-size:10px;')
                            span.fa.fa-envelope
                            |         abc@gmail.com
                    .col-xs-3.offset-sm-3
                        i.a.fa.fa-user-o(aria-hidden='true')(style='float:right;color:red;')




                .row
                    .col-sm-12(style='')
                        button.btn.btn-default.bs(style='float:right;margin-top: -46px;')(type='button') Follow

    //.row
        .col-sm-3
            .big(style='margin-top:5px;')
                .row(style='margin-left:-24px;')
                    .col-xs-2
                        .div
                .row(style='margin-top:5px;')
                    .col-xs-2
                        img.img-responsive(style='width:80px;')(src='/images/g.JPG')



                        .row(style='margin-top:5px;')
                            .col-xs-3
                                i.fa.fa-comments(aria-hidden='true')
                                    | 12
                            .col-xs-3
                                i.fa.fa-users
                                    | 12


                    .col-xs-6
                        address
                            strong
                                | Written by
                                a(href='mailto:webmaster@example.com') Jon Doe
                                | .
                            br(style='font-size:10px;')
                            |    Expreince Developer
                            br(style='font-size:10px;')
                            |     Building 1,Second Floor
                            br(style='font-size:10px;')
                            span.glyphicon.glyphicon-earphone

                            |     +325344565676

                            br(style='font-size:10px;')
                            span.fa.fa-envelope
                            |         abc@gmail.com

                    .col-xs-3
                        i.a.fa.fa-user-o(aria-hidden='true')(style='float:right;')
                        button.btn.btn-default(style='margin-top:60px;')(type='button') Follow

            .big(style='margin-top:5px;')
                .row(style='margin-left:-24px;')
                    .col-xs-2
                        .div
                .row(style='margin-top:5px;')
                    .col-xs-2
                        .points

                            img.img-responsive(src='/images/g.JPG')
                        .row(style='margin-top:5px;')
                            .col-xs-3
                                i.fa.fa-comments(aria-hidden='true')
                                    | 12
                            .col-xs-3
                                i.fa.fa-users
                                    | 12
        //.row
            .col-md-3
                .table
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue

                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-3(style='padding-top: 17px;')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')

                        .col-xs-4
                            address
                                strong
                                    | Written by
                                    a(href='mailto:webmaster@example.com') Jon Doe
                                    | .
                                br(style='font-size:9px;')
                                |    Expreince Developer
                                br(style='font-size:9px;')
                                |     Building 1,Second Floor
                                br(style='font-size:9px;')
                                span.glyphicon.glyphicon-earphone

                                |     +325344565676

                                br(style='font-size:9px;')
                                span.fa.fa-envelope
                                |         abc@gmail.com
                        .col-xs-3
                            .icons(style='float:right;color:red;')
                                i.a.fa.fa-user-o
                    .row(style='')
                        .col-sm-12
                            button.btn.btn-default.a(style='float:right;')(type='button') Follow













        .row
            .col-md-3



                .boxing(style='margin-top:5px;')
                    .container
                        .row
                            .col-xs-2
                                .div

                        .row(style='margin-top:5px;')
                            .col-xs-2
                                .images
                                    img.img-responsive(style='width:70px;height:100px;')(src='/images/g.JPG')

                                    .icon(style='margin-left:25px;')
                                        .row
                                            .col-xs-2
                                                i.fa.fa-comments(aria-hidden='true')
                                                    | 12
                                            .col-xs-2
                                                i.fa.fa-users
                                                    | 12

                            .col-xs-6
                                address
                                    strong
                                        | Written by
                                        a(href='mailto:webmaster@example.com') Jon Doe
                                        | .
                                    br(style='font-size:9px;')
                                    |    Expreince Developer
                                    br(style='font-size:9px;')
                                    |     Building 1,Second Floor
                                    br(style='font-size:9px;')
                                    span.glyphicon.glyphicon-earphone

                                    |     +325344565676

                                    br(style='font-size:9px;')
                                    span.fa.fa-envelope
                                    |         abc@gmail.com

                            .col-xs-4
                                .icons
                                    i.a.fa.fa-user-o

                                button.btn.btn-default(style='')(type='button') Follow


                .boxing(style='margin-top:10px;')
                    .container
                        .row
                            .col-xs-2
                                .div

                        .row(style='margin-top:5px;')
                            .col-xs-2
                                .images
                                    img.img-responsive(style='width:70px;height:100px;')(src='/images/g.JPG')

                                    .icon(style='margin-left:25px;')
                                        .row
                                            .col-xs-2
                                                i.fa.fa-comments(aria-hidden='true')
                                                    | 12
                                            .col-xs-2
                                                i.fa.fa-users
                                                    | 12

                            .col-xs-6
                                address
                                    strong
                                        | Written by
                                        a(href='mailto:webmaster@example.com') Jon Doe
                                        | .
                                    br(style='font-size:9px;')
                                    |    Expreince Developer
                                    br(style='font-size:9px;')
                                    |     Building 1,Second Floor
                                    br(style='font-size:9px;')
                                    span.glyphicon.glyphicon-earphone

                                    |     +325344565676

                                    br(style='font-size:9px;')
                                    span.fa.fa-envelope
                                    |         abc@gmail.com

                            .col-xs-4
                                .icons
                                    i.a.fa.fa-user-o

                                button.btn.btn-default(style='')(type='button') Follow

                .boxing(style='margin-top:10px;')
                    .container
                        .row
                            .col-xs-2
                                .div

                        .row(style='margin-top:5px;')
                            .col-xs-2
                                .images
                                    img.img-responsive(style='width:70px;height:100px;')(src='/images/g.JPG')

                                    .icon(style='margin-left:25px;')
                                        .row
                                            .col-xs-2
                                                i.fa.fa-comments(aria-hidden='true')
                                                    | 12
                                            .col-xs-2
                                                i.fa.fa-users
                                                    | 12

                            .col-xs-6
                                address
                                    strong
                                        | Written by
                                        a(href='mailto:webmaster@example.com') Jon Doe
                                        | .
                                    br(style='font-size:9px;')
                                    |    Expreince Developer
                                    br(style='font-size:9px;')
                                    |     Building 1,Second Floor
                                    br(style='font-size:9px;')
                                    span.glyphicon.glyphicon-earphone

                                    |     +325344565676

                                    br(style='font-size:9px;')
                                    span.fa.fa-envelope
                                    |         abc@gmail.com

                            .col-xs-4
                                .icons
                                    i.a.fa.fa-user-o

                                button.btn.btn-default(style='')(type='button') Follow



                .boxing(style='margin-top:10px;')
                    .container
                        .row
                            .col-xs-2
                                .div

                        .row(style='margin-top:5px;')
                            .col-xs-2
                                .images
                                    img.img-responsive(style='width:70px;height:100px;')(src='/images/g.JPG')

                                    .icon(style='margin-left:25px;')
                                        .row
                                            .col-xs-2
                                                i.fa.fa-comments(aria-hidden='true')
                                                    | 12
                                            .col-xs-2
                                                i.fa.fa-users
                                                    | 12

                            .col-xs-6
                                address
                                    strong
                                        | Written by
                                        a(href='mailto:webmaster@example.com') Jon Doe
                                        | .
                                    br(style='font-size:9px;')
                                    |    Expreince Developer
                                    br(style='font-size:9px;')
                                    |     Building 1,Second Floor
                                    br(style='font-size:9px;')
                                    span.glyphicon.glyphicon-earphone

                                    |     +325344565676

                                    br(style='font-size:9px;')
                                    span.fa.fa-envelope
                                    |         abc@gmail.com

                            .col-xs-4
                                .icons
                                    i.a.fa.fa-user-o

                                button.btn.btn-default(style='')(type='button') Follow




            .col-md-3



                .boxing(style='margin-top:5px;')
                    .container
                        .row
                            .col-xs-2
                                .div

                        .row(style='margin-top:5px;')
                            .col-xs-2
                                .images
                                    img.img-responsive(style='width:70px;height:100px;')(src='/images/g.JPG')

                                    .icon(style='margin-left:25px;')
                                        .row
                                            .col-xs-2
                                                i.fa.fa-comments(aria-hidden='true')
                                                    | 12
                                            .col-xs-2
                                                i.fa.fa-users
                                                    | 12

                            .col-xs-6
                                address
                                    strong
                                        | Written by
                                        a(href='mailto:webmaster@example.com') Jon Doe
                                        | .
                                    br(style='font-size:9px;')
                                    |    Expreince Developer
                                    br(style='font-size:9px;')
                                    |     Building 1,Second Floor
                                    br(style='font-size:9px;')
                                    span.glyphicon.glyphicon-earphone

                                    |     +325344565676

                                    br(style='font-size:9px;')
                                    span.fa.fa-envelope
                                    |         abc@gmail.com

                            .col-xs-4
                                .icons
                                    i.a.fa.fa-user-o

                                button.btn.btn-default(style='')(type='button') Follow


                .boxing(style='margin-top:10px;')
                    .container
                        .row
                            .col-xs-2
                                .div

                        .row(style='margin-top:5px;')
                            .col-xs-2
                                .images
                                    img.img-responsive(style='width:70px;height:100px;')(src='/images/g.JPG')

                                    .icon(style='margin-left:25px;')
                                        .row
                                            .col-xs-2
                                                i.fa.fa-comments(aria-hidden='true')
                                                    | 12
                                            .col-xs-2
                                                i.fa.fa-users
                                                    | 12

                            .col-xs-6
                                address
                                    strong
                                        | Written by
                                        a(href='mailto:webmaster@example.com') Jon Doe
                                        | .
                                    br(style='font-size:9px;')
                                    |    Expreince Developer
                                    br(style='font-size:9px;')
                                    |     Building 1,Second Floor
                                    br(style='font-size:9px;')
                                    span.glyphicon.glyphicon-earphone

                                    |     +325344565676

                                    br(style='font-size:9px;')
                                    span.fa.fa-envelope
                                    |         abc@gmail.com

                            .col-xs-4
                                .icons
                                    i.a.fa.fa-user-o

                                button.btn.btn-default(style='')(type='button') Follow

                .boxing(style='margin-top:10px;')
                    .container
                        .row
                            .col-xs-2
                                .div

                        .row(style='margin-top:5px;')
                            .col-xs-2
                                .images
                                    img.img-responsive(style='width:70px;height:100px;')(src='/images/g.JPG')

                                    .icon(style='margin-left:25px;')
                                        .row
                                            .col-xs-2
                                                i.fa.fa-comments(aria-hidden='true')
                                                    | 12
                                            .col-xs-2
                                                i.fa.fa-users
                                                    | 12

                            .col-xs-6
                                address
                                    strong
                                        | Written by
                                        a(href='mailto:webmaster@example.com') Jon Doe
                                        | .
                                    br(style='font-size:9px;')
                                    |    Expreince Developer
                                    br(style='font-size:9px;')
                                    |     Building 1,Second Floor
                                    br(style='font-size:9px;')
                                    span.glyphicon.glyphicon-earphone

                                    |     +325344565676

                                    br(style='font-size:9px;')
                                    span.fa.fa-envelope
                                    |         abc@gmail.com

                            .col-xs-4
                                .icons
                                    i.a.fa.fa-user-o

                                button.btn.btn-default(style='')(type='button') Follow



                .boxing(style='margin-top:10px;')
                    .container
                        .row
                            .col-xs-2
                                .div

                        .row(style='margin-top:5px;')
                            .col-xs-2
                                .images
                                    img.img-responsive(style='width:70px;height:100px;')(src='/images/g.JPG')

                                    .icon(style='margin-left:25px;')
                                        .row
                                            .col-xs-2
                                                i.fa.fa-comments(aria-hidden='true')
                                                    | 12
                                            .col-xs-2
                                                i.fa.fa-users
                                                    | 12

                            .col-xs-6
                                address
                                    strong
                                        | Written by
                                        a(href='mailto:webmaster@example.com') Jon Doe
                                        | .
                                    br(style='font-size:9px;')
                                    |    Expreince Developer
                                    br(style='font-size:9px;')
                                    |     Building 1,Second Floor
                                    br(style='font-size:9px;')
                                    span.glyphicon.glyphicon-earphone

                                    |     +325344565676

                                    br(style='font-size:9px;')
                                    span.fa.fa-envelope
                                    |         abc@gmail.com

                            .col-xs-4
                                .icons
                                    i.a.fa.fa-user-o

                                button.btn.btn-default(style='')(type='button') Follow


            .col-md-3



                .boxing(style='margin-top:5px;')
                    .container
                        .row
                            .col-xs-2
                                .div

                        .row(style='margin-top:5px;')
                            .col-xs-2
                                .images
                                    img.img-responsive(style='width:70px;height:100px;')(src='/images/g.JPG')

                                    .icon(style='margin-left:25px;')
                                        .row
                                            .col-xs-2
                                                i.fa.fa-comments(aria-hidden='true')
                                                    | 12
                                            .col-xs-2
                                                i.fa.fa-users
                                                    | 12

                            .col-xs-6
                                address
                                    strong
                                        | Written by
                                        a(href='mailto:webmaster@example.com') Jon Doe
                                        | .
                                    br(style='font-size:9px;')
                                    |    Expreince Developer
                                    br(style='font-size:9px;')
                                    |     Building 1,Second Floor
                                    br(style='font-size:9px;')
                                    span.glyphicon.glyphicon-earphone

                                    |     +325344565676

                                    br(style='font-size:9px;')
                                    span.fa.fa-envelope
                                    |         abc@gmail.com

                            .col-xs-4
                                .icons
                                    i.a.fa.fa-user-o

                                button.btn.btn-default(style='')(type='button') Follow


                .boxing(style='margin-top:10px;')
                    .container
                        .row
                            .col-xs-2
                                .div

                        .row(style='margin-top:5px;')
                            .col-xs-2
                                .images
                                    img.img-responsive(style='width:70px;height:100px;')(src='/images/g.JPG')

                                    .icon(style='margin-left:25px;')
                                        .row
                                            .col-xs-2
                                                i.fa.fa-comments(aria-hidden='true')
                                                    | 12
                                            .col-xs-2
                                                i.fa.fa-users
                                                    | 12

                            .col-xs-6
                                address
                                    strong
                                        | Written by
                                        a(href='mailto:webmaster@example.com') Jon Doe
                                        | .
                                    br(style='font-size:9px;')
                                    |    Expreince Developer
                                    br(style='font-size:9px;')
                                    |     Building 1,Second Floor
                                    br(style='font-size:9px;')
                                    span.glyphicon.glyphicon-earphone

                                    |     +325344565676

                                    br(style='font-size:9px;')
                                    span.fa.fa-envelope
                                    |         abc@gmail.com

                            .col-xs-4
                                .icons
                                    i.a.fa.fa-user-o

                                button.btn.btn-default(style='')(type='button') Follow

                .boxing(style='margin-top:10px;')
                    .container
                        .row
                            .col-xs-2
                                .div

                        .row(style='margin-top:5px;')
                            .col-xs-2
                                .images
                                    img.img-responsive(style='width:70px;height:100px;')(src='/images/g.JPG')

                                    .icon(style='margin-left:25px;')
                                        .row
                                            .col-xs-2
                                                i.fa.fa-comments(aria-hidden='true')
                                                    | 12
                                            .col-xs-2
                                                i.fa.fa-users
                                                    | 12

                            .col-xs-6
                                address
                                    strong
                                        | Written by
                                        a(href='mailto:webmaster@example.com') Jon Doe
                                        | .
                                    br(style='font-size:9px;')
                                    |    Expreince Developer
                                    br(style='font-size:9px;')
                                    |     Building 1,Second Floor
                                    br(style='font-size:9px;')
                                    span.glyphicon.glyphicon-earphone

                                    |     +325344565676

                                    br(style='font-size:9px;')
                                    span.fa.fa-envelope
                                    |         abc@gmail.com

                            .col-xs-4
                                .icons
                                    i.a.fa.fa-user-o

                                button.btn.btn-default(style='')(type='button') Follow



                .boxing(style='margin-top:10px;')
                    .container
                        .row
                            .col-xs-2
                                .div

                        .row(style='margin-top:5px;')
                            .col-xs-2
                                .images
                                    img.img-responsive(style='width:70px;height:100px;')(src='/images/g.JPG')

                                    .icon(style='margin-left:25px;')
                                        .row
                                            .col-xs-2
                                                i.fa.fa-comments(aria-hidden='true')
                                                    | 12
                                            .col-xs-2
                                                i.fa.fa-users
                                                    | 12

                            .col-xs-6
                                address
                                    strong
                                        | Written by
                                        a(href='mailto:webmaster@example.com') Jon Doe
                                        | .
                                    br(style='font-size:9px;')
                                    |    Expreince Developer
                                    br(style='font-size:9px;')
                                    |     Building 1,Second Floor
                                    br(style='font-size:9px;')
                                    span.glyphicon.glyphicon-earphone

                                    |     +325344565676

                                    br(style='font-size:9px;')
                                    span.fa.fa-envelope
                                    |         abc@gmail.com

                            .col-xs-4
                                .icons
                                    i.a.fa.fa-user-o

                                button.btn.btn-default(style='')(type='button') Follow





