.StageEdit
    DashboardController(v-bind:heading="nextactivity",v-bind:savedbtn='true',v-bind:discardbtn='true', v-bind:links="btnlinks",v-bind:num1='true',v-bind:num2='true')
    .o_content
        .o_view_manager_content
            .o_form_view.o_form_nosheet.o_form_editable
                .o_group
                    .o_horizontal_separator
                        | Stage Definition
                    table.o_group.o_inner_group.o_group_col_6
                        tbody
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label(for='o_field_input_58')
                                        | Stage name
                                td(colspan='1', style='width: 100%;')
                                    input#o_field_input_58.o_form_input.o_form_field.o_form_required(type='text')
                                    button.o_field_translate.fa.fa-globe.btn.btn-link.o_translate_active(type='button')
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label.o_form_label_help.o_form_invisible(for='o_field_input_59', data-original-title='', title='')
                                        | Sequence
                                td(colspan='1', style='width: 100%;')
                                    input#o_field_input_59.o_form_input.o_form_field.o_form_invisible.o_form_field_number(type='text')
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label.o_form_label_help(for='o_field_input_60', data-original-title='', title='')
                                        | Job Specific
                                td(colspan='1', style='width: 100%;')
                                    .o_form_field_many2one.o_form_field
                                        .o_form_input_dropdown
                                            input#o_field_input_60.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                            span.o_dropdown_button(draggable='false')
                                        button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button', style='display: none;')
                    table.o_group.o_inner_group.o_group_col_6
                        tbody
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label.o_form_label_help(for='o_field_input_61', data-original-title='', title='')
                                        | Folded in Recruitment Pipe
                                td(colspan='1', style='width: 100%;')
                                    .o_checkbox.o_form_field_boolean.o_form_field
                                        input#o_field_input_61(type='checkbox', name='fold')
                                        span
                            tr
                                td.o_td_label(colspan='1')
                                    label.o_form_label.o_form_label_help(for='o_field_input_62', data-original-title='', title='')
                                        | Use template
                                td(colspan='1', style='width: 100%;')
                                    .o_form_field_many2one.o_form_field
                                        .o_form_input_dropdown
                                            input#o_field_input_62.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                            span.o_dropdown_button(draggable='false')
                                        button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button', style='display: none;')
                .o_horizontal_separator
                    | Requirements
                textarea.o_form_textarea.o_form_field(rows='6', name='requirements', style='resize: horizontal; height: 50px;')
                textarea.o_form_textarea.o_form_field(disabled='', style='position: absolute; opacity: 0; height: 10px; top: -10000px; left: -10000px; width: 1428px;')
