.container-fluid
    .oe_kanban_color_0.oe_kanban_global_click.o_kanban_record.samokanban
        .o_kanban_image.samokanbanimage
            img.samoimg(src='images/download.png')
        .oe_kanban_details.samothumbnaildet
            | Chao Wang
            div Marketing Manager
            div chao.wang@chinaexport.example.com

