.row
    .col-sm-12
        label(style='font-weight:bold;') Company Name
        input.usr.form-control(style='background-color:#D2D2FF;width:60%;border-radius: 4px;')(type='text')
        input.usr.form-control(style='border: 1px solid #cccccc;border-radius: 4px;color:#1f1f1f;')(type='text',placeholder='e.g. Global Business Solutions')
    


