.ReqDep
    DashboardController( v-bind:save='true',v-bind:heading="nextactivity",v-bind:editbtn='true',v-bind:createbtn='true',v-bind:dropdownMenuButton='true',v-bind:Attachmentbtn='true',v-bind:actionbtn='true', v-bind:links="btnlinks",v-bind:num1='true',v-bind:num2='true')
        .col-sm-6(style='padding:0px;')(slot='job')
            h4.samodashheading(style="font-size: 18px;") Departments/{{j}}/{{f}}
        span.o_pager_value(slot='page') {{num4}}-{{num}}
            |  /
            span.o_pager_limit(style="padding-right: 6px;") {{num}}

            span.btn-group.btn-group-sm
                button.fa.fa-chevron-left.btn.btn-icon.o_pager_previous#num10(style='background-color:white;border-color: #adadad;color: #4c4c4c;')(type='button', accesskey='p')
                button.fa.fa-chevron-right.btn.btn-icon.o_pager_next#num01(style='background-color:white;border-color: #adadad;color: #4c4c4c;')(type='button', accesskey='n')
    Department
        table.o_group.o_inner_group(slot='dep')
            tbody
                tr
                    td.o_td_label
                        label.o_form_label
                            | Department Name
                    td(colspan='1', style='width: 50%;')
                        span.o_form_field.o_form_required(v-model='f') {{ f }}
                    td.o_td_label(colspan='1')
                        label.o_form_label
                            | Manager
                    td(colspan='1', style='width: 50%;')
                        span.o_form_field.o_form_required(v-model='d') {{ d }}
                tr
                    td.o_td_label(colspan='1')
                        label.o_form_label
                            | Parent Departments
                    td(colspan='1', style='width: 50%;')
                        span.o_form_field.o_form_required(v-model='j') {{ j }}

    Message
    Request_quotation_lower
