.JobTitle
    dashconterller( v-bind:save='true',v-bind:heading="nextactivity",v-bind:editbtn='true',v-bind:createbtn='true',v-bind:dropdownMenuButton='true',v-bind:Attachmentbtn='true',v-bind:actionbtn='true', v-bind:links="btnlinks",v-bind:num1='true',v-bind:num2='true')
    .o_content
        .o_view_manager_content
            .o_form_view.o_form_readonly
                header(style='margin-left: -15px;margin-right: -15px;')
                    button.btn.btn-sm.oe_highlight.o_form_invisible(type='button')
                        span Launch Recruitment
                    button.btn.btn-sm(type='button')
                        span Stop Recruitment
                    ul.oe_form_field_status.oe_form_status.o_form_field.o_form_required(data-original-title='', title='')
                        li.oe_active(data-id='recruit')
                            span.label Recruitment in Progress
                            span.arrow
                                span
                        li(data-id='open')
                            span.label Not Recruiting
                            span.arrow
                                span
                .o_form_sheet_bg
                    .o_form_sheet
                        .oe_button_box(name='button_box')
                            button.btn.btn-sm.oe_stat_button(type='button')
                                .fa.fa-fw.fa-file-o.o_button_icon
                                .o_form_field.o_stat_info
                                    span.o_stat_value 2
                                    span.o_stat_text Applications
                            button.btn.btn-sm.oe_stat_button(type='button')
                                .fa.fa-fw.fa-users.o_button_icon
                                .o_form_field.o_stat_info(data-original-title='', title='')
                                    span.o_stat_value 7
                                    span.o_stat_text Employees
                            button.btn.btn-sm.oe_stat_button(type='button')
                                .fa.fa-fw.fa-book.o_button_icon
                                .o_form_field.o_stat_info
                                    span.o_stat_value 1
                                    span.o_stat_text Documents
                            button.btn.btn-sm.oe_stat_button(type='button')
                                .fa.fa-fw.fa-share.o_button_icon
                                .o_form_field.o_stat_info
                                    span.o_stat_text Trackers
                        .oe_title
                            label.o_form_label.oe_edit_only
                                | Job Title
                            h1
                                span.o_form_field.o_form_required Experienced Developer
                                button.o_field_translate.fa.fa-globe.btn.btn-link(type='button')
                        .o_group
                            table.o_group.o_inner_group.o_group_col_6
                                tbody
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label
                                                | Department
                                        td(colspan='1', style='width: 100%;')
                                            a.o_form_uri.o_form_field(href='#') Management
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label
                                                | Recruitment Responsible
                                        td(colspan='1', style='width: 100%;')
                                            a.o_form_uri.o_form_field(href='#') Chao Wang
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label.o_form_label_help.o_form_label_empty.o_form_label_false( data-original-title='', title='')
                                                | Specific Email Address
                                        td(colspan='1', style='width: 100%;')
                                            div(name='alias_def', attrs="{'invisible': [('alias_domain', '=', False)]}")
                                                a.o_form_uri.oe_read_only.o_form_field(href='#', data-original-title='', title='') Inactive Alias
                                                .oe_edit_only(name='edit_alias')
                                                    span.oe_inline.o_form_field.o_form_field_empty
                                                    | @
                                                    span.oe_inline.o_form_field localhost
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label.o_form_label_help( data-original-title='', title='')
                                                | Expected New Employees
                                        td(colspan='1', style='width: 100%;')
                                            span.o_form_field.o_form_field_number 4
                            table.o_group.o_inner_group.o_group_col_6
                                tbody
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label.o_form_label_help(data-original-title='', title='')
                                                | Job Location
                                        td(colspan='1', style='width: 100%;')
                                            a.o_form_uri.o_form_field(href='#')
                                                | Camptocamp
                                                br
                                                | 93, Press Avenue
                                                br
                                                | 73377 Le Bourget du Lac
                                                br
                                                | France
                        div(attrs="{'invisible': [('state', '!=', 'recruit')]}")
                            label.o_form_label.o_form_label_empty.o_form_label_false()
                                | Job Description
                            span.o_form_textarea.o_form_field.o_form_field_empty

