.container-fluid(style='')
    .table
        router-link(to='Hr')
            .row(style='margin-left: -15px;')
                .col-xs-2
                    a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                        .blue

                .col-xs-3
                    a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                        .green


            .row
                .col-xs-3(style='margin-left: -15px;')
                    .img
                        img.img-responsive(style='width:80px;')(src='/images/image.jpg')
                    .row(style='margin-top:5px;padding-left:10px;')
                        .col-xs-3
                            i.fa.fa-comments(aria-hidden='true',style='font-size: small;color: #4c4c4c;')
                                | 12
                        .col-xs-3.offset-sm-1
                            i.fa.fa-users(style='font-size: small;color: #4c4c4c;')
                                | 12

                .col-xs-3(style='color: black;padding-left: 14px;font-size:13px;color: #4c4c4c;')
                    address
                        strong
                            a(href='mailto:webmaster@example.com',style='color: #4c4c4c;') Jon Doe
                            | .
                        br(style='font-size:10px;')
                        |    Expreince Developer
                        br(style='font-size:10px;')
                        |     Building 1,Second Floor
                        br(style='font-size:10px;')
                        span.glyphicon.glyphicon-earphone

                        |     +325344565676

                        br(style='font-size:10px;')
                        span.fa.fa-envelope
                        |         abc@gmail.com
                .col-xs-3.pull-right(style='margin-left: 43px;')
                    i.a.fa.fa-user-o(aria-hidden='true')(style='float:right;color:red;margin-left: 34px;')


            .row(style='margin-left: 274px;')
                .col-sm-12(style='')
                    button.btn.btn-default.bs(style='float:right;margin-top: -35px;font-size: 13px;margin-right: -8px;')(type='button') Follow


    
    //.row
        .col-md-4(style='padding-right: 0px;')
            .table
                router-link(to='Vendormenu')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue

                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-3(style='')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')
                            .row(style='margin-top:5px;padding-left:21px;')
                                .col-xs-3
                                    i.fa.fa-comments(aria-hidden='true')
                                        | 12
                                .col-xs-3
                                    i.fa.fa-users
                                        | 12

                        .col-xs-3.offset-sm-1(style='color: black;')
                            address
                                strong
                                    | Written by
                                    a(href='mailto:webmaster@example.com') Jon Doe
                                    | .
                                br(style='font-size:10px;')
                                |    Expreince Developer
                                br(style='font-size:10px;')
                                |     Building 1,Second Floor
                                br(style='font-size:10px;')
                                span.glyphicon.glyphicon-earphone

                                |     +325344565676

                                br(style='font-size:10px;')
                                span.fa.fa-envelope
                                |         abc@gmail.com
                        .col-xs-3.offset-sm-2
                            i.a.fa.fa-user-o(aria-hidden='true')(style='float:right;color:red;')


                    .row
                        .col-sm-12(style='')
                            button.btn.btn-default.bs(style='float:right;margin-top: -46px;')(type='button') Follow
            .table
                router-link(to='Vendormenu')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue

                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-3(style='')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')
                            .row(style='margin-top:5px;padding-left:21px;')
                                .col-xs-3
                                    i.fa.fa-comments(aria-hidden='true')
                                        | 12
                                .col-xs-3
                                    i.fa.fa-users
                                        | 12

                        .col-xs-3.offset-sm-1(style='color: black;')
                            address
                                strong
                                    | Written by
                                    a(href='mailto:webmaster@example.com') Jon Doe
                                    | .
                                br(style='font-size:10px;')
                                |    Expreince Developer
                                br(style='font-size:10px;')
                                |     Building 1,Second Floor
                                br(style='font-size:10px;')
                                span.glyphicon.glyphicon-earphone

                                |     +325344565676

                                br(style='font-size:10px;')
                                span.fa.fa-envelope
                                |         abc@gmail.com
                        .col-xs-3.offset-sm-2
                            i.a.fa.fa-user-o(aria-hidden='true')(style='float:right;color:red;')


                    .row
                        .col-sm-12(style='')
                            button.btn.btn-default.bs(style='float:right;margin-top: -46px;')(type='button') Follow
            .table
                router-link(to='Vendormenu')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue

                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-3(style='')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')
                            .row(style='margin-top:5px;padding-left:21px;')
                                .col-xs-3
                                    i.fa.fa-comments(aria-hidden='true')
                                        | 12
                                .col-xs-3
                                    i.fa.fa-users
                                        | 12

                        .col-xs-3.offset-sm-1(style='color: black;')
                            address
                                strong
                                    | Written by
                                    a(href='mailto:webmaster@example.com') Jon Doe
                                    | .
                                br(style='font-size:10px;')
                                |    Expreince Developer
                                br(style='font-size:10px;')
                                |     Building 1,Second Floor
                                br(style='font-size:10px;')
                                span.glyphicon.glyphicon-earphone

                                |     +325344565676

                                br(style='font-size:10px;')
                                span.fa.fa-envelope
                                |         abc@gmail.com
                        .col-xs-3.offset-sm-2
                            i.a.fa.fa-user-o(aria-hidden='true')(style='float:right;color:red;')


                    .row
                        .col-sm-12(style='')
                            button.btn.btn-default.bs(style='float:right;margin-top: -46px;')(type='button') Follow
        .col-md-4(style='padding-right: 0px;')
            .table
                router-link(to='Vendormenu')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue

                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-3(style='')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')
                            .row(style='margin-top:5px;padding-left:21px;')
                                .col-xs-3
                                    i.fa.fa-comments(aria-hidden='true')
                                        | 12
                                .col-xs-3
                                    i.fa.fa-users
                                        | 12

                        .col-xs-3.offset-sm-1(style='color: black;')
                            address
                                strong
                                    | Written by
                                    a(href='mailto:webmaster@example.com') Jon Doe
                                    | .
                                br(style='font-size:10px;')
                                |    Expreince Developer
                                br(style='font-size:10px;')
                                |     Building 1,Second Floor
                                br(style='font-size:10px;')
                                span.glyphicon.glyphicon-earphone

                                |     +325344565676

                                br(style='font-size:10px;')
                                span.fa.fa-envelope
                                |         abc@gmail.com
                        .col-xs-3.offset-sm-2
                            i.a.fa.fa-user-o(aria-hidden='true')(style='float:right;color:red;')


                    .row
                        .col-sm-12(style='')
                            button.btn.btn-default.bs(style='float:right;margin-top: -46px;')(type='button') Follow
            .table
                router-link(to='Vendormenu')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue

                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-3(style='')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')
                            .row(style='margin-top:5px;padding-left:21px;')
                                .col-xs-3
                                    i.fa.fa-comments(aria-hidden='true')
                                        | 12
                                .col-xs-3
                                    i.fa.fa-users
                                        | 12

                        .col-xs-3.offset-sm-1(style='color: black;')
                            address
                                strong
                                    | Written by
                                    a(href='mailto:webmaster@example.com') Jon Doe
                                    | .
                                br(style='font-size:10px;')
                                |    Expreince Developer
                                br(style='font-size:10px;')
                                |     Building 1,Second Floor
                                br(style='font-size:10px;')
                                span.glyphicon.glyphicon-earphone

                                |     +325344565676

                                br(style='font-size:10px;')
                                span.fa.fa-envelope
                                |         abc@gmail.com
                        .col-xs-3.offset-sm-2
                            i.a.fa.fa-user-o(aria-hidden='true')(style='float:right;color:red;')


                    .row
                        .col-sm-12(style='')
                            button.btn.btn-default.bs(style='float:right;margin-top: -46px;')(type='button') Follow
            .table
                router-link(to='Vendormenu')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue

                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-3(style='')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')
                            .row(style='margin-top:5px;padding-left:21px;')
                                .col-xs-3
                                    i.fa.fa-comments(aria-hidden='true')
                                        | 12
                                .col-xs-3
                                    i.fa.fa-users
                                        | 12

                        .col-xs-3.offset-sm-1(style='color: black;')
                            address
                                strong
                                    | Written by
                                    a(href='mailto:webmaster@example.com') Jon Doe
                                    | .
                                br(style='font-size:10px;')
                                |    Expreince Developer
                                br(style='font-size:10px;')
                                |     Building 1,Second Floor
                                br(style='font-size:10px;')
                                span.glyphicon.glyphicon-earphone

                                |     +325344565676

                                br(style='font-size:10px;')
                                span.fa.fa-envelope
                                |         abc@gmail.com
                        .col-xs-3.offset-sm-2
                            i.a.fa.fa-user-o(aria-hidden='true')(style='float:right;color:red;')


                    .row
                        .col-sm-12(style='')
                            button.btn.btn-default.bs(style='float:right;margin-top: -46px;')(type='button') Follow
        .col-md-4(style='padding-right: 0px;')
            .table
                router-link(to='Vendormenu')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue

                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-3(style='')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')
                            .row(style='margin-top:5px;padding-left:21px;')
                                .col-xs-3
                                    i.fa.fa-comments(aria-hidden='true')
                                        | 12
                                .col-xs-3
                                    i.fa.fa-users
                                        | 12

                        .col-xs-3.offset-sm-1(style='color: black;')
                            address
                                strong
                                    | Written by
                                    a(href='mailto:webmaster@example.com') Jon Doe
                                    | .
                                br(style='font-size:10px;')
                                |    Expreince Developer
                                br(style='font-size:10px;')
                                |     Building 1,Second Floor
                                br(style='font-size:10px;')
                                span.glyphicon.glyphicon-earphone

                                |     +325344565676

                                br(style='font-size:10px;')
                                span.fa.fa-envelope
                                |         abc@gmail.com
                        .col-xs-3.offset-sm-2
                            i.a.fa.fa-user-o(aria-hidden='true')(style='float:right;color:red;')


                    .row
                        .col-sm-12(style='')
                            button.btn.btn-default.bs(style='float:right;margin-top: -46px;')(type='button') Follow
            .table
                router-link(to='Vendormenu')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue

                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-3(style='')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')
                            .row(style='margin-top:5px;padding-left:21px;')
                                .col-xs-3
                                    i.fa.fa-comments(aria-hidden='true')
                                        | 12
                                .col-xs-3
                                    i.fa.fa-users
                                        | 12

                        .col-xs-3.offset-sm-1(style='color: black;')
                            address
                                strong
                                    | Written by
                                    a(href='mailto:webmaster@example.com') Jon Doe
                                    | .
                                br(style='font-size:10px;')
                                |    Expreince Developer
                                br(style='font-size:10px;')
                                |     Building 1,Second Floor
                                br(style='font-size:10px;')
                                span.glyphicon.glyphicon-earphone

                                |     +325344565676

                                br(style='font-size:10px;')
                                span.fa.fa-envelope
                                |         abc@gmail.com
                        .col-xs-3.offset-sm-2
                            i.a.fa.fa-user-o(aria-hidden='true')(style='float:right;color:red;')


                    .row
                        .col-sm-12(style='')
                            button.btn.btn-default.bs(style='float:right;margin-top: -46px;')(type='button') Follow
            .table
                router-link(to='Vendormenu')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue

                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-3(style='')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')
                            .row(style='margin-top:5px;padding-left:21px;')
                                .col-xs-3
                                    i.fa.fa-comments(aria-hidden='true')
                                        | 12
                                .col-xs-3
                                    i.fa.fa-users
                                        | 12

                        .col-xs-3.offset-sm-1(style='color: black;')
                            address
                                strong
                                    | Written by
                                    a(href='mailto:webmaster@example.com') Jon Doe
                                    | .
                                br(style='font-size:10px;')
                                |    Expreince Developer
                                br(style='font-size:10px;')
                                |     Building 1,Second Floor
                                br(style='font-size:10px;')
                                span.glyphicon.glyphicon-earphone

                                |     +325344565676

                                br(style='font-size:10px;')
                                span.fa.fa-envelope
                                |         abc@gmail.com
                        .col-xs-3.offset-sm-2
                            i.a.fa.fa-user-o(aria-hidden='true')(style='float:right;color:red;')


                    .row
                        .col-sm-12(style='')
                            button.btn.btn-default.bs(style='float:right;margin-top: -46px;')(type='button') Follow
        .col-md-4(style='padding-right: 0px;')
            .table
                router-link(to='Vendormenu')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue

                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-3(style='')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')
                            .row(style='margin-top:5px;padding-left:21px;')
                                .col-xs-3
                                    i.fa.fa-comments(aria-hidden='true')
                                        | 12
                                .col-xs-3
                                    i.fa.fa-users
                                        | 12

                        .col-xs-3.offset-sm-1(style='color: black;')
                            address
                                strong
                                    | Written by
                                    a(href='mailto:webmaster@example.com') Jon Doe
                                    | .
                                br(style='font-size:10px;')
                                |    Expreince Developer
                                br(style='font-size:10px;')
                                |     Building 1,Second Floor
                                br(style='font-size:10px;')
                                span.glyphicon.glyphicon-earphone

                                |     +325344565676

                                br(style='font-size:10px;')
                                span.fa.fa-envelope
                                |         abc@gmail.com
                        .col-xs-3.offset-sm-2
                            i.a.fa.fa-user-o(aria-hidden='true')(style='float:right;color:red;')


                    .row
                        .col-sm-12(style='')
                            button.btn.btn-default.bs(style='float:right;margin-top: -46px;')(type='button') Follow
            .table
                router-link(to='Vendormenu')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue

                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-3(style='')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')
                            .row(style='margin-top:5px;padding-left:21px;')
                                .col-xs-3
                                    i.fa.fa-comments(aria-hidden='true')
                                        | 12
                                .col-xs-3
                                    i.fa.fa-users
                                        | 12

                        .col-xs-3.offset-sm-1(style='color: black;')
                            address
                                strong
                                    | Written by
                                    a(href='mailto:webmaster@example.com') Jon Doe
                                    | .
                                br(style='font-size:10px;')
                                |    Expreince Developer
                                br(style='font-size:10px;')
                                |     Building 1,Second Floor
                                br(style='font-size:10px;')
                                span.glyphicon.glyphicon-earphone

                                |     +325344565676

                                br(style='font-size:10px;')
                                span.fa.fa-envelope
                                |         abc@gmail.com
                        .col-xs-3.offset-sm-2
                            i.a.fa.fa-user-o(aria-hidden='true')(style='float:right;color:red;')


                    .row
                        .col-sm-12(style='')
                            button.btn.btn-default.bs(style='float:right;margin-top: -46px;')(type='button') Follow
            .table
                router-link(to='Vendormenu')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue

                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-3(style='')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')
                            .row(style='margin-top:5px;padding-left:21px;')
                                .col-xs-3
                                    i.fa.fa-comments(aria-hidden='true')
                                        | 12
                                .col-xs-3
                                    i.fa.fa-users
                                        | 12

                        .col-xs-3.offset-sm-1(style='color: black;')
                            address
                                strong
                                    | Written by
                                    a(href='mailto:webmaster@example.com') Jon Doe
                                    | .
                                br(style='font-size:10px;')
                                |    Expreince Developer
                                br(style='font-size:10px;')
                                |     Building 1,Second Floor
                                br(style='font-size:10px;')
                                span.glyphicon.glyphicon-earphone

                                |     +325344565676

                                br(style='font-size:10px;')
                                span.fa.fa-envelope
                                |         abc@gmail.com
                        .col-xs-3.offset-sm-2
                            i.a.fa.fa-user-o(aria-hidden='true')(style='float:right;color:red;')


                    .row
                        .col-sm-12(style='')
                            button.btn.btn-default.bs(style='float:right;margin-top: -46px;')(type='button') Follow



