.salesactivity
    DashboardController(v-bind:save='true',v-bind:heading="activities",v-bind:createbtn='true',v-bind:importbtn='true', v-bind:links="btnlinks")
    Tabledrag(v-bind:tableheader='tableheader', v-bind:tabledata="tabledata", v-bind:tablefoot="tablefooter")

