.templatetablein
    DashboardController(v-bind:createbtn='true',v-bind:editbtn='true',v-bind:attachmentbtn='true',v-bind:actionbtn='true', v-bind:links='btnlinks',v-bind:heading='head' )
    Templatetableincompo