.o_form_sheet
    label.o_form_label.o_form_label_help.oe_edit_only(for='o_field_input_222', data-original-title='', title='')
        | Point of Sale Name
    h1
        input#o_field_input_222.o_form_input.o_form_field.o_form_required(type='text')
    table.o_group.o_inner_group
        tbody
            tr
                td.o_td_label(colspan='1')
                    label.o_form_label.o_form_invisible(for='o_field_input_223')
                        | Picking Type
                td(colspan='1', style='width: 50%;')
                    select#o_field_input_223.o_form_input.o_form_field.o_form_invisible(name='picking_type_id')
                        option(value='false')
                        option(value='1') YourCompany: Receipts
                        option(value='4') YourCompany: Delivery Orders
                        option(value='17') YourCompany: Manufacturing
                        option(value='6') My Company, Chicago: Receipts
                        option(value='9') My Company, Chicago: Delivery Orders
                        option(value='11') Chicago Warehouse: Receipts
                        option(value='14') Chicago Warehouse: Delivery Orders
                        option(value='16') PoS Orders
                td.o_td_label(colspan='1')
                    label.o_form_label.o_form_invisible(for='o_field_input_224')
                        | Stock Location
                td(colspan='1', style='width: 50%;')
                    .o_form_field_many2one.o_with_button.o_form_field.o_form_required.o_form_invisible
                        .o_form_input_dropdown
                            input#o_field_input_224.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                            span.o_dropdown_button(draggable='false')
                        .fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button')
            tr
                td.o_td_label(colspan='1')
                    label.o_form_label(for='o_field_input_225')
                        | Company
                td(colspan='1', style='width: 50%;')
                    .o_form_field_many2one.o_with_button.o_form_field.o_form_required
                        .o_form_input_dropdown
                            input#o_field_input_225.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                            span.o_dropdown_button(draggable='false')
                        .fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button')
                td.o_td_label(colspan='1')
                    label.o_form_label(for='o_field_input_226')
                        | Pricelist
                td(colspan='1', style='width: 50%;')
                    .o_form_field_many2one.o_with_button.o_form_field.o_form_required
                        .o_form_input_dropdown
                            input#o_field_input_226.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                            span.o_dropdown_button(draggable='false')
                        .fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button')
            tr
                td.o_td_label(colspan='1')
                    label.o_form_label.o_form_label_help(for='o_field_input_227', data-original-title='', title='')
                        | Sale Journal
                td(colspan='1', style='width: 50%;')
                    select#o_field_input_227.o_form_input.o_form_field(name='journal_id')
                        option(value='false')
                        option(value='1') Customer Invoices (EUR)
                        option(value='8') POS Sale Journal (EUR)
                td.o_td_label(colspan='1')
                    label.o_form_label.o_form_label_help(for='o_field_input_228', data-original-title='', title='')
                        | Invoice Journal
                td(colspan='1', style='width: 50%;')
                    select#o_field_input_228.o_form_input.o_form_field(name='invoice_journal_id')
                        option(value='false')
                        option(value='1') Customer Invoices (EUR)
                        option(value='8') POS Sale Journal (EUR)
            tr
                td.o_td_label(colspan='1')
                    label.o_form_label.o_form_label_help(for='o_field_input_229', data-original-title='', title='')
                        | Group Journal Items
                td(colspan='1', style='width: 50%;')
                    .o_checkbox.o_form_field_boolean.o_form_field
                        input#o_field_input_229(type='checkbox', name='group_by')
                        span
                td.o_td_label(colspan='1')
                    label.o_form_label.o_form_label_help(for='o_field_input_230', data-original-title='', title='')
                        | Barcodes
                td(colspan='1', style='width: 50%;')
                    .o_form_field_many2one.o_with_button.o_form_field.o_form_required
                        .o_form_input_dropdown
                            input#o_field_input_230.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                            span.o_dropdown_button(draggable='false')
                        .fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button')
            tr
                td.o_td_label(colspan='1')
                    label.o_form_label.o_form_label_help.o_form_invisible.o_form_label_empty.o_form_label_false(for='o_field_input_231', data-original-title='', title='')
                        | Order IDs Sequence
                td(colspan='1', style='width: 50%;')
                    a.o_form_uri.o_form_field.o_form_invisible.o_form_field_empty(href='#')
                td.o_td_label(colspan='1')
                    label.o_form_label(for='o_field_input_232')
                        | Fiscal Positions
                td(colspan='1', style='width: 50%;')
                    .o_form_field_many2manytags.o_form_field
                        .o_form_field_many2one.o_form_field
                            .o_form_input_dropdown
                                input.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                span.o_dropdown_button(draggable='false')
            tr
                td.o_td_label(colspan='1')
                    label.o_form_label(for='o_field_input_233')
                        | Default Fiscal Position
                td(colspan='1', style='width: 50%;')
                    .o_form_field_many2one.o_form_field
                        .o_form_input_dropdown
                            input#o_field_input_233.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                            span.o_dropdown_button(draggable='false')
                        .fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button', style='display: none;')
                td.o_td_label(colspan='1')
                    label.o_form_label(for='o_field_input_234')
                        | Active
                td(colspan='1', style='width: 50%;')
                    .o_checkbox.o_form_field_boolean.o_form_field
                        input#o_field_input_234(type='checkbox', name='active')
                        span
            tr
                td.o_td_label(colspan='1')
                    label.o_form_label.o_form_invisible(for='o_field_input_235')
                        | Currency
                td(colspan='1', style='width: 33.3333%;')
                    a.o_form_uri.o_form_field.o_form_invisible(href='#') EUR
    .o_horizontal_separator
        | Available Payment Methods
    .o_form_field.o_form_field_many2many.o_view_manager_content
        .o_x2m_control_panel
            .o_cp_buttons
            .o_cp_pager
                .o_hidden
                    span.o_pager_value
                    |  /
                    span.o_pager_limit
                    span.btn-group.btn-group-sm
                        button.fa.fa-chevron-left.btn.btn-icon.o_pager_previous(type='button')
                        button.fa.fa-chevron-right.btn.btn-icon.o_pager_next(type='button')
        div
            .table-responsive
                table.o_list_view.table.table-condensed.table-striped
                    thead
                        tr
                            th.o_column_sortable(data-id='code')
                                | Short Code
                            th.o_column_sortable(data-id='name')
                                | Journal Name
                            th.o_column_sortable(data-id='type')
                                | Type
                            th.o_list_record_delete
                    tfoot
                        tr
                            td
                            td
                            td
                            td.o_list_record_delete
                    tbody
                        tr(data-id='5', style='')
                            td(data-field='code', title='The journal entries of this journal will be named using this prefix.') CSH1
                            td(data-field='name') Cash
                            td(data-field='type', title="Select 'Sale' for customer invoices journals.\
                              Select 'Purchase' for vendor bills journals.\
                              Select 'Cash' or 'Bank' for journals that are used in customer or vendor payments.\
                              Select 'General' for miscellaneous operations journals.") Cash
                            td.o_list_record_delete
                                span.fa.fa-trash-o(name='delete')
                        tr
                            td.o_form_field_x2many_list_row_add(colspan='4')
                                a(href='#') Add an item
                        tr
                            td(title='Short Code')  
                            td(title='Journal Name')  
                            td(title='Type')  
                            td.o_list_record_delete
                        tr
                            td(title='Short Code')  
                            td(title='Journal Name')  
                            td(title='Type')  
                            td.o_list_record_delete
            .o_group
                .o_horizontal_separator
                    | Features
                table.o_group.o_inner_group.o_group_col_6
                    tbody
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label.o_form_label_help(for='o_field_input_236', data-original-title='', title='')
                                    | Virtual KeyBoard
                            td(colspan='1', style='width: 100%;')
                                .o_checkbox.o_form_field_boolean.o_form_field
                                    input#o_field_input_236(type='checkbox', name='iface_vkeyboard')
                                    span
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label.o_form_label_help(for='o_field_input_237', data-original-title='', title='')
                                    | Invoicing
                            td(colspan='1', style='width: 100%;')
                                .o_checkbox.o_form_field_boolean.o_form_field
                                    input#o_field_input_237(type='checkbox', name='iface_invoicing')
                                    span
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label.o_form_label_help(for='o_field_input_238', data-original-title='', title='')
                                    | Prefill Cash Payment
                            td(colspan='1', style='width: 100%;')
                                .o_checkbox.o_form_field_boolean.o_form_field
                                    input#o_field_input_238(type='checkbox', name='iface_precompute_cash')
                                    span
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label.o_form_label_help(for='o_field_input_239', data-original-title='', title='')
                                    | Start Category
                            td(colspan='1', style='width: 100%;')
                                .o_form_field_many2one.o_form_field
                                    .o_form_input_dropdown
                                        input#o_field_input_239.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                        span.o_dropdown_button(draggable='false')
                                    .fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button', style='display: none;')
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label.o_form_label_help(for='o_field_input_240', data-original-title='', title='')
                                    | Tip Product
                            td(colspan='1', style='width: 100%;')
                                .o_form_field_many2one.o_form_field
                                    .o_form_input_dropdown
                                        input#o_field_input_240.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                        span.o_dropdown_button(draggable='false')
                                    .fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button', style='display: none;')
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label.o_form_label_help(for='o_field_input_241', data-original-title='', title='')
                                    | Include Taxes in Prices
                            td(colspan='1', style='width: 100%;')
                                .o_checkbox.o_form_field_boolean.o_form_field
                                    input#o_field_input_241(type='checkbox', name='iface_tax_included')
                                    span
                table.o_group.o_inner_group.o_group_col_6
                    tbody
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label.o_form_label_help(for='o_field_input_242', data-original-title='', title='')
                                    | Large Scrollbars
                            td(colspan='1', style='width: 100%;')
                                .o_checkbox.o_form_field_boolean.o_form_field
                                    input#o_field_input_242(type='checkbox', name='iface_big_scrollbars')
                                    span
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label.o_form_label_help(for='o_field_input_243', data-original-title='', title='')
                                    | Automatic Receipt Printing
                            td(colspan='1', style='width: 100%;')
                                .o_checkbox.o_form_field_boolean.o_form_field
                                    input#o_field_input_243(type='checkbox', name='iface_print_auto')
                                    span
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label.o_form_label_help(for='o_field_input_244', data-original-title='', title='')
                                    | Display Category Pictures
                            td(colspan='1', style='width: 100%;')
                                .o_checkbox.o_form_field_boolean.o_form_field
                                    input#o_field_input_244(type='checkbox', name='iface_display_categ_images')
                                    span
                        tr
                            td.o_td_label(colspan='1')
                                label.o_form_label.o_form_label_help.o_form_invisible(for='o_field_input_245', data-original-title='', title='')
                                    | Skip Receipt Screen
                            td(colspan='1', style='width: 100%;')
                                .o_checkbox.o_form_field_boolean.o_form_field.o_form_invisible
                                    input#o_field_input_245(type='checkbox', name='iface_print_skip_screen')
                                    span
            table.o_group.o_inner_group
                tbody
                    tr
                        td(colspan='2', style='width: 100%;')
                            .o_horizontal_separator
                                | Hardware Proxy / PosBox
                    tr
                        td.o_td_label(colspan='1')
                            label.o_form_label.o_form_label_help(for='o_field_input_246', data-original-title='', title='')
                                | IP Address
                        td(colspan='1', style='width: 100%;')
                            input#o_field_input_246.o_form_input.o_form_field(maxlength='45', type='text')
                    tr
                        td.o_td_label(colspan='1')
                            label.o_form_label.o_form_label_help(for='o_field_input_247', data-original-title='', title='')
                                | Receipt Printer
                        td(colspan='1', style='width: 100%;')
                            .o_checkbox.o_form_field_boolean.o_form_field
                                input#o_field_input_247(type='checkbox', name='iface_print_via_proxy')
                                span
                    tr
                        td.o_td_label(colspan='1')
                            label.o_form_label.o_form_label_help(for='o_field_input_248', data-original-title='', title='')
                                | Barcode Scanner
                        td(colspan='1', style='width: 100%;')
                            .o_checkbox.o_form_field_boolean.o_form_field
                                input#o_field_input_248(type='checkbox', name='iface_scan_via_proxy')
                                span
                    tr
                        td.o_td_label(colspan='1')
                            label.o_form_label.o_form_label_help(for='o_field_input_249', data-original-title='', title='')
                                | Electronic Scale
                        td(colspan='1', style='width: 100%;')
                            .o_checkbox.o_form_field_boolean.o_form_field
                                input#o_field_input_249(type='checkbox', name='iface_electronic_scale')
                                span
                    tr
                        td.o_td_label(colspan='1')
                            label.o_form_label.o_form_label_help(for='o_field_input_250', data-original-title='', title='')
                                | Cashdrawer
                        td(colspan='1', style='width: 100%;')
                            .o_checkbox.o_form_field_boolean.o_form_field
                                input#o_field_input_250(type='checkbox', name='iface_cashdrawer')
                                span
            table.o_group.o_inner_group
                tbody
                    tr
                        td(colspan='2', style='width: 100%;')
                            .o_horizontal_separator
                                | Cash Control
                    tr
                        td.o_td_label(colspan='1')
                            label.o_form_label.o_form_label_help(for='o_field_input_251', data-original-title='', title='')
                                | Cash Control
                        td(colspan='1', style='width: 100%;')
                            .o_checkbox.o_form_field_boolean.o_form_field
                                input#o_field_input_251(type='checkbox', name='cash_control')
                                span
                    tr
                        td.o_td_label(colspan='1')
                            label.o_form_label.o_form_invisible(for='o_field_input_252')
                                | Default Balance
                        td(colspan='1', style='width: 100%;')
                            .o_form_field.o_form_invisible.o_form_field_one2many.o_view_manager_content
                                .o_x2m_control_panel
                                    .o_cp_buttons
                                    .o_cp_pager
                                        .o_hidden
                                            span.o_pager_value
                                            |  /
                                            span.o_pager_limit
                                            span.btn-group.btn-group-sm
                                                button.fa.fa-chevron-left.btn.btn-icon.o_pager_previous(type='button')
                                                button.fa.fa-chevron-right.btn.btn-icon.o_pager_next(type='button')
                                .o_list_editable
                                    .o_form_view.o_list_editable_form.o_form_nosheet.o_hidden
                                        field(name='coin_value', on_change='1', modifiers='{"required":true}', nolabel='true')
                                        field(name='number', on_change='1', modifiers='{}', nolabel='true')
                                        field(name='subtotal', modifiers='{"readonly":true}', nolabel='true')
                                    .table-responsive
                                        table.o_list_view.table.table-condensed.table-striped
                                            thead
                                                tr
                                                    th.o_column_sortable(data-id='coin_value')
                                                        | Coin/Bill Value
                                                    th.o_column_sortable(data-id='number')
                                                        | Number of Coins/Bills
                                                    th(data-id='subtotal')
                                                        | Subtotal
                                                    th.o_list_record_delete
                                            tfoot
                                                tr
                                                    td
                                                    td
                                                    td
                                                    td.o_list_record_delete
                                            tbody
                                                tr
                                                    td.o_form_field_x2many_list_row_add(colspan='4')
                                                        a(href='#') Add an item
                                                tr
                                                    td(title='Coin/Bill Value')  
                                                    td(title='Number of Coins/Bills')  
                                                    td(title='Subtotal')  
                                                    td.o_list_record_delete
                                                tr
                                                    td(title='Coin/Bill Value')  
                                                    td(title='Number of Coins/Bills')  
                                                    td(title='Subtotal')  
                                                    td.o_list_record_delete
                                                tr
                                                    td(title='Coin/Bill Value')  
                                                    td(title='Number of Coins/Bills')  
                                                    td(title='Subtotal')  
                                                    td.o_list_record_delete
            table.o_group.o_inner_group
                tbody
                    tr
                        td(colspan='2', style='width: 100%;')
                            .o_horizontal_separator
                                | Receipt
                    tr
                        td.o_td_label(colspan='1')
                            label.o_form_label.o_form_label_help(for='o_field_input_253', data-original-title='', title='')
                                | Header
                        td(colspan='1', style='width: 100%;')
                            textarea.o_form_textarea.o_form_field(rows='6', name='receipt_header', placeholder='A custom receipt header message', style='height: 50px;')
                            textarea.o_form_textarea.o_form_field(disabled='', style='position: absolute; opacity: 0; height: 10px; top: -10000px; left: -10000px; width: 631px;')
                    tr
                        td.o_td_label(colspan='1')
                            label.o_form_label.o_form_label_help(for='o_field_input_254', data-original-title='', title='')
                                | Footer
                        td(colspan='1', style='width: 100%;')
                            textarea.o_form_textarea.o_form_field(rows='6', name='receipt_footer', placeholder='A custom receipt footer message', style='height: 50px;')
                            textarea.o_form_textarea.o_form_field(disabled='', style='position: absolute; opacity: 0; height: 10px; top: -10000px; left: -10000px; width: 631px;')
