.Stock  
    .o_content.samocontent
        .o_view_manager_content
            .o_form_view.o_form_readonly

                        .row
                            .col-sm-5
                                h1(style='color:#7c7bad;font-size: 21px;padding-left: 10px;') WH
                        .row
                            .col-sm-5
                                h1(style='color:#7c7bad;font-size: 21px;padding-left: 10px;') Additional Information

                            .col-sm-6
                                h1(style='color:#7c7bad;font-size: 21px;padding-left: 10px;') Localization

                        .row(style='margin-top:20px;')
                            .col-sm-3
                                .one

                                    label(style='font-size:13px;padding-right:25px;font-weight:bold;')
                                        | Location Type
                                    br
                                    label(style='font-size:13px;padding-right:25px;font-weight:bold;')
                                        | Owner		Company
                                    br
                                    label(style='font-size:13px;padding-right:25px;font-weight:bold;')
                                        | Is a Scrap Location?
                                    br
                                    label(style='font-size:13px;padding-right:25px;font-weight:bold;')
                                        | Is a Return Location?
                                    br
                            .col-sm-2
                                label(style='font-size:13px;padding-right:25px;')
                                    | Internal Location
                                br
                                label(style='font-size:13px;padding-right:25px;')
                                    | Alupak Industriess
                                br
                                .checkbox.disabled(style='padding-left:25px;')
                                    input(type='checkbox', value='', disabled='')
                                br
                                .checkbox.disabled(style='padding-left:25px;')
                                    input(type='checkbox', value='', disabled='')




                            .col-sm-3
                                .one
                                    label(style='font-size:13px;padding-right:5px;font-weight:bold;')
                                        | Corridor (X)
                                    br
                                    label(style='font-size:13px;padding-right:5px;font-weight:bold;')
                                        | Shelves (Y)
                                    br
                                    label(style='font-size:13px;padding-right:5px;font-weight:bold;')
                                        | Height (Z)
                                    br
                                    label(style='font-size:13px;padding-right:5px;font-weight:bold;')
                                        | Barcode
                                    br
                            .col-sm-3
                                label(style='font-size:13px;padding-right:25px;')
                                    | 0
                                br
                                label(style='font-size:13px;padding-right:25px;')
                                    | 0
                                br
                                label(style='font-size:13px;padding-right:25px;')
                                    | 0
                                br
                                label(style='font-size:13px;padding-right:25px;')
                                    | 0
                                br

