.o_content
    .o_view_manager_content
        .o_form_view.o_form_nosheet.o_form_editable
            .o_dashboard(style='1-2')
                .oe_view_nocontent
                    div
                        .oe_empty_custom_dashboard
                            p
                                b Your personal dashboard is empty.
                            p
                                | To add your first report into this dashboard, go to any
                                | menu, switch to list or graph view, and click
                                i
                                    | 'Add to
                                    | Dashboard'
                                |  in the extended search options.
                            p
                                | You can filter and group data before inserting into the
                                | dashboard using the search options.
                column
                column
                column
