.outgoingemailserveredit
    DashboardController(v-bind:savedbtn='true', v-bind:discardbtn='true',v-bind:heading="head",v-bind:links="btnlinks")
        .col-sm-6(style='padding:0px;' ,slot='heading')
            h4.samodashheading(style="font-size: 18px;") General Settings / Outgoing Mail Servers / {{description_e}}
    outgoingemailservercreatecompo