.accordions
    .table12(style='margin-left: -15px;margin-right: -15px;')
        .o_content
            .o_view_manager_content
                div
                    .table-responsive
                        table.o_list_view.table.table-condensed.table-striped.o_list_view_grouped
                            thead
                                tr
                                    th
                                    th.o_list_record_selector(width='1')
                                        .o_checkbox
                                            input(type='checkbox')
                                            span
                                    th.o_column_sortable(data-id='employee_id')
                                        | Employee
                                    th.o_column_sortable(data-id='type')
                                        | Request Type
                                    th.o_column_sortable(data-id='name')
                                        | Description
                                    th.o_column_sortable(data-id='number_of_days')
                                        | Number of Days
                                    th.o_column_sortable(data-id='date_from')
                                        | Start Date
                                    th.o_column_sortable(data-id='date_to')
                                        | End Date
                                    th.o_column_sortable(data-id='holiday_status_id')
                                        | Leave Type
                                    th.o_column_sortable(data-id='state')
                                        | Status
                            tfoot
                                tr
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td.o_list_number(data-field='number_of_days', title='Remaining Days') 28.00
                                    td
                                    td
                                    td
                                    td
                            tbody#searchbutton1
                                tr.o_group_header
                                    th.o_group_name
                                        span(style='float: left; white-space: pre;')
                                        span.fa.fa-caret-down(style='padding-right: 5px;')
                                        | Legal Leaves 2017 (1)
                                    td
                                    td
                                    td
                                    td
                                    td.oe_number 20.00
                                    td
                                    td
                                    td
                                    td
                            tbody.samodropdownbutton3(style='display:none;')
                                tr(data-id='1', style='')
                                    td
                                    td.o_list_record_selector
                                        .o_checkbox
                                            input(name='radiogroup', type='checkbox')
                                            span
                                    router-link.links(to='leaves_summary_table')
                                        td.o_readonly(data-field='employee_id', style='padding: 5px;') Administrators
                                    td.o_readonly(data-field='type', title="Choose 'Leave Request' if someone wants to take an off-day. \
                                    Choose 'Allocation Request' if you want to increase the number of leaves available for someone") Allocation Request
                                    td(data-field='name') Legal Leaves for Peter Parker
                                    td.o_readonly.o_list_number(data-field='number_of_days') 30.00
                                    td.o_readonly(data-field='date_from')  
                                    td.o_readonly(data-field='date_to')  
                                    td.o_readonly(data-field='holiday_status_id') Legal Leaves 2017
                                    td.o_readonly(data-field='state', title="The status is set to 'To Submit', when a holiday request is created.\
                                                          The status is 'To Approve', when holiday request is confirmed by user.\
                                                          The status is 'Refused', when holiday request is refused by manager.\
                                                          The status is 'Approved', when holiday request is approved by manager.") Approved



