.o_web_client > .o_main .o_main_content .o_content {
    -ms-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%;
    overflow: auto;
    position: relative;
}