.vendor_boxes
    .row(style='margin-top:15px;')
        .col-md-3(style='padding-right: 0px;')
            .table
                router-link(to='salescustomerview')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue

                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-5(style='padding-top: 17px;')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')

                        .col-xs-6.offset-sm-1(style='color: black;')
                            strong(style='color:black;')
                                | Air Flight

                            br(style='font-size:10px;color:black;')
                            |   Price:999.0


                    .row
                        .col-xs-3.offset-sm-4(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-calendar
                                | 3

                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-shopping-cart
                                | 2
                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-star
                                | 3

                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-usd
                                | 2

            .table(style='margin-top:-10px;')
                router-link(to='/salescustomerview')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue


                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-5(style='padding-top: 17px;')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')

                        .col-xs-6.offset-sm-1(style='color: black;')
                            strong(style='color:black;')
                                | Air Flight

                            br(style='font-size:10px;color:black;')
                            |   Price:999.0


                    .row
                        .col-xs-3.offset-sm-4(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-calendar
                                | 3

                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-shopping-cart
                                | 2
                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-star
                                | 3

                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-usd
                                | 2

            .table(style='margin-top:-10px;')
                router-link(to='/salescustomerview')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue


                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-5(style='padding-top: 17px;')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')

                        .col-xs-6.offset-sm-1(style='color: black;')
                            strong(style='color:black;')
                                | Air Flight

                            br(style='font-size:10px;color:black;')
                            |   Price:999.0


                    .row
                        .col-xs-3.offset-sm-4(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-calendar
                                | 3

                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-shopping-cart
                                | 2
                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-star
                                | 3

                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-usd
                                | 2
        .col-md-3(style='padding-right: 0px;padding-left: 5px;')
            .table
                router-link(to='/salescustomerview')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue


                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-5(style='padding-top: 17px;')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')

                        .col-xs-6.offset-sm-1(style='color: black;')
                            strong(style='color:black;')
                                | Air Flight

                            br(style='font-size:10px;color:black;')
                            |   Price:999.0


                    .row
                        .col-xs-3.offset-sm-4(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-calendar
                                | 3

                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-shopping-cart
                                | 2
                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-star
                                | 3

                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-usd
                                | 2

            .table(style='margin-top:-10px;')
                router-link(to='/Users')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue


                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-5(style='padding-top: 17px;')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')

                        .col-xs-6.offset-sm-1(style='color: black;')
                            strong(style='color:black;')
                                | Air Flight

                            br(style='font-size:10px;color:black;')
                            |   Price:999.0


                    .row
                        .col-xs-3.offset-sm-4(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-calendar
                                | 3

                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-shopping-cart
                                | 3


                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-star
                                | 3

                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-usd


            .table(style='margin-top:-10px;')
                router-link(to='/Users')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue


                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-5(style='padding-top: 17px;')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')

                        .col-xs-6.offset-sm-1(style='color: black;')
                            strong(style='color:black;')
                                | Air Flight

                            br(style='font-size:10px;color:black;')
                            |   Price:999.0


                    .row
                        .col-xs-3.offset-sm-4(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-calendar
                                | 3

                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-shopping-cart
                                | 2
                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-star
                                | 3

                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-usd
                                | 2
        .col-md-3(style='padding-right: 0px;padding-left: 5px;')
            .table
                router-link(to='/Users')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue


                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-5(style='padding-top: 17px;')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')

                        .col-xs-6.offset-sm-1(style='color: black;')
                            strong(style='color:black;')
                                | Air Flight

                            br(style='font-size:10px;color:black;')
                            |   Price:999.0


                    .row
                        .col-xs-3.offset-sm-4(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-calendar
                                | 3

                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-shopping-cart
                                | 2
                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-star
                                | 3

                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-usd
                                | 2

            .table(style='margin-top:-10px;')
                router-link(to='/Users')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue


                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-5(style='padding-top: 17px;')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')

                        .col-xs-6.offset-sm-1(style='color: black;')
                            strong(style='color:black;')
                                | Air Flight

                            br(style='font-size:10px;color:black;')
                            |   Price:999.0


                    .row
                        .col-xs-3.offset-sm-4(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-calendar
                                | 3

                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-shopping-cart
                                | 2
                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-star
                                | 3

                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-usd
                                | 3
            .table(style='margin-top:-10px;')
                router-link(to='/Users')
                    .row
                        .col-xs-2
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Distributor')
                                .blue


                        .col-xs-3
                            a(href='#', data-toggle='tooltip', data-placement='top', title='Office Supplies')
                                .green


                    .row
                        .col-xs-5(style='padding-right: 5px;')
                            .img
                                img.img-responsive(style='width:80px;')(src='/images/orange.png')

                        .col-xs-6.offset-sm-1(style='color: black;')
                            strong(style='color:black;')
                                | Air Flight

                            br(style='font-size:10px;color:black;')
                            |   Price:999.0


                    .row
                        .col-xs-3.offset-sm-4(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-calendar
                                | 3

                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-shopping-cart
                                | 2
                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-star
                                | 3

                        .col-xs-1(style='padding-right: 5px;')
                            span.badge
                                i.fa.fa-fw.fa-usd
                                | 2