.Incominggmenu
    DashboardController( v-bind:save='true',v-bind:heading="nextactivity",v-bind:editbtn='true',v-bind:createbtn='true',v-bind:dropdownMenuButton='true',v-bind:Attachmentbtn='true',v-bind:actionbtn='true', v-bind:links="btnlinks",v-bind:num1='true',v-bind:num2='true')
    .o_content.samocontent#hide
        .o_view_manager_content
            .o_form_view.o_form_readonly
                .o_form_sheet_bg
                    .o_form_sheet
                        .row
                            .col-md-3

                                .one
                                    label(style='font-size:13px;padding-right:25px;font-weight:bold;')
                                        | Product
                                    br
                                    label(style='font-size:13px;font-weight:bold;padding-top: 20px;')
                                        | Quantity
                                    br
                                    label(style='font-size:13px;font-weight:bold;')
                                        | Description
                                    br




                            .col-md-3
                                router-link(to='product_inner')
                                    label(style='font-size:13px;padding-right:25px;')
                                        | [CPUi5] Processor Core i5 2.70 Ghz
                                    br
                                label(style='font-size:13px;')
                                    | 125.000
                                br
                                label(style='font-size:13px;')
                                    | [CPUi5] Processor Core i5 2.70 Ghz
                                br

                            .col-md-3

                                .one
                                    label(style='font-size:16px;font-weight:bold;')
                                        | Picking Type
                                    br
                                    label(style='font-size:16px;font-weight:bold;')
                                        | Priority
                                    br
                                    label(style='font-size:16px;font-weight:bold;')
                                        | Company
                                    br
                                    label(style='font-size:16px;font-weight:bold;')
                                        | Expected Date
                                    br




                            .col-md-3
                                router-link(to='Receipts')
                                    label(style='font-size:13px;')
                                        | YourCompany: Receipts
                                    br
                                label(style='font-size:13px;')
                                    | Normal
                                br
                                router-link(to='Profile')
                                    label(style='font-size:13px;')
                                        | Alupak Industriess
                                    br
                                label(style='font-size:13px;')
                                    | 01/28/2017 19:22:57
                                br


                        .row
                            .col-xs-12
                                h1(style='color: #7c7bad;font-weight: bold;font-size:16px;padding-left:22px;font-size:30px;') Origin

                        .row
                            .col-md-3

                                .one
                                    label(style='font-size:13px;padding-right:25px;font-weight:bold;')
                                        | Source Document
                                    br
                                    label(style='font-size:13px;font-weight:bold;')
                                        | Transfer Reference
                                    br
                                    label(style='font-size:13px;font-weight:bold;')
                                        | Procurement Group
                                    br





                            .col-sm-4
                                label(style='font-size:13px;padding-right:25px;')
                                    | Source Document
                                br
                                router-link(to='Inproduct')
                                    label(style='font-size:13px;')
                                        | WH/IN/00003
                                    br
                                label(style='font-size:13px;')
                                    | Procurement Group
                                br
    .o_content.samocontent#show(style='display:none')
        .o_view_manager_content
            .o_form_view.o_form_readonly
                .o_form_sheet_bg
                    .o_form_sheet(style='margin-top:45px;')
                        .tab-content
                            .row(style='margin-top:10px;')
                                .col-md-3
                                    .one
                                        label(style='font-size:16px;font-weight:bold;')
                                            | Product
                                        br
                                        label(style='font-size:16px;font-weight:bold;')
                                            | Quantity
                                        br
                                        label(style='font-size:16px;font-weight:bold;')
                                            | Description
                                        br

                                .col-md-3
                                    .o_form_field_many2one.o_with_button.o_form_field.o_form_required.right-c
                                        .o_form_input_dropdown(style='padding-right: 93px !important;')
                                            select.o_form_input.o_form_field(style='width: 209% !important;')(name='format')
                                                option(value='true') EUR
                                                option(value='') USD
                                                option(value='') PKR
                                        button.fa.fa-external-link.btn.btn-default.o_external_button(style='background-color: transparent; !important')(draggable='false', tabindex='-1', type='button')
                                    input.o_form_input.o_form_field(style='width:174px !important')(type='text', value='demo')
                                    input.o_form_input.o_form_field(style='width:174px !important')(type='text', value='demo')

                                    br

                                .col-md-3

                                    .one
                                        label(style='font-size:16px;font-weight:bold;')
                                            | Picking Type
                                        br
                                        label(style='font-size:16px;font-weight:bold;')
                                            | Priority
                                        br
                                        label(style='font-size:16px;font-weight:bold;')
                                            | Company
                                        br
                                        label(style='font-size:16px;font-weight:bold;')
                                            | Expected Date
                                        br

                                .col-md-3
                                    .o_form_field_many2one.o_with_button.o_form_field.o_form_required.right-c
                                        .o_form_input_dropdown(style='padding-right: 93px !important;')
                                            select.o_form_input.o_form_field(style='width: 209% !important;')(name='format')
                                                option(value='true') EUR
                                                option(value='') USD
                                                option(value='') PKR

                                        button.fa.fa-external-link.btn.btn-default.o_external_button(style='background-color: transparent; !important')(draggable='false', tabindex='-1', type='button')
                                    br
                                    .o_form_field_many2one.o_with_button.o_form_field.o_form_required.right-c
                                        .o_form_input_dropdown(style='padding-right: 93px !important;')
                                            select.o_form_input.o_form_field(style='width: 209% !important;')(name='format')
                                                option(value='true') EUR
                                                option(value='') USD
                                                option(value='') PKR

                                        button.fa.fa-external-link.btn.btn-default.o_external_button(style='background-color: transparent; !important')(draggable='false', tabindex='-1', type='button')
                                    br
                                    .o_form_field_many2one.o_with_button.o_form_field.o_form_required.right-c
                                        .o_form_input_dropdown(style='padding-right: 93px !important;')
                                            select.o_form_input.o_form_field(style='width: 209% !important;')(name='format')
                                                option(value='true') EUR
                                                option(value='') USD
                                                option(value='') PKR

                                        button.fa.fa-external-link.btn.btn-default.o_external_button(style='background-color: transparent; !important')(draggable='false', tabindex='-1', type='button')
                                    br
                                    .o_form_field_many2one.o_with_button.o_form_field.o_form_required.right-c
                                        .o_form_input_dropdown(style='padding-right: 93px !important;')
                                            select.o_form_input.o_form_field(style='width: 209% !important;')(name='format')
                                                option(value='true') EUR
                                                option(value='') USD
                                                option(value='') PKR

                                        button.fa.fa-external-link.btn.btn-default.o_external_button(style='background-color: transparent; !important')(draggable='false', tabindex='-1', type='button')
                                    br
                                    br
                                    br
                            h3 Origin
                            .col-md-3
                                .one
                                    label(style='font-size:16px;font-weight:bold;')
                                        | Source Document
                                    br
                                    label(style='font-size:16px;font-weight:bold;')
                                        | Transfer Reference
                                    br
                                    label(style='font-size:16px;font-weight:bold;')
                                        | Procurement Group
                                    br
                            .col-md-3
                                input.o_form_input.o_form_field(style='width:174px !important')(type='text')
                                .o_form_field_many2one.o_with_button.o_form_field.o_form_required.right-c
                                    .o_form_input_dropdown(style='padding-right: 93px !important;')
                                        select.o_form_input.o_form_field(style='width: 209% !important;')(name='format')
                                            option(value='true') EUR
                                            option(value='') USD
                                            option(value='') PKR
                                    button.fa.fa-external-link.btn.btn-default.o_external_button(style='background-color: transparent; !important')(draggable='false', tabindex='-1', type='button')
                                .o_form_field_many2one.o_with_button.o_form_field.o_form_required.right-c
                                    .o_form_input_dropdown(style='padding-right: 93px !important;')
                                        select.o_form_input.o_form_field(style='width: 209% !important;')(name='format')
                                            option(value='true') EUR
                                            option(value='') USD
                                            option(value='') PKR
                                    button.fa.fa-external-link.btn.btn-default.o_external_button(style='background-color: transparent; !important')(draggable='false', tabindex='-1', type='button')

                                br
    .o_content.samocontent#createpanel(style='display:none')
        .o_view_manager_content
            .o_form_view.o_form_readonly
                .o_form_sheet_bg
                    .o_form_sheet(style='margin-top:45px;')
                        .tab-content
                            .row(style='margin-top:10px;')
                                .col-md-3
                                    .one
                                        label(style='font-size:16px;font-weight:bold;')
                                            | Product
                                        br
                                        label(style='font-size:16px;font-weight:bold;')
                                            | Quantity
                                        br
                                        label(style='font-size:16px;font-weight:bold;')
                                            | Description
                                        br

                                .col-md-3
                                    .o_form_field_many2one.o_with_button.o_form_field.o_form_required.right-c
                                        .o_form_input_dropdown(style='padding-right: 93px !important;')
                                            select.o_form_input.o_form_field(style='width: 209% !important;')(name='format')
                                                option(value='true') EUR
                                                option(value='') USD
                                                option(value='') PKR
                                        button.fa.fa-external-link.btn.btn-default.o_external_button(style='background-color: transparent; !important')(draggable='false', tabindex='-1', type='button')
                                    input.o_form_input.o_form_field(style='width:174px !important')(type='text')
                                    input.o_form_input.o_form_field(style='width:174px !important')(type='text')

                                    br

                                .col-md-3

                                    .one
                                        label(style='font-size:16px;font-weight:bold;')
                                            | Picking Type
                                        br
                                        label(style='font-size:16px;font-weight:bold;')
                                            | Priority
                                        br
                                        label(style='font-size:16px;font-weight:bold;')
                                            | Company
                                        br
                                        label(style='font-size:16px;font-weight:bold;')
                                            | Expected Date
                                        br

                                .col-md-3
                                    .o_form_field_many2one.o_with_button.o_form_field.o_form_required.right-c
                                        .o_form_input_dropdown(style='padding-right: 93px !important;')
                                            select.o_form_input.o_form_field(style='width: 209% !important;')(name='format')
                                                option(value='true') EUR
                                                option(value='') USD
                                                option(value='') PKR

                                        button.fa.fa-external-link.btn.btn-default.o_external_button(style='background-color: transparent; !important')(draggable='false', tabindex='-1', type='button')
                                    br
                                    .o_form_field_many2one.o_with_button.o_form_field.o_form_required.right-c
                                        .o_form_input_dropdown(style='padding-right: 93px !important;')
                                            select.o_form_input.o_form_field(style='width: 209% !important;')(name='format')
                                                option(value='true') EUR
                                                option(value='') USD
                                                option(value='') PKR

                                        button.fa.fa-external-link.btn.btn-default.o_external_button(style='background-color: transparent; !important')(draggable='false', tabindex='-1', type='button')
                                    br
                                    .o_form_field_many2one.o_with_button.o_form_field.o_form_required.right-c
                                        .o_form_input_dropdown(style='padding-right: 93px !important;')
                                            select.o_form_input.o_form_field(style='width: 209% !important;')(name='format')
                                                option(value='true') EUR
                                                option(value='') USD
                                                option(value='') PKR

                                        button.fa.fa-external-link.btn.btn-default.o_external_button(style='background-color: transparent; !important')(draggable='false', tabindex='-1', type='button')
                                    br
                                    .o_form_field_many2one.o_with_button.o_form_field.o_form_required.right-c
                                        .o_form_input_dropdown(style='padding-right: 93px !important;')
                                            select.o_form_input.o_form_field(style='width: 209% !important;')(name='format')
                                                option(value='true') EUR
                                                option(value='') USD
                                                option(value='') PKR

                                        button.fa.fa-external-link.btn.btn-default.o_external_button(style='background-color: transparent; !important')(draggable='false', tabindex='-1', type='button')
                                    br
                                    br
                                    br
                            h3 Origin
                            .col-md-3
                                .one
                                    label(style='font-size:16px;font-weight:bold;')
                                        | Source Document
                                    br
                                    label(style='font-size:16px;font-weight:bold;')
                                        | Transfer Reference
                                    br
                                    label(style='font-size:16px;font-weight:bold;')
                                        | Procurement Group
                                    br
                            .col-md-3
                                input.o_form_input.o_form_field(style='width:174px !important')(type='text')
                                .o_form_field_many2one.o_with_button.o_form_field.o_form_required.right-c
                                    .o_form_input_dropdown(style='padding-right: 93px !important;')
                                        select.o_form_input.o_form_field(style='width: 209% !important;')(name='format')
                                            option(value='true') EUR
                                            option(value='') USD
                                            option(value='') PKR
                                    button.fa.fa-external-link.btn.btn-default.o_external_button(style='background-color: transparent; !important')(draggable='false', tabindex='-1', type='button')
                                .o_form_field_many2one.o_with_button.o_form_field.o_form_required.right-c
                                    .o_form_input_dropdown(style='padding-right: 93px !important;')
                                        select.o_form_input.o_form_field(style='width: 209% !important;')(name='format')
                                            option(value='true') EUR
                                            option(value='') USD
                                            option(value='') PKR
                                    button.fa.fa-external-link.btn.btn-default.o_external_button(style='background-color: transparent; !important')(draggable='false', tabindex='-1', type='button')

                                br
    Message
    Request_quotation_lower

