.board
    dashconterller(v-bind:save='false',v-bind:heading="pipeline",v-bind:createbtn='true',v-bind:importbtn='true', v-bind:links="btnlinks",v-bind:num1='true',v-bind:num2='true',v-bind:paginbtn1='false',v-bind:paginbtn2='false',v-bind:firstbtn='true',v-bind:secondbtn='true',v-bind:fifthbtn='true',v-bind:thirdbtn='true',v-bind:fourthbtn='true',v-bind:searchbar='true',v-bind:dropdownbtn1='true',v-bind:dropdownbtn2='true',v-bind:dropdownbtn3='true')
        .col-sm-6(style='padding:0px;' ,slot='heading')
            h4.samodashheading(style="font-size: 18px;") Purchase Orders
    .row.samoboardrow2
        .col-xs-6
            img.img-responsive(style='width:80px;')(src='/images/v.png')
        .col-xs-6(style='padding-top:51px;')
            p(style='padding-top:10px;') Click to create a quotation that will be converted into a purchase order.
            br
            p Use this menu to search within your purchase orders by references, vendor,
            br
            p products, etc. For each purchase order, you can track the related discussion with
            br
            p the vendor, control the products received and control the vendor bills.






