.o_content(style='margin-left:-15px;margin-right:-15px;')
    .o_view_manager_content
        .o_form_view.o_form_nosheet.o_form_editable
            span.o_form_field.o_form_invisible.o_form_field_empty
            slot(name='template')

