.test
    .row
        nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.samotopbar
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon

            #navbarNavDropdown.collapse.navbar-collapse
                ul.navbar-nav.samoulnav
                    li.nav-item
                        router-link.nav-link.samonavlink(to='/') Settings
                    li.nav-item.active
                        router-link.nav-link.samonavlink(to='/purchase') Purchases
                    li.nav-item
                        router-link.nav-link.samonavlink(to='/sales') Sales
                    li.nav-item
                        router-link.nav-link.samonavlink(to='/calendar') Calendar
                    li.nav-item
                        router-link.nav-link.samonavlink(to='/notes') Notes
                    li.nav-item
                        router-link.nav-link.samonavlink(to='/timesheet') Timesheets
                    li.nav-item
                        router-link.nav-link.samonavlink(to='/pointofsale') PointofSale
                    li.nav-item
                        router-link.nav-link.samonavlink(to='/attendance') Attendence
                    li.nav-item
                        router-link.nav-link.samonavlink(to='/employees') Employees
                    li.nav-item
                        router-link.nav-link.samonavlink(to='/accounting') Accounting
                    li.nav-item
                        router-link.nav-link.samonavlink(to='/inventory') Inventory
                    li.nav-item
                        router-link.nav-link.samonavlink(to='/expenses') Expenses
                    li.nav-item
                        router-link.nav-link.samonavlink(to='/Manufacturing') Manufacturing
                    li.nav-item
                        router-link.nav-link.samonavlink(to='/leaves') Leaves
                    li.nav-item
                        router-link.nav-link.samonavlink(to='/maintenance') Maintenance
                    li.nav-item
                        router-link.nav-link.samonavlink(to='/dashboards') Dashboards
                    li.nav-item
                        router-link.nav-link.samonavlink(to='/repairs') Repairs
                    li.nav-item
                        router-link.nav-link.samonavlink(to='/fleets') Fleet
                    li.nav-item
                        router-link.nav-link.samonavlink(to='/projects') Project
                    li.samolinav
                        i.fa.fa-at.samoat
                        i.fa.fa-comment.samocomment
                        ul.samouldropdown
                            li.nav-item.dropdown.right
                                a#navbarDropdownMenuLink.nav-link.dropdown-toggle.samonavlink(to='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    | Administrators
                                    img.img-circle.oe_topbar_avatar.samoimg(src='images/image.png')
                                .dropdown-menu.samodropdownmenulink(aria-labelledby='navbarDropdownMenuLink')
                                    router-link.dropdown-item(to='#') Documentation
                                    router-link.dropdown-item(to='#') Support
                                    router-link.dropdown-item(to='#') Preferences
                                    hr
                                    router-link.dropdown-item(to='#') My Odoo.com Account
                                    router-link.dropdown-item(to='#') Logout



    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNavDropdown.collapse.navbar-collapse
            ul.navbar-nav(style='width: 100%;display: block;')
                li.nav-item.active
                    router-link.nav-link(to='#')
                        | Home
                        span.sr-only (current)
                li.nav-item
                    router-link.nav-link(to='#') Features
                li.nav-item
                    router-link.nav-link(to='#') Pricing
                li.nav-item.dropdown
                    router-link#navbarDropdownMenuLink.nav-link.dropdown-toggle(to='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Dropdown link
                    .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                        a.dropdown-item(to='#') Action
                        a.dropdown-item(to='#') Another action
                        a.dropdown-item(to='#') Something else here



