.Product_inner_Edit
    DashboardController( v-bind:save='true',v-bind:heading="nextactivity",v-bind:savedbtn='true',v-bind:discardbtn='true', v-bind:links="btnlinks",v-bind:num1='true',v-bind:num2='true',v1-bind:paginbtn1='true',v1-bind:paginbtn2='true',v-bind:firstbtn='false',v-bind:secondbtn='false',v-bind:fifthbtn='false',v-bind:thirdbtn='false',v-bind:fourthbtn='false',v-bind:searchbar='false',v-bind:dropdownbtn1='false',v-bind:dropdownbtn2='false',v-bind:dropdownbtn3='false',v-bind:actionbtn='false',v-bind:Attachmentbtn='false',v-bind:printbtn='false')
    .o_content
        .o_view_manager_content
            .o_form_view.o_form_editable
                .o_form_sheet_bg
                    .o_form_sheet
                        .o_group
                            table.o_group.o_inner_group.o_group_col_6
                                tbody
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label(for='o_field_input_14')
                                                | Stage Name
                                        td(colspan='1', style='width: 100%;')
                                            input#o_field_input_14.o_form_input.o_form_field.o_form_required(type='text')
                                            button.o_field_translate.fa.fa-globe.btn.btn-link.o_translate_active(type='button')
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label.o_form_label_help(for='o_field_input_15', data-original-title='', title='')
                                                | Email Template
                                        td(colspan='1', style='width: 100%;')
                                            .o_form_field_many2one.o_form_field
                                                .o_form_input_dropdown
                                                    input#o_field_input_15.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                    span.o_dropdown_button(draggable='false')
                                                button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button', style='display: none;')
                            table.o_group.o_inner_group.o_group_col_6
                                tbody
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label.o_form_label_help(for='o_field_input_16', data-original-title='', title='')
                                                | Folded in Kanban
                                        td(colspan='1', style='width: 100%;')
                                            .o_checkbox.o_form_field_boolean.o_form_field
                                                input#o_field_input_16(type='checkbox', name='fold')
                                                span
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label.o_form_invisible
                                                | Projects
                                        td(colspan='1', style='width: 100%;')
                                            .o_form_field_many2manytags.o_form_field.o_form_invisible
                                                span.badge.dropdown.o_tag_color_10(data-color='10', data-id='6', data-index='0')
                                                    span.o_badge_text(title='Data Import/Export Plugin') Data Import/Export Plugin
                                                    span.fa.fa-times.o_delete
                                                span.badge.dropdown.o_tag_color_2(data-color='2', data-id='4', data-index='1')
                                                    span.o_badge_text(title='E-Learning Integration') E-Learning Integration
                                                    span.fa.fa-times.o_delete
                                                span.badge.dropdown.o_tag_color_2(data-color='2', data-id='7', data-index='2')
                                                    span.o_badge_text(title='Internal - GAP Analysis') Internal - GAP Analysis
                                                    span.fa.fa-times.o_delete
                                                span.badge.dropdown.o_tag_color_10(data-color='10', data-id='3', data-index='3')
                                                    span.o_badge_text(title='Research &amp; Development') Research & Development
                                                    span.fa.fa-times.o_delete
                                                span.badge.dropdown.o_tag_color_3(data-color='3', data-id='2', data-index='4')
                                                    span.o_badge_text(title='Website for Sales &amp; WMS') Website for Sales & WMS
                                                    span.fa.fa-times.o_delete
                                                span.badge.dropdown.o_tag_color_10(data-color='10', data-id='5', data-index='5')
                                                    span.o_badge_text(title='Website Design Templates') Website Design Templates
                                                    span.fa.fa-times.o_delete
                                                .o_form_field_many2one.o_form_field.o_form_invisible
                                                    .o_form_input_dropdown
                                                        input.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                                        span.o_dropdown_button(draggable='false')
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label.o_form_invisible(for='o_field_input_18')
                                                | Sequence
                                        td(colspan='1', style='width: 100%;')
                                            input#o_field_input_18.o_form_input.o_form_field.o_form_invisible.o_form_field_number(type='text')
                        table.o_group.o_inner_group
                            tbody
                                tr
                                    td(colspan='2', style='width: 100%;')
                                        .o_horizontal_separator
                                            | Stage Description and Tooltips
                                tr
                                    td(colspan='2', style='width: 100%;')
                                        p.text-muted(colspan='2')
                                            | At each stage employees can block or make task/issue ready for next stage.
                                            | You can define here labels that will be displayed for the state instead
                                            | of the default labels.
                                tr
                                    td.o_td_label(colspan='1')
                                        span.spancircles1
                                    td(colspan='1', style='width: 100%;')
                                        input#o_field_input_19.o_form_input.o_form_field(type='text')
                                        button.o_field_translate.fa.fa-globe.btn.btn-link.o_translate_active(type='button')
                                tr
                                    td.o_td_label(colspan='1')
                                        span.spancircles2
                                    td(colspan='1', style='width: 100%;')
                                        input#o_field_input_20.o_form_input.o_form_field(type='text')
                                        button.o_field_translate.fa.fa-globe.btn.btn-link.o_translate_active(type='button')
                                tr
                                    td.o_td_label(colspan='1')
                                        span.spancircles3
                                    td(colspan='1', style='width: 100%;')
                                        input#o_field_input_21.o_form_input.o_form_field(type='text')
                                        button.o_field_translate.fa.fa-globe.btn.btn-link.o_translate_active(type='button')
                                tr
                                    td(colspan='2', style='width: 100%;')
                                        p.text-muted(colspan='2')
                                            | You can also give a tooltip about the use of the stars available in the kanban and form views.
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label.o_form_label_help.fa.fa-star.fa-lg.o_star_on.oe_project_kanban_legend(for='o_field_input_22', data-original-title='', title='')
                                    td(colspan='1', style='width: 100%;')
                                        input#o_field_input_22.o_form_input.o_form_field(type='text')
                                        button.o_field_translate.fa.fa-globe.btn.btn-link.o_translate_active(type='button')
                                tr
                                    td(colspan='2', style='width: 100%;')
                                        p.text-muted(colspan='2')
                                            | You can also add a description to help your coworkers understand the meaning and purpose of the stage.
                                tr
                                    td(colspan='2', style='width: 100%;')
                                        textarea.o_form_textarea.o_form_field(rows='6', name='description', placeholder='Add a description...', style='resize: horizontal; height: 50px;')
                                        textarea.o_form_textarea.o_form_field(disabled='', style='position: absolute; opacity: 0; height: 10px; top: -10000px; left: -10000px; width: 826px;')
                                        button.o_field_translate.fa.fa-globe.btn.btn-link.o_translate_active(type='button')





